enContent/WebContent/xsd/$ahV10.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:$ahV10" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:$ahV10">
	<!--Schema version 2.3.2 - Generated by SWIFTStandards Workstation (build:R2.3.2.2_DEV) on Jun 25 12:07:27-->

	<xs:element name="AppHdr" type="AppHdr">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ApplicationHeader</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AppHdr">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AppHdr</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="From" type="EntityIdentification">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">From</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The entity being the business responsible for submitting this message. The type of identification must be determined when defining the Standards.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="To" type="EntityIdentification">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">To</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The entity that the "From" business entity has chosen to be the business receiver of the message. The type of identification must be determined when defining the Standards. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SvcName" type="Max30Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ServiceName</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The SWIFTNet service name. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="MsgName" type="Max30Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageName</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identifies the type of business transaction described in the payload. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MsgRef" type="Max30Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageReference</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">It uniquely identifies a Message from a business application standpoint. It
					must be unique between a "From" and a "To". </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CrDate" type="ISODateTime">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Time when the message was created. This is the time the "From" claims to have created the message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Dup" type="DuplicateIndication">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Dup</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Indicates this message is a duplicate. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityIdentification">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">EntityIdentification</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="Max4Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The type of identifier. This can be the URI of the registrar of the names.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Id" type="Max30Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">EntityIdentifier</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Information about the duplicate.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DuplicateIndication">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">DuplicateIndication</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Ref" type="Max30Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The reference of the original message, in case this is a duplicate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Info" type="Max140Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Justification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Information about the duplicate. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max140Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max30Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max30Text</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max4Text</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
</xs:schema>
