enContent/WebContent/xsd/acmt.015.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: acmt.015_T2S
Usage Guideline: acmt.015.001.02_T2S
Base Message: acmt.015.001.02
Date of publication: 14 December 2018
URL: https://www2.swift.com/mystandards/#/mp/mx/_5heAYP3oEeim9Z_TAg8nbg/_5heAYf3oEeim9Z_TAg8nbg
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2019-01-17T15:47:21+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:acmt.015.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:acmt.015.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountExcludedMandateMaintenanceRequestV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountExcludedMandateMaintenanceRequestV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The AccountExcludedMandateMaintenanceRequest message is sent from an organisation to a financial institution as part of the account maintenance process. It is the initial request message to update an account. Usage: this update is about account details excluding any mandate information.&#13;
If modification codes are not used: the organisation will specify under the “Account” and “Organisation” tags the complete information as it should be in the financial institution’s records after processing the update request. &#13;
If modification codes are used (in that case, they must be used everywhere): the organisation will specify under the “Account” and “Organisation” tags which elements must be added, deleted, modified, or if they are unchanged.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Refs" type="References4__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">References</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements for the identification of the message and related references.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Acct" type="CustomerAccountModification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcctSvcrId" type="BranchAndFinancialInstitutionIdentification5__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Org" type="OrganisationModification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Organisation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Organised structure that is set up for a particular purpose, for example, a business, government body, department, charity, or financial institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification4Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressModification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressModification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of change to the address.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Adr" type="PostalAddress6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification5__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CodeOrProprietary1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CodeOrProprietary1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format between an ISO 20022 code and a proprietary code.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="Max4Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Element expressed as an ISO 20022 code from an external list.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CustomerAccountModification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CustomerAccountModification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account owned by a customer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Id" type="AccountIdentification4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ccy" type="ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FlrNtfctnAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FloorNotificationAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the value of the balance under which a notification will be sent to the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClngNtfctnAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CeilingNotificationAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the value of the balance above which a notification will be sent to the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsgDt" type="RestrictedISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClosingDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date when the account will be or was closed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="Rstrctn" type="RestrictionModification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Restriction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Restriction on capability or operations allowed.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AcctExcldMndtMntncReq" type="AccountExcludedMandateMaintenanceRequestV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification8__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification8__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BICFI" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FullLegalNameModification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FullLegalNameModification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of change to the full legal name.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ModCd" type="Modification1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ModificationCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of change.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FullLglNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FullLegalName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINX2Max34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a message by a unique identifier and the date and time when the message was created by the sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="RestrictedISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of creation of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Modification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Modification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an item is added, modified, deleted or unchanged.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOCH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoChange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the item is not changed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MODI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Modification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the item is modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DELE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Deletion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the item is deleted.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ADDD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Addition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the item is added.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification8__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OrganisationIdentification8__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AnyBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution or non financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationModification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OrganisationModification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information which describes the organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FullLglNm" type="FullLegalNameModification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FullLegalName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtryOfOpr" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountryOfOperation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country in which the organisation has its business activity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LglAdr" type="AddressModification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LegalAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Is the address where the entity resides and is registered. More generically, it is the home address (Residential address).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrgId" type="OrganisationIdentification8__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrganisationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way of identifying an organisation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="References4__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">References4__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements for the identification of the message and related references.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a message by a unique identifier and the date and time when the message was created by the sender.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrcId" type="MessageIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a process by a unique identifier and the date and time when the first message belonging to the process was created by the sender. The process identification remains the same in all messages belonging to the same process, from the initial request message to the final account report closing the process.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINX2Max34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINX2Max34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,34}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Restriction1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Restriction1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Restriction on capability or operations allowed.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RstrctnTp" type="CodeOrProprietary1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RestrictionType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the restriction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VldFr" type="RestrictedISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidFrom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date from when the restriction is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VldUntil" type="RestrictedISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidUntil</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date until when the restriction is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RestrictionModification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictionModification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of change to a restriction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Rstrctn" type="Restriction1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Restriction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Restriction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
