enContent/WebContent/xsd/acmt.005.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2017 Jan 13 14:45:56, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2016.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:acmt.005.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:acmt.005.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Account23">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Account23</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Business relationship between two entities; one entity is the account owner, the other entity is the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AcctId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdAcctDtls" type="GenericIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedAccountDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information about the account to which the existing account is to be linked.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountManagementMessageReference4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountManagementMessageReference4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information about the references of an account management instruction message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LkdRef" type="LinkedMessage4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LinkedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StsReqTp" type="AccountManagementType3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusRequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of account management instruction for which the status  is requested or a request to know the status of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctApplId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountApplicationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of the account opening or account modification instruction at application level.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ExstgAcctId" type="Account23">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExistingAccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to which the account opening is related.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtAcct" type="InvestmentAccount53">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvestmentAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account information for which the status of an account management instruction is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AccountManagementType3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountManagementType3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the instruction for which an status is required.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountModification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Refers to an account modification instruction message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACCO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOpening</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Refers to an account opening instruction message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GACC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GetAccountDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Refers to a get account details message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Refers to the account status.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalReference6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdditionalReference6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reference to a related message or transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message identification of a message. This reference was assigned by the party issuing the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification90Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issuer of the reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ReqForAcctMgmtStsRpt" type="RequestForAccountManagementStatusReportV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GenderCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenderCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the gender of a person.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MALE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Male</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Individual is a male.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FEMA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Female</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Individual is a female.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification47</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification81">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification81</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to the identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a party, such as a tax or social security identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdTp" type="OtherIdentification3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IdentificationType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IndividualPerson30">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IndividualPerson30</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Human entity, as distinguished from a corporate entity (which is sometimes referred to as an 'artificial person').</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GivenName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">First name of the person.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MddlNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MiddleName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Second name of the person.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which the party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Gndr" type="GenderCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Gender</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Gender of the person.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BirthDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BirthDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the person is born.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IndividualPersonIdentification2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IndividualPersonIdentification2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of formats for the identification of an individual person.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="IdNb" type="GenericIdentification81">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IdentificationNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a party, such as a tax or social security identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrsnNm" type="IndividualPerson30">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PersonName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Human entity, as distinguished from a corporate entity (which is sometimes referred to as an 'artificial person').</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount53">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InvestmentAccount53</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information about a securities account and its characteristics.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AcctId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the account. It provides an additional means of identification, and is designated by the account servicer in agreement with the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDsgnt" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountDesignation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Supplementary registration information applying to a specific block of units for dealing and reporting purposes. The supplementary registration information may be used when all the units are registered, for example, to a funds supermarket, but holdings for each investor have to reconciled individually.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OwnrId" type="OwnerIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OwnerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the owner of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification70Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that manages the account on behalf of the account owner, that is manages the registration and booking of entries on the account, calculates balances on the account and provides information about the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LEIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LinkedMessage4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LinkedMessage4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reference to a message.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="PrvsRef" type="AdditionalReference6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message that was previously sent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OthrRef" type="AdditionalReference6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message sent in a proprietary way or reference of a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a message by a unique identifier and the date and time when the message was created by the sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of creation of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OtherIdentification3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of formats for the specification of other identification.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="PartyIdentificationType7Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of identification expressed as a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification47">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of identification expressed as a proprietary code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OwnerIdentification2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OwnerIdentification2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of individual or organisation details.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="IndvOwnrId" type="IndividualPersonIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IndividualOwnerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the individual person.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrgOwnrId" type="PartyIdentification95">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrganisationOwnerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of an organisation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification70Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification70Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtryId" type="GenericIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NmAndAdr" type="NameAndAddress5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name and address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification90Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification90Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of formats for the identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party expressed as a BIC.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtryId" type="GenericIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to the party using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NmAndAdr" type="NameAndAddress5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name and address of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification95">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification95</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a person or an organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PartyIdentification70Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier for an organisation that is allocated by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LglNttyIdr" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LegalEntityIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the organisation with a Legal Entity Identifier. This is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyIdentificationType7Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentificationType7Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alternative identification of a party, for example, national registration identification number, passport number, tax identification number.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdoptionTaxpayerIdentificationNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Temporary tax processing number (used in the domestic adoption of a child).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IDCD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IdentityCardNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned by a national authority to an identity card.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NRIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NationalRegistrationIdentificationNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">National registration identification number. In Singapore this is known as the NRIC.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Another type of identification type.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PASS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PassportNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned by a passport authority to a passport.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="POCD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostOfficeCardNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Post office card number as assigned by a national post office.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SOCS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SocialSecurityNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned by a social security agency.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SRSA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SRSAccountNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Supplementary retirement scheme account number.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GUNL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GunLicenseNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Gun license number as assigned by a gun licensing authority.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GTIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GenericTaxIdentificationNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Generic tax identification number.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ITIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IndividualTaxpayerIdentificationNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax processing number.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CPFA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CPFAccountNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account issued by the Central Provident Fund Board (Singapore).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AREG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlienRegistrationNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned by a government agency to identify foreign nationals.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DRLC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DriversLicenseNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned by a license authority to a driver's license.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EMID">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EmployerIdentificationNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned to an employer by a registration authority.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NINV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NonResidentInvestor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the type of investor registered at a securities and exchange commission.  </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INCL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IndustryClassification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number, typically assigned by a government to describe ownership, administrative and authoritative relations.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GIIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GlobalIntermediaryIdentificationNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Global intermediary tax identification number.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country for example, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestForAccountManagementStatusReportV05">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestForAccountManagementStatusReportV05</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The RequestForAccountManagementStatusReport message is sent by an account owner, for example, an investor or its designated agent, to the account servicer, for example, a registrar, transfer agent, custodian bank or securities depository  to request the status of an AccountOpeningInstruction,  GetAccountDetails or an AccountModificationInstruction.&#13;
Usage&#13;
The RequestForAccountManagementStatusReport message is used to request the processing status of a previously sent AccountOpeningInstruction, GetAccountDetails or an AccountModificationInstruction message for which an AccountDetailsConfirmation message has not yet been received.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference that uniquely identifies a message from a business application standpoint. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqDtls" type="AccountManagementMessageReference4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the account for which the status of the account management instruction is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
