enContent/WebContent/xsd/camt.007.001.06.ch.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
(C) Copyright 2016, SIX Interbank Clearing Ltd
XML Schema used in the Swiss Interbank space:
	Suffix part 1: .ch:	Identification as a Swiss (CH) version
	Suffix part 2: .01:   Version of this scheme

This schema is a customised schema for the specific requirements of SIC4, and is not the official SWIFT schema. 
The full SWIFT schema may be found on www.swift.com

For comments and suggestions please contact pm@six-group.com
-->
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/camt.007.001.06.ch.01"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.six-interbank-clearing.com/de/camt.007.001.06.ch.01"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_CH_camt007"/>
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDR"/>
      <xs:enumeration value="BIZZ"/>
      <xs:enumeration value="DLVY"/>
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="MLTO"/>
      <xs:enumeration value="PBOX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICFIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
      <xs:element name="BrnchId" type="BranchData2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5_CH_camt007">
    
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8_CH_camt007"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5_CH_camt007_2">
    
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8_CH_camt007_2"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="BranchData2">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification2Choice_CH_camt007">
    
        <xs:choice>
          <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Clearing System Identification (code)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des Clearingsystems (Code)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Zulässiger ISO-Codewert: CHSIC (IID, 6-stellig).</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Permitted ISO code value: CHSIC (IID, 6 digits).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Prtry" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Clearing System Identification (proprietary)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des Clearingsystems (proprietär)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Wird aktuell nicht unterstützt.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Is currently not supported.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
      <xs:element name="MmbId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2_CH_camt007">
    
        <xs:sequence>
          <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice_CH_camt007" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Clearing System Identification</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des Clearingsystems</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Verwendung zwingend zwecks eindeutiger Identifizierung der verwendeten Adressierungsart.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Must be used to unambiguously identify the address type.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MmbId" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Member Identification</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des Teilnehmers</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">IID (=6n)</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">IID (=6n)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DateTimePeriodChoice">
    <xs:choice>
      <xs:element name="FrDtTm" type="ISODateTime"/>
      <xs:element name="ToDtTm" type="ISODateTime"/>
      <xs:element name="DtTmRg" type="DateTimePeriodDetails"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DateTimePeriodDetails">
    <xs:sequence>
      <xs:element name="FrDtTm" type="ISODateTime"/>
      <xs:element name="ToDtTm" type="ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="ModfyTx" type="ModifyTransactionV06"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_CH_camt007">
    
        <xs:sequence>
          <xs:element name="ModfyTx" type="ModifyTransactionV06_CH_camt007"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="EntryTypeIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[BEOVW]{1,1}[0-9]{2,2}|DUM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalClearingSystemIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification8">
    <xs:sequence>
      <xs:element name="BICFI" type="BICFIIdentifier" minOccurs="0"/>
      <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
      <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification8_CH_camt007">
    
        <xs:sequence>
          <xs:element name="BICFI" type="BICFIIdentifier" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Identification of Instructing Participant (BIC)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des zahlenden Teilnehmers (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
SWIFT-Adresse mit 8 oder 11 alphanumerischen Zeichen.
Element darf nicht gleichzeitig mit &lt;ClrSysMmbId&gt; verwendet werden.
Muss einen gültigen Wert gemäss ISO 9362 enthalten.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
SWIFT address with 8 or 11 alphanumeric characters.
This element must not be used at the same time as &lt;ClrSysMmbId&gt;.
Must contain a valid value according to ISO 9362.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_CH_camt007" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Identification of Instructing Participant (proprietary)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des zahlenden Teilnehmers (proprietär)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Element darf nicht gleichzeitig mit &lt;BICFI&gt; verwendet werden.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">This element must not be used at the same time as &lt;BICFI&gt;.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Othr" type="GenericFinancialIdentification1_CH_camt007" minOccurs="0"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification8_CH_camt007_2">
    
        <xs:sequence>
          <xs:element name="BICFI" type="BICFIIdentifier" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Identification of Instructed Participant (BIC)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des gutzuschreibenden Teilnehmers (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
SWIFT-Adresse mit 8 oder 11 alphanumerischen Zeichen.
Element darf nicht gleichzeitig mit &lt;ClrSysMmbId&gt; verwendet werden.
Muss einen gültigen Wert gemäss ISO 9362 enthalten.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
SWIFT address with 8 or 11 alphanumeric characters.
This element must not be used at the same time as &lt;ClrSysMmbId&gt;.
Must contain a valid value according to ISO 9362.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_CH_camt007" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Identification of Instructed Participant (proprietary)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des gutzuschreibenden Teilnehmers (proprietär)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Element darf nicht gleichzeitig mit &lt;BICFI&gt; verwendet werden.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">This element must not be used at the same time as &lt;BICFI&gt;.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1_CH_camt007">
    
        <xs:sequence>
          <xs:element name="Id" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Identification of the Instructing Participant (on behalf)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des zahlenden Teilnehmers (im Auftrag)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Mutation wird für einen Teilnehmer (im Auftrag) durchgeführt. Muss die IID des dafür beauftragten Teilnehmers enthalten.
Mutation durch den zahlenden Teilnehmer der Ursprungsmeldung: Darf nicht verwendet werden.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
Modification is carried out on behalf of another participant. Must contain the IID of the participant instructed to do so.
Modification by the paying participant of the original message: Must not be used.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="ImpliedCurrencyAndAmount">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Instruction1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PBEN"/>
      <xs:enumeration value="TFRO"/>
      <xs:enumeration value="TTIL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:complexType name="LongPaymentIdentification1">
    <xs:sequence>
      <xs:element name="TxId" type="Max35Text"/>
      <xs:element name="IntrBkSttlmAmt" type="ImpliedCurrencyAndAmount"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate"/>
      <xs:element name="PmtMtd" type="PaymentOrigin1Choice" minOccurs="0"/>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5"/>
      <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification5"/>
      <xs:element name="NtryTp" type="EntryTypeIdentifier" minOccurs="0"/>
      <xs:element name="EndToEndId" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LongPaymentIdentification1_CH_camt007">
    
        <xs:sequence>
          <xs:element name="TxId" type="Max35Text_CH_camt007">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Transaction Identification</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Transaktionsreferenz</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Transaktionsreferenz der zu mutierenden Meldung.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Transaction identification of the message to be modified.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IntrBkSttlmAmt" type="ImpliedCurrencyAndAmount">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Settlement Amount</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Verrechnungsbetrag</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Muss mit dem Verrechnungsbetrag der zu mutierenden Zahlung übereinstimmen.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Must be the same as the settlement amount of the payment to be modified.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IntrBkSttlmDt" type="ISODate">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Requested Settlement Date</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Valuta-Soll</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Muss mit dem Valuta-Soll der zu mutierenden Zahlung übereinstimmen.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Must be the same as the requested settlement date of the payment to be modified.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5_CH_camt007">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Instructing Participant</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Zahlender Teilnehmer</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Die eingelieferte Identifikationsart (BIC/IID) muss mit der verwendeten Identifikationsart in der zu mutierenden Meldung übereinstimmen.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">The type of identification that is sent (BIC/IID) must be the same as the type of identification used in the message to be modified.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification5_CH_camt007_2">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Instructed Participant</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Gutzuschreibender Teilnehmer</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Die eingelieferte Identifikationsart (BIC/IID) muss mit der verwendeten Identifikationsart in der zu mutierenden Meldung übereinstimmen.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">The type of identification that is submitted (BIC/IID) must be the same as the type of identification used in the message to be modified.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_camt007">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max3NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MessageHeader1">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="CreDtTm" type="ISODateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageHeader1_CH_camt007">
    
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_CH_camt007">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Message Identification</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Meldungsidentifikation</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
              <xs:documentation xml:lang="EN" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="CreDtTm" type="ISODateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Creation Date Time</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Erstellungszeitpunkt der Meldung</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
              <xs:documentation xml:lang="EN" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="ModifyTransactionV06">
    <xs:sequence>
      <xs:element name="MsgHdr" type="MessageHeader1"/>
      <xs:element name="Mod" type="TransactionModification3" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModifyTransactionV06_CH_camt007">
    
        <xs:sequence>
          <xs:element name="MsgHdr" type="MessageHeader1_CH_camt007"/>
          <xs:element name="Mod" type="TransactionModification3_CH_camt007">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="PaymentIdentification4Choice">
    <xs:choice>
      <xs:element name="TxId" type="Max35Text"/>
      <xs:element name="QId" type="QueueTransactionIdentificationDetails"/>
      <xs:element name="LngBizId" type="LongPaymentIdentification1"/>
      <xs:element name="ShrtBizId" type="ShortPaymentIdentification1"/>
      <xs:element name="PrtryId" type="Max70Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PaymentIdentification4Choice_CH_camt007">
    
        <xs:choice>
          <xs:element name="LngBizId" type="LongPaymentIdentification1_CH_camt007"/>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="PaymentInstruction12">
    <xs:sequence>
      <xs:element name="Instr" type="Instruction1Code" minOccurs="0"/>
      <xs:element name="Tp" type="PaymentType4Choice" minOccurs="0"/>
      <xs:element name="Prty" type="PriorityCode3Choice" minOccurs="0"/>
      <xs:element name="PrcgVldtyTm" type="DateTimePeriodChoice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentInstruction12_CH_camt007">
    
        <xs:sequence>
          <xs:element name="Tp" type="PaymentType4Choice_CH_camt007"/>
          <xs:element name="Prty" type="PriorityCode3Choice_CH_camt007" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Priority</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Priorität</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Wird das Element nicht verwendet, dann wird die Zahlung an das Ende der Wartedatei derselben Priorität gestellt. 
Wird das Element geliefert, wird es an das Ende der angegebenen Wartedatei gestellt.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
If the element is not used, then the payment will be put at the end of the wait file with the same priority. 
If the element is delivered, it will be put at the end of the indicated wait file.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="PaymentInstrument1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BCT"/>
      <xs:enumeration value="BDT"/>
      <xs:enumeration value="BKT"/>
      <xs:enumeration value="CAN"/>
      <xs:enumeration value="CCP"/>
      <xs:enumeration value="CCT"/>
      <xs:enumeration value="CDT"/>
      <xs:enumeration value="CHK"/>
      <xs:enumeration value="DCP"/>
      <xs:enumeration value="RTI"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentOrigin1Choice">
    <xs:choice>
      <xs:element name="FINMT" type="Max3NumericText"/>
      <xs:element name="XMLMsgNm" type="Max35Text"/>
      <xs:element name="Prtry" type="Max35Text"/>
      <xs:element name="Instrm" type="PaymentInstrument1Code"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="PaymentType3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BAL"/>
      <xs:enumeration value="BCK"/>
      <xs:enumeration value="CBH"/>
      <xs:enumeration value="CBP"/>
      <xs:enumeration value="CBS"/>
      <xs:enumeration value="CLS"/>
      <xs:enumeration value="CTR"/>
      <xs:enumeration value="DPG"/>
      <xs:enumeration value="DPH"/>
      <xs:enumeration value="DPN"/>
      <xs:enumeration value="DPP"/>
      <xs:enumeration value="DPS"/>
      <xs:enumeration value="EXP"/>
      <xs:enumeration value="LIQ"/>
      <xs:enumeration value="LMT"/>
      <xs:enumeration value="LOA"/>
      <xs:enumeration value="LOR"/>
      <xs:enumeration value="MGL"/>
      <xs:enumeration value="OND"/>
      <xs:enumeration value="STF"/>
      <xs:enumeration value="TCH"/>
      <xs:enumeration value="TCP"/>
      <xs:enumeration value="TCS"/>
      <xs:enumeration value="TRP"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentType4Choice">
    <xs:choice>
      <xs:element name="Cd" type="PaymentType3Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PaymentType4Choice_CH_camt007">
    
        <xs:choice>
          <xs:element name="Prtry" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Modification Type (proprietary)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Mutationstyp (proprietär)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Folgender Code ist zu verwenden: SEQMOD - Mutation Wartedatei-Position / Mutation der Priorität</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">The following code has to be used: SEQMOD - Modification of position in wait file / Modification of priority</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="PostalAddress6">
    <xs:sequence>
      <xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
      <xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Priority1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HIGH"/>
      <xs:enumeration value="LOWW"/>
      <xs:enumeration value="NORM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PriorityCode3Choice">
    <xs:choice>
      <xs:element name="Cd" type="Priority1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PriorityCode3Choice_CH_camt007">
    
        <xs:choice>
          <xs:element name="Prtry" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Settlement priority</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Verrechnungspriorität</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Folgende 3 Prioritätsstufen stehen zur Verfügung:
NORM = Normale Priorität, tiefste Stufe
HIGH = Hohe Priorität, mittlere Stufe
URGT = Dringende Priorität, höchste Stufe
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
The following 3 levels of priority may be used:
NORM = Normal priority, lowest level 
HIGH = High priority, medium level 
URGT = Urgent priority, highest level
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="QueueTransactionIdentificationDetails">
    <xs:sequence>
      <xs:element name="QId" type="Max16Text"/>
      <xs:element name="PosInQ" type="Max16Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShortPaymentIdentification1">
    <xs:sequence>
      <xs:element name="TxId" type="Max35Text"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate"/>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionModification3">
    <xs:sequence>
      <xs:element name="PmtId" type="PaymentIdentification4Choice"/>
      <xs:element name="NewPmtValSet" type="PaymentInstruction12"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionModification3_CH_camt007">
    
        <xs:sequence>
          <xs:element name="PmtId" type="PaymentIdentification4Choice_CH_camt007">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="NewPmtValSet" type="PaymentInstruction12_CH_camt007"/>
        </xs:sequence>
      
  </xs:complexType>
</xs:schema>
