enContent/WebContent/xsd/camt.011.001.06.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: camt.011_T2S
Usage Guideline: camt.011.001.06_T2S
Base Message: DRAFT1camt.011.001.06
Date of publication: 14 December 2018
URL: https://www2.swift.com/mystandards/#/mp/mx/_W2aBoP4LEei_kc1HmwykSg/_W2aBof4LEei_kc1HmwykSg
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2019-01-17T15:47:24+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT1camt.011.001.06" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT1camt.011.001.06">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Amount2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Amount2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between an amount with or without the currency.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="AmtWthCcy" type="RestrictedFINActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmountWithCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is explicit.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification5__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndDateTimeChoice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Dt" type="RestrictedISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ModfyLmt" type="ModifyLimitV06"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification8__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification8__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BICFI" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINX2Max34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Limit6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Limit6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details on the limits.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StartDtTm" type="DateAndDateTimeChoice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the limit becomes effective.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Amt" type="Amount2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money of the limit, expressed in an eligible currency.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LimitIdentification1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LimitIdentification1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Limit details of one particular limit set by the member and managed by the transaction administrator.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cur" type="LimitIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Current</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the current limit.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="LimitIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LimitIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the identification details to uniquely identify a limit within the system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysId" type="SystemIdentification2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a particular cash clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BilLmtCtrPtyId" type="BranchAndFinancialInstitutionIdentification5__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BilateralLimitCounterpartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the system member for which the limit is established.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="LimitType1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nature of the risk management limit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="BranchAndFinancialInstitutionIdentification5__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Owner of the account which is being queried.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="AccountIdentification4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LimitStructure1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LimitStructure1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Limit details of one particular limit set by the member and managed by the transaction administrator.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="LmtId" type="LimitIdentification1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the default limit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NewLmtValSet" type="Limit6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewLimitValueSet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">New limit values.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LimitType1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LimitType1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Nature of the risk management limit defined as a choice between a coded list or a proprietary limit.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="LimitType3Code__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the limit, in a coded form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LimitType3Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LimitType3Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of risk management limit.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="UCDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnsecuredCredit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit is related to a cap amount granted by a national central bank or a settlement bank, but generally unsecured outside of the market infrastructure.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACOL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AutoCollateralisation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit is related to a credit operation that is or can be triggered when a buyer does not have a sufficient amount of money to settle a securities transaction in order to improve its cash position for the next settlement cycle. The credit provided can be secured using securities already held by the buyer (“collateral stocks”) or the securities that are being purchased (“collateral flows”).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXGT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExternalGuarantee</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit is related to a cap amount granted by a national central bank or a settlement bank.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketInfrastructureIdentification1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureIdentification1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the market infrastructure identification.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing system identification in a proprietary form.
.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MessageHeader1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax16Text_T2S_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.&#13;
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="RestrictedISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ModifyLimitV06">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ModifyLimitV06</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope
The ModifyLimit message is sent by a member to the transaction administrator.
It is used to request modifications in the details of one particular, several or all limits set by the member and managed by the transaction administrator.
Each ModifyLimit message can alter only one type of limit (current or default).
Usage
At any time during the operating hours of the system, the member can request modifications in the limits it has set. For example, the reason may be to unlock the payments queue regarding a particular member, or following a risk management decision issued after an exceptional event has occurred.
The member will submit a message requesting modifications in one or more of the following criteria: 
- type of limit (current/default)
- identification of the system
- identification of the counterparty
- value of the limit(s) (default and/or current limit(s))
- point in time when the limit becomes effective
Based on the criteria received within the ModifyLimit message, the transaction administrator will execute or reject the requested modification. The transaction administrator may send a Receipt message as a reply to the ModifyLimit request. To verify the outcome of the request, the member may submit a GetLimit message with the appropriate search criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LmtDtls" type="LimitStructure1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies one particular limit set by the member and managed by the transaction administrator.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINX2Max34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINX2Max34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,34}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text_T2S_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text_T2S_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z\-\?:\(\)\.,'\+](/?([0-9a-zA-Z\-\?:\(\)\.,'\+ ]/?)*[0-9a-zA-Z\-\?:\(\)\.,'\+]+)?"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemIdentification2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemIdentification2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information used to identify a cash clearing system.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="MktInfrstrctrId" type="MarketInfrastructureIdentification1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing service selected for a transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
</xs:schema>
