enContent/WebContent/xsd/camt.019.001.07.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.15) on 2019 Jan 18 08:22:54, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2018.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.019.001.07" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.019.001.07">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BusinessDay8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDay8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reports on business day information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SysId" type="SystemIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a particular market infrastructure.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BizDayOrErr" type="BusinessDayReportOrError10Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessDayOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Requested information on the system availability for a specific business day or business error when information has not been found.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDay9">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDay9</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Payment system operational information, such as opening, closure, session period or events, given per currency.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysDt" type="DateAndDateTime2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date for which the availability information is provided.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SysSts" type="SystemStatus3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of a system and the period of time during which the status is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SysInfPerCcy" type="SystemAvailabilityAndEvents3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemInformationPerCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information relating to system operations and foreseen events relating to the operation of the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDayReportOrError10Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDayReportOrError10Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between business day information details or a business error when the requested data cannot be retrieved.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="BizDayInf" type="BusinessDay9">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessDayInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Requested system details for a specific business day.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BizErr" type="ErrorHandling5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason the requested business information is not given.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BusinessDayReportOrError9Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDayReportOrError9Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between business day information details or an operational error when the requested data cannot be retrieved.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BizRpt" type="BusinessDay8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports either business day information or a business error.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="OprlErr" type="ErrorHandling5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OperationalError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that an operational error has been issued during the processing of the related request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClosureReason2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClosureReason2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Closure reason expressed as a code or a bilaterally agreed code.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="SystemClosureReason1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason the system is closed/not operating, in a coded form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason the system is closed/not operating, in a bilateral agreed code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTime2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Dt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriod1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Time span defined by a start date and time, and an end date and time.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the period starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the period ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriod1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between various date time patterns.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="FrDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtTmRg" type="DateTimePeriod1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTimeRange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Range of time between a start date and time and an end date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RtrBizDayInf" type="ReturnBusinessDayInformationV07"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the choice between the listed and the proprietary error codes.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalSystemErrorHandling1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in coded form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ErrorHandling5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the error resulting from the processing of a request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Err" type="ErrorHandling3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Error</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in coded or proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalEnquiryRequestType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalEnquiryRequestType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external request type code for the enquiry on a position in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code set published separately.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalMarketInfrastructure1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalMarketInfrastructure1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the market infrastructure identification, as published in an external market infrastructure code list.&#13;
This is a synonym of the external cash clearing system code list, extended outside the pure cash domains.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPaymentControlRequestType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalPaymentControlRequestType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external request type code for a payment control command in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code set published separately.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalSystemErrorHandling1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalSystemErrorHandling1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the error code as generated by the system in the response, as published in an external balance type code set.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalSystemEventType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalSystemEventType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type an event generated within a system, as published in an system event type code list.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISOTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:complexType name="MarketInfrastructureIdentification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureIdentification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the market infrastructure identification.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalMarketInfrastructure1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Infrastructure through which the payment instruction is processed, as published in an external clearing system identification code list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing system identification in a proprietary form.
.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader7">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader7</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqTp" type="RequestType4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific actions to be executed through the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlBizQry" type="OriginalBusinessQuery1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="QryNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Recalls the criteria (search and return criteria) defined in a preceding query.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalBusinessQuery1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the original requestor, to unambiguously identify the business query message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the original initiating party, to unambiguously identify the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNmId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageNameIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the query message name identifier to which the message refers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestType4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of action to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="PmtCtrl" type="ExternalPaymentControlRequestType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentControl</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request type is a control command on a set of transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Enqry" type="ExternalEnquiryRequestType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Enquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request type is an enquiry on a position or a transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request type is in proprietary format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ReturnBusinessDayInformationV07">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReturnBusinessDayInformationV07</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The ReturnBusinessDayInformation message is sent by the transaction administrator to a member of the system.&#13;
It is used to provide information on different types of administrative data linked to the system.&#13;
The ReturnBusinessDayInformation message can be sent as a response to a related GetBusines DayInformation message (pull mode), or initiated by the transaction administrator (push mode). The push of information can take place either at prearranged times or as a warning or alarm when a problem has occurred.&#13;
Usage&#13;
The transaction administrator is in charge of providing the members with business information. The term business day information covers all information related to the management of the system, that is, not related to the transactions or requests created in the system. The type of business information available can vary depending on the system.&#13;
The member can request information about the static data of the system through a series of criteria, corresponding to the known information stored within the transaction administrator. Based on the criteria received within the request, the transaction administrator will select items that match the request and report them to the requester.&#13;
The transaction administrator may also send a ReturnBusinessDayInformation message with pre-defined information at times previously agreed with the member or to warn the member about a particular problem that may have arisen and which needs attention.&#13;
The message from the transaction administrator can contain information based on the following elements:&#13;
- identification of the system&#13;
- status of the system and period in which this status is valid&#13;
- currency within the system concerned and details of the hours of availability linked to that particular currency&#13;
- events related to the functioning of the system and the timing of their occurrence&#13;
Additional information on the generic design of the Get/Return messages can be found in the MDR Part 1 section How to Use the Cash Management Messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptOrErr" type="BusinessDayReportOrError9Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports on business day information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemAvailabilityAndEvents3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemAvailabilityAndEvents3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details about the system availability and the related system events that might impact the availability.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysCcy" type="ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency which may be processed by the system. A system may process transactions in a single currency or in multiple currencies.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SsnPrd" type="TimePeriod1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SessionPeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Time window of system activity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Evt" type="SystemEvent3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Event</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed information about an event occurring on a system, whether planned, such as the cut-off time for a specific type of eligible transfer, or unplanned (an unsolicited failure), as stipulated in the specifications of the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClsrInf" type="SystemClosure2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClosureInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information regarding the closure time of a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemClosure2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemClosure2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information about inactivity of a system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="DateTimePeriod1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Period</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Period of time when the system is closed/not operating.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rsn" type="ClosureReason2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason the system is closed/not operating.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SystemClosureReason1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemClosureReason1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for system inactivity.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BHOL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankingHoliday</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is closed due to a bank holiday.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMTN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemMaintenance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is closed for maintenance reasons.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoOperation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is not processing any operation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RCVR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Recovery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is not operational during recovery operations.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ADTW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AllowedDowntimeWindow</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is not operational during allowed downtime windows.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemEvent3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemEvent3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides details on an event occurring in a system, whether planned or unplanned as stipulated in the specifications of the system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="SystemEventType4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nature of the event that has occurred.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SchdldTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ScheduledTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the event is foreseen to occur.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EffectiveTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the event effectively takes place.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StartTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Time at which the event starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EndTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Time at which the event ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemEventType4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemEventType4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of system event.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalSystemEventType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of system event that has occurred, expressed in a coded form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of system event that has occurred, expressed as free text or a bilaterally agreed code.
.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SystemIdentification2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemIdentification2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information used to identify a cash clearing system.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="MktInfrstrctrId" type="MarketInfrastructureIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing service selected for a transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country in which the system is located.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SystemStatus2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemStatus2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status of a system and the period of time during which the status is valid.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="SystemStatus2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of the system, in a coded form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of the system, in a proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SystemStatus2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemStatus2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of a system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Suspended</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is suspended, that is, not operational.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACTV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Active</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is functioning normally, that is, operational.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLSD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Closed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is closed (eg. normal closure of an RTGS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLSG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Closing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System needs to wait for completion of intermediate internal activities before going to a status Closed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemStatus3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemStatus3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status of a system and the period of time during which the status is valid.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sts" type="SystemStatus2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Current status of a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtyTm" type="DateTimePeriod1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidityTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Period of time during which the status of the system is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimePeriod1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TimePeriod1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Particular time span specified between a start time and an end time. The time period cannot exceed 24 hours.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrTm" type="ISOTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Time at which the time span starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToTm" type="ISOTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Time at which the time span ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
