enContent/WebContent/xsd/camt.006.001.06.ch.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
(C) Copyright 2016, SIX Interbank Clearing Ltd
XML Schema used in the Swiss Interbank space:
	Suffix part 1: .ch:	Identification as a Swiss (CH) version
	Suffix part 2: .02:   Version of this scheme

This schema is a customised schema for the specific requirements of SIC4, and is not the official SWIFT schema. 
The full SWIFT schema may be found on www.swift.com

For comments and suggestions please contact pm@six-group.com
-->
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/camt.006.001.06.ch.02"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.six-interbank-clearing.com/de/camt.006.001.06.ch.02"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_CH_camt006"/>
  <xs:complexType name="AccountIdentification4Choice">
    <xs:choice>
      <xs:element name="IBAN" type="IBAN2007Identifier"/>
      <xs:element name="Othr" type="GenericAccountIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice_CH_camt006">
    
        <xs:choice>
          <xs:element name="Othr" type="GenericAccountIdentification1_CH_camt006">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Other Identification</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Sonstige Identifikation</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="AccountSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ActiveCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ActiveCurrencyAndAmount_CH_camt006">
    <xs:simpleContent>
      <xs:restriction base="ActiveCurrencyAndAmount">
        <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
          <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Currency Code</xs:documentation>
            <xs:documentation source="Name" xml:lang="DE">Währungscode</xs:documentation>
            <xs:documentation xml:lang="DE" source="Definition"/>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDR"/>
      <xs:enumeration value="BIZZ"/>
      <xs:enumeration value="DLVY"/>
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="MLTO"/>
      <xs:enumeration value="PBOX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Amount2Choice">
    <xs:choice>
      <xs:element name="AmtWthtCcy" type="ImpliedCurrencyAndAmount"/>
      <xs:element name="AmtWthCcy" type="ActiveCurrencyAndAmount"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Amount2Choice_CH_camt006">
    
        <xs:choice>
          <xs:element name="AmtWthCcy" type="ActiveCurrencyAndAmount_CH_camt006">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Settlement Amount</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Verrechnungsbetrag</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="Amount3Choice">
    <xs:choice>
      <xs:element name="AmtWthCcy" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="AmtWthtCcy" type="ImpliedCurrencyAndAmount"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="AnyBICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICFIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
      <xs:element name="BrnchId" type="BranchData2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5_CH_camt006">
    
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8_CH_camt006"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5_CH_camt006_2">
    
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8_CH_camt006_2"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="BranchData2">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CancelledStatusReason1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANI"/>
      <xs:enumeration value="CANS"/>
      <xs:enumeration value="CSUB"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CashAccount25">
    <xs:sequence>
      <xs:element name="Id" type="AccountIdentification4Choice"/>
      <xs:element name="Tp" type="CashAccountType2Choice" minOccurs="0"/>
      <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0"/>
      <xs:element name="Nm" type="Max70Text" minOccurs="0"/>
      <xs:element name="Ownr" type="PartyIdentification43" minOccurs="0"/>
      <xs:element name="Svcr" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount25_CH_camt006">
    
        <xs:sequence>
          <xs:element name="Id" type="AccountIdentification4Choice_CH_camt006">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Settlement Account Identification</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Verrechnungskontoidentifikation</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="CashAccountAndEntry1">
    <xs:sequence>
      <xs:element name="Acct" type="CashAccount25"/>
      <xs:element name="Ntry" type="CashEntry1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccountAndEntry1_CH_camt006">
    
        <xs:sequence>
          <xs:element name="Acct" type="CashAccount25_CH_camt006">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Settlement Account Information</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Verrechnungskontoinformationen</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="Ntry" type="CashEntry1_CH_camt006" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Entry Information</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Einlieferungsdaten</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="CashAccountType2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalCashAccountType1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CashEntry1">
    <xs:sequence>
      <xs:element name="Amt" type="ActiveCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="Dt" type="DateAndDateTimeChoice" minOccurs="0"/>
      <xs:element name="Sts" type="EntryStatus1Code" minOccurs="0"/>
      <xs:element name="Id" type="Max35Text" minOccurs="0"/>
      <xs:element name="StmtId" type="Max35Text" minOccurs="0"/>
      <xs:element name="AcctSvcrRef" type="Number" minOccurs="0"/>
      <xs:element name="AddtlNtryInf" type="Max140Text" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashEntry1_CH_camt006">
    
        <xs:sequence>
          <xs:element name="Dt" type="DateAndDateTimeChoice_CH_camt006_2" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Entry Date</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Einlieferungsdatum</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddtlNtryInf" type="Max140Text" minOccurs="0" maxOccurs="3">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Additional Entry Information</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Zusatzinformationen</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Für jede Zusatzinformation wird eine Ausprägung des Elements geliefert.
Jede Ausprägung beginnt mit einem 3-stelligen Code gefolgt von einem «/» und ergänzenden Informationen. 
Es werden maximal 3 Ausprägungen geliefert:
OIM/ + Original Input Message Type (pacs.00x, camt.050, SIC MT xxx, FIN MTxxx)
CS1/ + 1 (für die zwischen CS-1 und CS-2 eingelieferten Ausgleichszahlungen)
RSN/ + Annullierungstext («Cancelled by SIC» für Zahlungen, die von SIC annulliert wurden)
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
Each additional information is provided in a separate instance of the element.
Each occurrence starts with a 3-character code followed by a "/" and the appended information.
A maximum of 3 instances may be provided:
OIM/ + Original Input Message Type (pacs.00x, camt.050, SIC MT xxx, FIN MTxxx)
CS1/ + 1 (for cover payments received between CS 1 and CS 2)
RSN/ + Cancellation text ("Cancelled by SIC" for SIC cancelled transactions)
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
      <xs:element name="MmbId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2_CH_camt006">
    
        <xs:sequence>
          <xs:element name="MmbId" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Member Identification</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des Teilnehmers</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="ContactDetails2">
    <xs:sequence>
      <xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
      <xs:element name="Othr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CreditDebitCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRDT"/>
      <xs:enumeration value="DBIT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DateAndDateTimeChoice">
    <xs:choice>
      <xs:element name="Dt" type="ISODate"/>
      <xs:element name="DtTm" type="ISODateTime"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DateAndDateTimeChoice_CH_camt006">
    
        <xs:choice>
          <xs:element name="DtTm" type="ISODateTime">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Transaction Status Timestamp</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Zeitpunkt desTransaktionsstatus</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Zeitpunkt, zu dem der Zahlung vom RTGS-System der aktuelle Statuscode zugewiesen wurde (Verrechnungs-, Annullierungs- bzw. Inputzeitpunkt).</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Timestamp indicating the time when the current status of the transaction was assigned by the RTGS system (settlement, cancellation or input timestamp).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="DateAndDateTimeChoice_CH_camt006_2">
    
        <xs:choice>
          <xs:element name="DtTm" type="ISODateTime">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Entry Date Information</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Einlieferungszeitpunkt</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth">
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate"/>
      <xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
      <xs:element name="CityOfBirth" type="Max35Text"/>
      <xs:element name="CtryOfBirth" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateTimePeriodChoice">
    <xs:choice>
      <xs:element name="FrDtTm" type="ISODateTime"/>
      <xs:element name="ToDtTm" type="ISODateTime"/>
      <xs:element name="DtTmRg" type="DateTimePeriodDetails"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DateTimePeriodDetails">
    <xs:sequence>
      <xs:element name="FrDtTm" type="ISODateTime"/>
      <xs:element name="ToDtTm" type="ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DecimalNumber">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="17"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="RtrTx" type="ReturnTransactionV06"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_CH_camt006">
    
        <xs:sequence>
          <xs:element name="RtrTx" type="ReturnTransactionV06_CH_camt006"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="EntryStatus1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOOK"/>
      <xs:enumeration value="FUTR"/>
      <xs:enumeration value="PDNG"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EntryTypeIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[BEOVW]{1,1}[0-9]{2,2}|DUM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ErrorHandling1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X020"/>
      <xs:enumeration value="X030"/>
      <xs:enumeration value="X050"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ErrorHandling2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ErrorHandling1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ErrorHandling2Choice_CH_camt006">
    
        <xs:choice>
          <xs:element name="Prtry" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Error Code (proprietary)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Fehlercode (proprietär)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
In diesem Element wird ein Fehlercode in Form eines proprietären Codes geliefert.
Folgende Fehlercodes sind definiert:
NRSLT: Es wurden keine den Abfragekriterien entsprechenden Zahlungen gefunden
NAUTH: Abfrage ist nicht zugelassen
QYINV: Abfragekriterien ungültig
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
The reason for the error is specified by a proprietary error code.
The following error codes are defined:
NRSLT: No payments matching the query criteria were found
NAUTH: Query is not permitted
QYINV: Invalid query criteria
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="ErrorHandling4">
    <xs:sequence>
      <xs:element name="Err" type="ErrorHandling2Choice"/>
      <xs:element name="Desc" type="Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorHandling4_CH_camt006">
    
        <xs:sequence>
          <xs:element name="Err" type="ErrorHandling2Choice_CH_camt006">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Error</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Fehler</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="ExternalAccountIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCashAccountType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalClearingSystemIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalMarketInfrastructure1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalOrganisationIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPersonIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FinalStatus1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CAND"/>
      <xs:enumeration value="FNLD"/>
      <xs:enumeration value="RJTD"/>
      <xs:enumeration value="STLD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification8">
    <xs:sequence>
      <xs:element name="BICFI" type="BICFIIdentifier" minOccurs="0"/>
      <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
      <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification8_CH_camt006">
    
        <xs:sequence>
          <xs:element name="BICFI" type="BICFIIdentifier" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Identification of Instructed Participant (BIC)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des gutzuschreibenden Teilnehmers (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_CH_camt006" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Identification of Instructed Participant (proprietary)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des gutzuschreibenden Teilnehmers (proprietär)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="Othr" type="GenericFinancialIdentification1_CH_camt006" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Other Identification</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Sonstige Identifikation</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification8_CH_camt006_2">
    
        <xs:sequence>
          <xs:element name="BICFI" type="BICFIIdentifier" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Identification of Instructing Participant (BIC)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des zahlenden Teilnehmers (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_CH_camt006" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Identification of Instructing Participant (proprietary)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des zahlenden Teilnehmers (proprietär)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max34Text"/>
      <xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1_CH_camt006">
    
        <xs:sequence>
          <xs:element name="Id" type="Max34Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Settlement Account</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Verrechnungskonto</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
              <xs:documentation xml:lang="EN" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1_CH_camt006">
    
        <xs:sequence>
          <xs:element name="Id" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Assigned Identification of the Instructed Participant</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Zugewiesene Identifikation des gutzuschreibenden Teilnehmers</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Bei einer Verkettung oder Direktleitung vom RTGS-System zugewiesene Identifikation des gutzuschreibenden Teilnehmers.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Identification of the participant assigned by the RTGS system, when a concatenated identification or direct routing was used/applied.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="GenericIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification1_CH_camt006">
    
        <xs:sequence>
          <xs:element name="Id" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">RTGS Code</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikationscode des RTGS</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Fix «CSC» für SIC, «CEC» für euroSIC.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Fix "CSC" for SIC, "CEC" for euroSIC.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="IBAN2007Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ImpliedCurrencyAndAmount">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:complexType name="LongPaymentIdentification1">
    <xs:sequence>
      <xs:element name="TxId" type="Max35Text"/>
      <xs:element name="IntrBkSttlmAmt" type="ImpliedCurrencyAndAmount"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate"/>
      <xs:element name="PmtMtd" type="PaymentOrigin1Choice" minOccurs="0"/>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5"/>
      <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification5"/>
      <xs:element name="NtryTp" type="EntryTypeIdentifier" minOccurs="0"/>
      <xs:element name="EndToEndId" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarketInfrastructureIdentification1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalMarketInfrastructure1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="Max10Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max15NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,15}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max20000Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="20000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2048"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max256Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_camt006">
    <xs:restriction base="Max35Text">
      <xs:enumeration value="CAND"/>
      <xs:enumeration value="STLD"/>
      <xs:enumeration value="VALD"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max3NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4AlphaNumericText">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
      <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max5NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,5}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MessageHeader5">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="CreDtTm" type="ISODateTime" minOccurs="0"/>
      <xs:element name="MsgPgntn" type="Pagination" minOccurs="0"/>
      <xs:element name="OrgnlBizQry" type="OriginalBusinessQuery1" minOccurs="0"/>
      <xs:element name="ReqTp" type="RequestType2Choice" minOccurs="0"/>
      <xs:element name="QryNm" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageHeader5_CH_camt006">
    
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Message Identification</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Meldungsidentifikation</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Für dieses Element ist nur der SWIFT-Zeichensatz ohne Leerzeichen zugelassen.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Only the SWIFT character set excluding spaces is permitted for this element.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CreDtTm" type="ISODateTime">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Creation Date Time</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Erstellungszeitpunkt der Meldung</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="MsgPgntn" type="Pagination_CH_camt006">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Result Pagination Information</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Resultatseiten-Informationen</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
              <xs:documentation xml:lang="EN" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlBizQry" type="OriginalBusinessQuery1_CH_camt006"/>
          <xs:element name="ReqTp" type="RequestType2Choice_CH_camt006"/>
          <xs:element name="QryNm" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Query Type</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Abfragetyp</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
Must be used to unambiguously identify the query type.
The following codes are defined:
STXQRY - Single transaction query
GENQRY - Generic transaction query
QUEQRY - Wait file query
              </xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Muss zwingend verwendet werden zur eindeutigen Identifizierung des Abfragetyps.
Folgende Codes sind definiert:
STXQRY - Einzeltransaktionsabfrage
GENQRY - Allgemeine Transaktionsabfrage
QUEQRY - Abfrage Wartedatei
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="NamePrefix1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOCT"/>
      <xs:enumeration value="MADM"/>
      <xs:enumeration value="MISS"/>
      <xs:enumeration value="MIST"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Number">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NumberAndSumOfTransactions2">
    <xs:sequence>
      <xs:element name="NbOfNtries" type="Max15NumericText" minOccurs="0"/>
      <xs:element name="Sum" type="DecimalNumber" minOccurs="0"/>
      <xs:element name="TtlNetNtryAmt" type="DecimalNumber" minOccurs="0"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification8">
    <xs:sequence>
      <xs:element name="AnyBIC" type="AnyBICIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="OriginalBusinessQuery1">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="MsgNmId" type="Max35Text" minOccurs="0"/>
      <xs:element name="CreDtTm" type="ISODateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalBusinessQuery1_CH_camt006">
    
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Original Message Identification</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Meldungsidentifikation der Abfragemeldung</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="Pagination">
    <xs:sequence>
      <xs:element name="PgNb" type="Max5NumericText"/>
      <xs:element name="LastPgInd" type="YesNoIndicator"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Pagination_CH_camt006">
    
        <xs:sequence>
          <xs:element name="PgNb" type="Max5NumericText">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Result Page Number</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Resultatseite</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Angeforderte Resultatseite aus der Abfragemeldung «camt.005».</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Requested page of the result-set specified in the "camt.005" query message.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LastPgInd" type="YesNoIndicator">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Last Page Indicator</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Kennzeichen für letzte Seite</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Wenn alle den Suchkriterien entsprechenden Transaktionen in der aktuellen Meldung geliefert werden, wird der Wert «true» geliefert, sonst «false».</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">If all matching transactions are provided within the current message the value «true» will be provided, otherwise «false».</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="Party11Choice">
    <xs:choice>
      <xs:element name="OrgId" type="OrganisationIdentification8"/>
      <xs:element name="PrvtId" type="PersonIdentification5"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PartyIdentification43">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
      <xs:element name="Id" type="Party11Choice" minOccurs="0"/>
      <xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
      <xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentCommon2">
    <xs:sequence>
      <xs:element name="PmtFr" type="System1" minOccurs="0"/>
      <xs:element name="PmtTo" type="System1" minOccurs="0"/>
      <xs:element name="CmonSts" type="PaymentStatus2" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ReqdExctnDt" type="DateAndDateTimeChoice" minOccurs="0"/>
      <xs:element name="NtryDt" type="DateAndDateTimeChoice" minOccurs="0"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="PmtMtd" type="PaymentOrigin1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentIdentification4Choice">
    <xs:choice>
      <xs:element name="TxId" type="Max35Text"/>
      <xs:element name="QId" type="QueueTransactionIdentificationDetails"/>
      <xs:element name="LngBizId" type="LongPaymentIdentification1"/>
      <xs:element name="ShrtBizId" type="ShortPaymentIdentification1"/>
      <xs:element name="PrtryId" type="Max70Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PaymentIdentification4Choice_CH_camt006">
    
        <xs:choice>
          <xs:element name="PrtryId" type="Max70Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Page of Result Set</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Seite im Abfrageergebnis</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Der Wert «NOTPROVIDED» wird immer geliefert</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Only the value "NOTPROVIDED" will be provided</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="PaymentInstruction14">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text" minOccurs="0"/>
      <xs:element name="ReqdExctnDt" type="DateAndDateTimeChoice" minOccurs="0"/>
      <xs:element name="Sts" type="PaymentStatus2" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="InstdAmt" type="Amount3Choice" minOccurs="0"/>
      <xs:element name="IntrBkSttlmAmt" type="Amount2Choice" minOccurs="0"/>
      <xs:element name="Purp" type="Max10Text" minOccurs="0"/>
      <xs:element name="PmtMtd" type="PaymentOrigin1Choice" minOccurs="0"/>
      <xs:element name="Prty" type="PriorityCode3Choice" minOccurs="0"/>
      <xs:element name="PrcgVldtyTm" type="DateTimePeriodChoice" minOccurs="0"/>
      <xs:element name="InstrCpy" type="Max20000Text" minOccurs="0"/>
      <xs:element name="Tp" type="PaymentType4Choice" minOccurs="0"/>
      <xs:element name="GnrtdOrdr" type="TrueFalseIndicator" minOccurs="0"/>
      <xs:element name="TxId" type="Max35Text" minOccurs="0"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0"/>
      <xs:element name="EndToEndId" type="Max35Text" minOccurs="0"/>
      <xs:element name="Pties" type="PaymentTransactionParty2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentInstruction14_CH_camt006">
    
        <xs:sequence>
          <xs:element name="Sts" type="PaymentStatus2_CH_camt006" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Status</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="IntrBkSttlmAmt" type="Amount2Choice_CH_camt006"/>
          <xs:element name="Purp" type="Max10Text" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="DE">Zahlungscode</xs:documentation>
              <xs:documentation source="Name" xml:lang="EN">Payment Code</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Definiert das Ursprungsgeschäft beim Anwendungsfall «Ausgleichszahlung» in Form eines 3-stelligen Codewertes. 
Gültige Codewerte gemäss «Schweizer RTGS-Handbuch».
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
Defines the original business transaction for use case "compensation payment". 
For valid code values, see "Swiss RTGS Handbook".
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PmtMtd" type="PaymentOrigin1Choice_CH_camt006" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Payment Type/Use Case</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Zahlungsart/Anwendungsfall</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="Prty" type="PriorityCode3Choice_CH_camt006" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Priority</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Priorität</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Die Abfrage liefert immer die aktuell zugewiesene Priorität der Zahlung.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">The query will always return the actually assigned priority.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstrCpy" type="Max20000Text" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Instruction Copy</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Eingelieferte Meldung</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Die Zahlungsmeldung (im Meldungsstandard der Einlieferung in das RTGS-System) in einen CDATA-Abschnitt gepackt.
Wird nur in der Antwort auf eine Einzeltransaktions-Abfrage geliefert.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
The original input payment message (in the message standard delivered to the RTGS system) will be returned within a CDATA section.
This element is only provided in the response to a single transaction query.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TxId" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Transaction Identification</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Transaktionsreferenz</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Settlement Date</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Verrechnungsdatum</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Gewünschtes Verrechnungsdatum</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Requested settlement date</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="PaymentInstrument1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BCT"/>
      <xs:enumeration value="BDT"/>
      <xs:enumeration value="BKT"/>
      <xs:enumeration value="CAN"/>
      <xs:enumeration value="CCP"/>
      <xs:enumeration value="CCT"/>
      <xs:enumeration value="CDT"/>
      <xs:enumeration value="CHK"/>
      <xs:enumeration value="DCP"/>
      <xs:enumeration value="RTI"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentOrigin1Choice">
    <xs:choice>
      <xs:element name="FINMT" type="Max3NumericText"/>
      <xs:element name="XMLMsgNm" type="Max35Text"/>
      <xs:element name="Prtry" type="Max35Text"/>
      <xs:element name="Instrm" type="PaymentInstrument1Code"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PaymentOrigin1Choice_CH_camt006">
    
        <xs:choice>
          <xs:element name="Prtry" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Payment Type/Use Case (propietary)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Zahlungsart/Anwendungsfall (proprietär)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
              <xs:documentation xml:lang="EN" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="PaymentStatus2">
    <xs:sequence>
      <xs:element name="Cd" type="PaymentStatusCode6Choice" minOccurs="0"/>
      <xs:element name="DtTm" type="DateAndDateTimeChoice" minOccurs="0"/>
      <xs:element name="Rsn" type="PaymentStatusReasonCode6Choice" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentStatus2_CH_camt006">
    
        <xs:sequence>
          <xs:element name="Cd" type="PaymentStatusCode6Choice_CH_camt006">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Status Code</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Statuscode</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="DtTm" type="DateAndDateTimeChoice_CH_camt006"/>
          <xs:element name="Rsn" type="PaymentStatusReasonCode6Choice_CH_camt006" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Cancellation Reason Information</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Annullierungsinformation</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Wird nur beim Statuscode «CAND» geliefert.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Only provided for status code "CAND".</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="PaymentStatusCode6Choice">
    <xs:choice>
      <xs:element name="Pdg" type="PendingStatus4Code"/>
      <xs:element name="Fnl" type="FinalStatus1Code"/>
      <xs:element name="RTGS" type="Max4AlphaNumericText"/>
      <xs:element name="Sttlm" type="Max4AlphaNumericText"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PaymentStatusCode6Choice_CH_camt006">
    
        <xs:choice>
          <xs:element name="Prtry" type="Max35Text_CH_camt006">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Status Code (proprietary)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Statuscode (proprietär)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Status der Zahlung
Folgende Codes sind definiert:
VALD = Validiert
STLD = Verrechnet
CAND = Annulliert
Für den Statuscode «CAND» wird zusätzlich im Element &lt;Rsn&gt; die Annullierung weiter spezifiziert.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
Status of the payment.
The following codes are defined:
VALD = validated
STLD = settled
CAND = cancelled
If the status code is "CAND", additional information about the reason will be provided within the &lt;Rsn&gt; element.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="PaymentStatusReasonCode6Choice">
    <xs:choice>
      <xs:element name="Umtchd" type="UnmatchedStatusReason1Code"/>
      <xs:element name="Canc" type="CancelledStatusReason1Code"/>
      <xs:element name="Sspd" type="SuspendedStatusReason1Code"/>
      <xs:element name="PdgFlngSttlm" type="PendingFailingSettlement1Code"/>
      <xs:element name="PdgSttlm" type="PendingSettlement2Code"/>
      <xs:element name="PrtryRjctn" type="ProprietaryStatusJustification"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PaymentStatusReasonCode6Choice_CH_camt006">
    
        <xs:choice>
          <xs:element name="Prtry" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Cancellation Details</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Annullierungsdetails</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Code für die Art der Annullierung. 
Folgende Codewerte sind definiert:
PTTDY = Manuell annulliert in Wartedatei
SYLTE = Annulliert infolge Cut-off (nur in euroSIC) 
DPACS = Annulliert in der Wartedatei wegen individuellem Verrechnungs- oder Belastungsstopp 
DPLOF = Annulliert in der Wartedatei wegen unzureichendem Saldo
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
Code to qualify the cancellation. 
The following values are defined:
PTTDY = Cancelled manually in wait file
SYLTE = Cancelled due to cut-off (in euroSIC only)
DPACS = Cancelled in wait file due to individual settlement or debit stop
DPLOF = Cancelled in wait file due to insufficient balance
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="PaymentTransactionParty2">
    <xs:sequence>
      <xs:element name="Dbtr" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="InstgRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="InstdRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="IntrmyAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="Cdtr" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaymentType3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BAL"/>
      <xs:enumeration value="BCK"/>
      <xs:enumeration value="CBH"/>
      <xs:enumeration value="CBP"/>
      <xs:enumeration value="CBS"/>
      <xs:enumeration value="CLS"/>
      <xs:enumeration value="CTR"/>
      <xs:enumeration value="DPG"/>
      <xs:enumeration value="DPH"/>
      <xs:enumeration value="DPN"/>
      <xs:enumeration value="DPP"/>
      <xs:enumeration value="DPS"/>
      <xs:enumeration value="EXP"/>
      <xs:enumeration value="LIQ"/>
      <xs:enumeration value="LMT"/>
      <xs:enumeration value="LOA"/>
      <xs:enumeration value="LOR"/>
      <xs:enumeration value="MGL"/>
      <xs:enumeration value="OND"/>
      <xs:enumeration value="STF"/>
      <xs:enumeration value="TCH"/>
      <xs:enumeration value="TCP"/>
      <xs:enumeration value="TCS"/>
      <xs:enumeration value="TRP"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentType4Choice">
    <xs:choice>
      <xs:element name="Cd" type="PaymentType3Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="PendingFailingSettlement1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AWMO"/>
      <xs:enumeration value="AWSH"/>
      <xs:enumeration value="BATC"/>
      <xs:enumeration value="BENO"/>
      <xs:enumeration value="BLOC"/>
      <xs:enumeration value="BYIY"/>
      <xs:enumeration value="CAIS"/>
      <xs:enumeration value="CANR"/>
      <xs:enumeration value="CERT"/>
      <xs:enumeration value="CHAS"/>
      <xs:enumeration value="CLAC"/>
      <xs:enumeration value="CLAT"/>
      <xs:enumeration value="CMON"/>
      <xs:enumeration value="COLL"/>
      <xs:enumeration value="CPEC"/>
      <xs:enumeration value="CYCL"/>
      <xs:enumeration value="DEPO"/>
      <xs:enumeration value="DKNY"/>
      <xs:enumeration value="DOCC"/>
      <xs:enumeration value="DOCY"/>
      <xs:enumeration value="FLIM"/>
      <xs:enumeration value="GLOB"/>
      <xs:enumeration value="GUAD"/>
      <xs:enumeration value="INCA"/>
      <xs:enumeration value="LAAW"/>
      <xs:enumeration value="LACK"/>
      <xs:enumeration value="LALO"/>
      <xs:enumeration value="LATE"/>
      <xs:enumeration value="LINK"/>
      <xs:enumeration value="MINO"/>
      <xs:enumeration value="MLAT"/>
      <xs:enumeration value="MONY"/>
      <xs:enumeration value="MUNO"/>
      <xs:enumeration value="NCON"/>
      <xs:enumeration value="NEWI"/>
      <xs:enumeration value="NOFX"/>
      <xs:enumeration value="OBJT"/>
      <xs:enumeration value="PART"/>
      <xs:enumeration value="PHSE"/>
      <xs:enumeration value="PREA"/>
      <xs:enumeration value="REFS"/>
      <xs:enumeration value="SBLO"/>
      <xs:enumeration value="SDUT"/>
      <xs:enumeration value="STCD"/>
      <xs:enumeration value="YCOL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PendingSettlement2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AWMO"/>
      <xs:enumeration value="AWSH"/>
      <xs:enumeration value="BATC"/>
      <xs:enumeration value="BLOC"/>
      <xs:enumeration value="CAIS"/>
      <xs:enumeration value="CHAS"/>
      <xs:enumeration value="CLAC"/>
      <xs:enumeration value="CMON"/>
      <xs:enumeration value="COLL"/>
      <xs:enumeration value="CPEC"/>
      <xs:enumeration value="CYCL"/>
      <xs:enumeration value="DEPO"/>
      <xs:enumeration value="DOCC"/>
      <xs:enumeration value="DOCY"/>
      <xs:enumeration value="FLIM"/>
      <xs:enumeration value="FUTU"/>
      <xs:enumeration value="GLOB"/>
      <xs:enumeration value="GUAD"/>
      <xs:enumeration value="INCA"/>
      <xs:enumeration value="LACK"/>
      <xs:enumeration value="LALO"/>
      <xs:enumeration value="LINK"/>
      <xs:enumeration value="MINO"/>
      <xs:enumeration value="MONY"/>
      <xs:enumeration value="MUNO"/>
      <xs:enumeration value="NCON"/>
      <xs:enumeration value="NEWI"/>
      <xs:enumeration value="NMAS"/>
      <xs:enumeration value="NOFX"/>
      <xs:enumeration value="PART"/>
      <xs:enumeration value="PCAP"/>
      <xs:enumeration value="PHSE"/>
      <xs:enumeration value="PREA"/>
      <xs:enumeration value="REFS"/>
      <xs:enumeration value="REFU"/>
      <xs:enumeration value="SBLO"/>
      <xs:enumeration value="SDUT"/>
      <xs:enumeration value="TAMM"/>
      <xs:enumeration value="YCOL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PendingStatus4Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACPD"/>
      <xs:enumeration value="AUTD"/>
      <xs:enumeration value="AVLB"/>
      <xs:enumeration value="INVD"/>
      <xs:enumeration value="MATD"/>
      <xs:enumeration value="PCAN"/>
      <xs:enumeration value="PFST"/>
      <xs:enumeration value="PSTL"/>
      <xs:enumeration value="RMLR"/>
      <xs:enumeration value="SMLR"/>
      <xs:enumeration value="SRBL"/>
      <xs:enumeration value="SRML"/>
      <xs:enumeration value="SSPD"/>
      <xs:enumeration value="STLE"/>
      <xs:enumeration value="STLM"/>
      <xs:enumeration value="UMAC"/>
      <xs:enumeration value="VALD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PersonIdentification5">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
      <xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="PhoneNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PostalAddress6">
    <xs:sequence>
      <xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
      <xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Priority1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HIGH"/>
      <xs:enumeration value="LOWW"/>
      <xs:enumeration value="NORM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PriorityCode3Choice">
    <xs:choice>
      <xs:element name="Cd" type="Priority1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PriorityCode3Choice_CH_camt006">
    
        <xs:choice>
          <xs:element name="Prtry" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Settlement Priority</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Verrechnungspriorität</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Folgende 3 Prioritätsstufen sind definiert:
NORM = Normale Priorität, tiefste Stufe
HIGH = Hohe Priorität, mittlere Stufe
URGT = Dringende Priorität, höchste Stufe.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
The following 3 levels of priority are defined:
NORM = Normal priority, lowest level 
HIGH = High priority, medium level 
URGT = Urgent priority, highest level.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="ProprietaryStatusJustification">
    <xs:sequence>
      <xs:element name="PrtryStsRsn" type="Max4AlphaNumericText"/>
      <xs:element name="Rsn" type="Max256Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueueTransactionIdentificationDetails">
    <xs:sequence>
      <xs:element name="QId" type="Max16Text"/>
      <xs:element name="PosInQ" type="Max16Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RequestType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RT01"/>
      <xs:enumeration value="RT02"/>
      <xs:enumeration value="RT03"/>
      <xs:enumeration value="RT04"/>
      <xs:enumeration value="RT05"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RequestType2Choice">
    <xs:choice>
      <xs:element name="PmtCtrl" type="RequestType1Code"/>
      <xs:element name="Enqry" type="RequestType2Code"/>
      <xs:element name="Prtry" type="GenericIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="RequestType2Choice_CH_camt006">
    
        <xs:choice>
          <xs:element name="Prtry" type="GenericIdentification1_CH_camt006"/>
        </xs:choice>
      
  </xs:complexType>
  <xs:simpleType name="RequestType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RT11"/>
      <xs:enumeration value="RT12"/>
      <xs:enumeration value="RT13"/>
      <xs:enumeration value="RT14"/>
      <xs:enumeration value="RT15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ReturnTransactionV06">
    <xs:sequence>
      <xs:element name="MsgHdr" type="MessageHeader5"/>
      <xs:element name="RptOrErr" type="TransactionReportOrError2Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReturnTransactionV06_CH_camt006">
    
        <xs:sequence>
          <xs:element name="MsgHdr" type="MessageHeader5_CH_camt006"/>
          <xs:element name="RptOrErr" type="TransactionReportOrError2Choice_CH_camt006">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Report or Error</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Abfrageantwort</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Es wird entweder ein Element &lt;BizRpt&gt; mit Transaktionen geliefert, die den Abfragekriterien entsprechen, oder ein Element &lt;OprlErr&gt; mit Fehlerinformationen.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Either a &lt;BizRpt&gt; element returning transactions that matched the query criteria or an &lt;OprlErr&gt;element containing error information will be delivered.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="ShortPaymentIdentification1">
    <xs:sequence>
      <xs:element name="TxId" type="Max35Text"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate"/>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SuspendedStatusReason1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUBS"/>
      <xs:enumeration value="SUBY"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="System1">
    <xs:sequence>
      <xs:element name="SysId" type="MarketInfrastructureIdentification1Choice" minOccurs="0"/>
      <xs:element name="MmbId" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AcctId" type="AccountIdentification4Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="System1_CH_camt006">
    
        <xs:sequence>
          <xs:element name="MmbId" type="BranchAndFinancialInstitutionIdentification5_CH_camt006"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="System1_CH_camt006_2">
    
        <xs:sequence>
          <xs:element name="MmbId" type="BranchAndFinancialInstitutionIdentification5_CH_camt006_2"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="Transaction33">
    <xs:sequence>
      <xs:element name="PmtTo" type="System1" minOccurs="0"/>
      <xs:element name="PmtFr" type="System1" minOccurs="0"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="Pmt" type="PaymentInstruction14" minOccurs="0"/>
      <xs:element name="AcctNtry" type="CashAccountAndEntry1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Transaction33_CH_camt006">
    
        <xs:sequence>
          <xs:element name="PmtTo" type="System1_CH_camt006">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Instructed Participant</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Gutzuschreibender Teilnehmer</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Die Adressierung des Teilnehmers wird so geliefert, wie sie bei der Einlieferung der Zahlung an das RTGS-System erfolgte.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">The returned participant identification will be identical to the type of identification used when the payment was submitted to the RTGS system.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PmtFr" type="System1_CH_camt006_2">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Instructing Participant</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Zahlender Teilnehmer</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Die Adressierung des Teilnehmers wird so geliefert, wie sie bei der Einlieferung der Zahlung an das RTGS-System erfolgte.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">The returned participant identification will be identical to the type of identification used when the payment was submitted tothe RTGS system.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Pmt" type="PaymentInstruction14_CH_camt006">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Payment</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Zahlung</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="AcctNtry" type="CashAccountAndEntry1_CH_camt006">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Account Entry</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Kontoinformationen</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="TransactionOrError2Choice">
    <xs:choice>
      <xs:element name="Tx" type="Transaction33"/>
      <xs:element name="BizErr" type="ErrorHandling4" maxOccurs="unbounded"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="TransactionOrError2Choice_CH_camt006">
    
        <xs:choice>
          <xs:element name="Tx" type="Transaction33_CH_camt006"/>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="TransactionReport2">
    <xs:sequence>
      <xs:element name="PmtId" type="PaymentIdentification4Choice"/>
      <xs:element name="TxOrErr" type="TransactionOrError2Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionReport2_CH_camt006">
    
        <xs:sequence>
          <xs:element name="PmtId" type="PaymentIdentification4Choice_CH_camt006">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Payment Identification</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Zahlungsreferenz</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="TxOrErr" type="TransactionOrError2Choice_CH_camt006"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="TransactionReportOrError2Choice">
    <xs:choice>
      <xs:element name="BizRpt" type="Transactions6"/>
      <xs:element name="OprlErr" type="ErrorHandling4" maxOccurs="unbounded"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="TransactionReportOrError2Choice_CH_camt006">
    
        <xs:choice>
          <xs:element name="BizRpt" type="Transactions6_CH_camt006">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Business Report</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Positive Abfrageantwort</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Die Abfrageantwort liefert Zahlungen, die den Abfragekriterien entsprechen.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">The response message returns transactions matching the query criteria.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OprlErr" type="ErrorHandling4_CH_camt006">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Operational Error</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Negative Abfrageantwort</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Wenn die Abfrage nicht ausgeführt werden kann oder keine Zahlungen den Abfragekriterien entsprechen, wird ein Fehler zurückgemeldet.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">If the query can not be performed for any reason or no transaction matches the search criteria, an error will be returned.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="Transactions6">
    <xs:sequence>
      <xs:element name="PmtCmonInf" type="PaymentCommon2" minOccurs="0"/>
      <xs:element name="TxsSummry" type="NumberAndSumOfTransactions2" minOccurs="0"/>
      <xs:element name="TxRpt" type="TransactionReport2" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Transactions6_CH_camt006">
    
        <xs:sequence>
          <xs:element name="TxRpt" type="TransactionReport2_CH_camt006" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Transaction Report</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Zahlungsinformationen</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Detailinformationen zur gelieferten Zahlung.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Transaction details for the returned payment.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="TrueFalseIndicator">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="UnmatchedStatusReason1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CADE"/>
      <xs:enumeration value="CHAR"/>
      <xs:enumeration value="CLAT"/>
      <xs:enumeration value="CMIS"/>
      <xs:enumeration value="CPCA"/>
      <xs:enumeration value="DDAT"/>
      <xs:enumeration value="DDEA"/>
      <xs:enumeration value="DELN"/>
      <xs:enumeration value="DEPT"/>
      <xs:enumeration value="DMON"/>
      <xs:enumeration value="DQUA"/>
      <xs:enumeration value="DSEC"/>
      <xs:enumeration value="DTRA"/>
      <xs:enumeration value="DTRD"/>
      <xs:enumeration value="FORF"/>
      <xs:enumeration value="FRAP"/>
      <xs:enumeration value="ICAG"/>
      <xs:enumeration value="ICUS"/>
      <xs:enumeration value="IEXE"/>
      <xs:enumeration value="IIND"/>
      <xs:enumeration value="LATE"/>
      <xs:enumeration value="NCRR"/>
      <xs:enumeration value="NMAS"/>
      <xs:enumeration value="PHYS"/>
      <xs:enumeration value="PLCE"/>
      <xs:enumeration value="PODU"/>
      <xs:enumeration value="REGD"/>
      <xs:enumeration value="REPA"/>
      <xs:enumeration value="REPO"/>
      <xs:enumeration value="REPP"/>
      <xs:enumeration value="RERT"/>
      <xs:enumeration value="RSPR"/>
      <xs:enumeration value="RTGS"/>
      <xs:enumeration value="SAFE"/>
      <xs:enumeration value="SETR"/>
      <xs:enumeration value="TERM"/>
      <xs:enumeration value="VASU"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="YesNoIndicator">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
</xs:schema>
