enContent/WebContent/xsd/camt.021.001.06.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: RTGS
Collection: RTGS_GetReturnBusinessDayInformationReturnGeneralBusinessInformation
Usage Guideline: camt.021_ReturnGeneralBusinessInformation_camt.021.001.06
Base Message: camt.021.001.06
Date of publication: 14 May 2020
URL: https://www2.swift.com/mystandards/#/mp/mx/_T6YIkELCEeiRsNm9W9_YOQ/version/33/_7o_JuRs4EemTyYOOlfF45A
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2020-06-08T04:01:25+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.021.001.06" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.021.001.06">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RtrGnlBizInf" type="ReturnGeneralBusinessInformationV06"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralBusinessInformation1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GeneralBusinessInformation1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details about business information related to a system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Qlfr" type="InformationQualifierType1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Qualifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further information about the criticality or importance of a general business information system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sbjt" type="TARGET_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Subject</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Subject line of an item of general business information, summarizing the topic and intended destination of the information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SbjtDtls" type="TARGET_BIC11Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubjectDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General business information, in unstructured form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralBusinessOrError7Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GeneralBusinessOrError7Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">It is used to provide some or all of the members with information related to the processing of the system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BizRpt" type="GeneralBusinessReport6__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BusinessReport</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reports either on the business information or on a business error.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralBusinessOrError8Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GeneralBusinessOrError8Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reports either on the business information or on a business error.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="GnlBiz" type="GeneralBusinessInformation1__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">GeneralBusiness</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Requested business information.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralBusinessReport6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GeneralBusinessReport6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reports either on the business information or on a business error.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BizInfRef" type="TARGET_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessInformationReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a general business information system, as assigned by the system transaction administrator.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GnlBizOrErr" type="GeneralBusinessOrError8Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GeneralBusinessOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Requested business information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InformationQualifierType1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InformationQualifierType1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Further qualifies the information provided in terms of its importance and its format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IsFrmtd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IsFormatted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the information is formatted.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageHeader7__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader7__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="TARGET_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReturnGeneralBusinessInformationV06">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReturnGeneralBusinessInformationV06</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The ReturnGeneralBusinessInformation message is sent by the transaction administrator to a member of the system. It is used to provide some or all of the members with information related to the processing of the system.&#13;
The Return General Business Information message can be sent as a response to a related GetGeneralBusinessInformation message (pull mode) or initiated by the transaction administrator (push mode). The push of information can take place either at prearranged times or as a warning or alarm when a problem has occurred.&#13;
Usage&#13;
The transaction administrator can send general business information messages to the members, which may request further action from them. General business information can contain either static data announcing foreseen events affecting the system operations, or dynamic data warning or notifying about unexpected events.&#13;
This type of information can be transmitted in either of the two following ways:&#13;
- non-solicited reports are pushed by the transaction administrator to the (selected) members together with a reference, a qualifier and a subject line&#13;
- upon request from the members (pull mode), the transaction administrator delivers the full text/content of the message back to the user&#13;
In either case, the message from the transaction administrator can contain information based on the following elements:&#13;
- subject of the report detailing the purpose and content of the message&#13;
- details of the report&#13;
- indication of the priority of the report and of its format. (Note that if the format is indicated, the subject refers to a set of pre-agreed texts. This enumeration has to be agreed upon by the transaction administrator and the members of the system).&#13;
Additional information on the generic design of the Get/Return messages can be found in the MDR Part 1 section How to Use the Cash Management Messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader7__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptOrErr" type="GeneralBusinessOrError7Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Report on the Business Information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TARGET_BIC11Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TARGET_BIC11Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">BIC must have exactly 11 characters</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}[A-Z0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TARGET_RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TARGET_RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z 0-9 / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+](|[0-9a-zA-Z/\-\?:\(\)\.,'\+]|[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,33}[0-9a-zA-Z/\-\?:\(\)\.,'\+])"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
