enContent/WebContent/xsd/camt.005.001.06.ch.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
(C) Copyright 2016, SIX Interbank Clearing Ltd
XML Schema used in the Swiss Interbank space:
	Suffix part 1: .ch:	Identification as a Swiss (CH) version
	Suffix part 2: .03:   Version of this scheme

This schema is a customised schema for the specific requirements of SIC4, and is not the official SWIFT schema. 
The full SWIFT schema may be found on www.swift.com

For comments and suggestions please contact pm@six-group.com
-->
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/camt.005.001.06.ch.03"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.six-interbank-clearing.com/de/camt.005.001.06.ch.03"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_CH_camt005"/>
  <xs:complexType name="AccountCashEntryReturnCriteria2">
    <xs:sequence>
      <xs:element name="NtryRefInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="AcctTpInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="NtryAmtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="AcctCcyInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="NtryStsInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="NtryDtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="AcctSrcrInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="AcctOwnrInd" type="RequestedIndicator" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice">
    <xs:choice>
      <xs:element name="IBAN" type="IBAN2007Identifier"/>
      <xs:element name="Othr" type="GenericAccountIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice_CH_camt005">
    
        <xs:choice>
          <xs:element name="Othr" type="GenericAccountIdentification1_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Identification of Settlement Account (proprietary)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des Verrechnungskontos (proprietär)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="AccountIdentificationSearchCriteria2Choice">
    <xs:choice>
      <xs:element name="EQ" type="AccountIdentification4Choice"/>
      <xs:element name="CTTxt" type="Max35Text"/>
      <xs:element name="NCTTxt" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AccountIdentificationSearchCriteria2Choice_CH_camt005">
    
        <xs:choice>
          <xs:element name="EQ" type="AccountIdentification4Choice_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Comparison Operator</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Vergleichsoperator</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="AccountSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ActiveAmountRange1Choice">
    <xs:choice>
      <xs:element name="ImpldCcyAndAmtRg" type="ImpliedCurrencyAndAmountRange"/>
      <xs:element name="CcyAndAmtRg" type="ActiveCurrencyAndAmountRange1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ActiveAmountRange1Choice_CH_camt005">
    
        <xs:choice>
          <xs:element name="CcyAndAmtRg" type="ActiveCurrencyAndAmountRange1_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Settlement Amount Range</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Abfrage-Betragslimite</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="ActiveCurrencyAndAmountRange1">
    <xs:sequence>
      <xs:element name="Amt" type="ImpliedCurrencyAmountRangeChoice"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActiveCurrencyAndAmountRange1_CH_camt005">
    
        <xs:sequence>
          <xs:element name="Amt" type="ImpliedCurrencyAmountRangeChoice_CH_camt005"/>
          <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Currency Code</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Währungscode</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Der Währungscode muss «CHF» oder «EUR» sein.
Die Währung muss der Währung des jeweiligen RTGS-Systems entsprechen.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
The currency code must be "CHF" or "EUR".
The currency must correspond to the currency in the respective RTGS system.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="ActiveCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ActiveOrHistoricAmountRange1Choice">
    <xs:choice>
      <xs:element name="ImpldCcyAndAmtRg" type="ImpliedCurrencyAndAmountRange"/>
      <xs:element name="CcyAndAmtRg" type="ActiveOrHistoricCurrencyAndAmountRange1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmountRange1">
    <xs:sequence>
      <xs:element name="Amt" type="ImpliedCurrencyAmountRangeChoice"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDR"/>
      <xs:enumeration value="BIZZ"/>
      <xs:enumeration value="DLVY"/>
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="MLTO"/>
      <xs:enumeration value="PBOX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AmountRange2Choice">
    <xs:choice>
      <xs:element name="ImpldCcyAndAmtRg" type="ImpliedCurrencyAndAmountRange"/>
      <xs:element name="CcyAndAmtRg" type="CurrencyAndAmountRange2"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AmountRangeBoundary1">
    <xs:sequence>
      <xs:element name="BdryAmt" type="ImpliedCurrencyAndAmount"/>
      <xs:element name="Incl" type="YesNoIndicator"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountRangeBoundary1_CH_camt005">
    
        <xs:sequence>
          <xs:element name="BdryAmt" type="ImpliedCurrencyAndAmount">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Amount Limit</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Betragslimite</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Darf maximal 13 Stellen enthalten (exkl. Dezimaltrennzeichen), davon maximal 2 Dezimalstellen. 
Betrag muss &gt;0 sein, maximal akzeptierter Betrag ist 99'999'999'999.99.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
Must contain no more than 13 digits (excl. decimal separator) including a maximum of 2 fractional digits. 
Amount must be &gt;0, the maximum accepted amount is 99,999,999,999.99.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Incl" type="YesNoIndicator">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Inclusiv Flag</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Inklusiv-Kennzeichen</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Nur «true» zugelassen.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Must be «true».</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="AnyBICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICFIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
      <xs:element name="BrnchId" type="BranchData2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5_CH_camt005">
    
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8_CH_camt005"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5_CH_camt005_2">
    
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8_CH_camt005_2">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Identification of Instructing Participant</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des zahlenden Teilnehmers</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
              <xs:documentation xml:lang="EN" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="BranchData2">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccountEntrySearch4">
    <xs:sequence>
      <xs:element name="AcctId" type="AccountIdentificationSearchCriteria2Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NtryAmt" type="ActiveOrHistoricAmountRange1Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NtryAmtCcy" type="ActiveOrHistoricCurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="NtrySts" type="EntryStatus1Code" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NtryDt" type="DateAndDateTimeSearchChoice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AcctOwnr" type="PartyIdentification43" minOccurs="0"/>
      <xs:element name="AcctSvcr" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccountEntrySearch4_CH_camt005">
    
        <xs:sequence>
          <xs:element name="AcctId" type="AccountIdentificationSearchCriteria2Choice_CH_camt005" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Settlement Account Information</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Verrechnungskontoinformationen</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
              <xs:documentation xml:lang="EN" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="NtryDt" type="DateAndDateTimeSearchChoice_CH_camt005_2" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Entry Date</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Einlieferungszeitpunkt</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="AcctOwnr" type="PartyIdentification43_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Account Owner</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Kontoberechtigter Teilnehmer</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Entspricht dem abfragenden Teilnehmer und wird für die Berechtigungsprüfung verwendet.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Identifies the party submitting the query. Required for authorization checking.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="CashPaymentStatus2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FINL"/>
      <xs:enumeration value="PDNG"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ClearingSystemIdentification2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification3Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalCashClearingSystem1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
      <xs:element name="MmbId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2_CH_camt005">
    
        <xs:sequence>
          <xs:element name="MmbId" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Member Identification</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des Teilnehmers</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">IID (=6n)</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">IID (=6n)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="ContactDetails2">
    <xs:sequence>
      <xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
      <xs:element name="Othr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CreditDebitCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRDT"/>
      <xs:enumeration value="DBIT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CurrencyAndAmountRange2">
    <xs:sequence>
      <xs:element name="Amt" type="ImpliedCurrencyAmountRangeChoice"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndDateTimeSearchChoice">
    <xs:choice>
      <xs:element name="DtTmSch" type="DateTimePeriodChoice"/>
      <xs:element name="DtSch" type="DateSearchChoice"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DateAndDateTimeSearchChoice_CH_camt005">
    
        <xs:choice>
          <xs:element name="DtSch" type="DateSearchChoice_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Date Search Criteria</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Datumssuchkriterium</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="DateAndDateTimeSearchChoice_CH_camt005_2">
    
        <xs:choice>
          <xs:element name="DtTmSch" type="DateTimePeriodChoice_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Date Time Search</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Abfragezeitraum</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth">
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate"/>
      <xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
      <xs:element name="CityOfBirth" type="Max35Text"/>
      <xs:element name="CtryOfBirth" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatePeriodDetails">
    <xs:sequence>
      <xs:element name="FrDt" type="ISODate"/>
      <xs:element name="ToDt" type="ISODate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatePeriodDetails_CH_camt005">
    
        <xs:sequence>
          <xs:element name="FrDt" type="ISODate">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">From Date</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Anfangsdatum</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="ToDt" type="ISODate">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">To Date</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Enddatum</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="DateSearchChoice">
    <xs:choice>
      <xs:element name="FrDt" type="ISODate"/>
      <xs:element name="ToDt" type="ISODate"/>
      <xs:element name="FrToDt" type="DatePeriodDetails"/>
      <xs:element name="EQDt" type="ISODate"/>
      <xs:element name="NEQDt" type="ISODate"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DateSearchChoice_CH_camt005">
    
        <xs:choice>
          <xs:element name="FrToDt" type="DatePeriodDetails_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Date Range</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Datumsbereich</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Das Kriterium Datumsbereich selektiert Transaktionen zwischen dem Anfangsdatum (inklusive) und dem Enddatum (inklusive).</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">The Date Range criteria selects transactions between the From Date Time (incl.) and the To Date Time (incl.).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EQDt" type="ISODate">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Equal Date</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Suchdatum</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Das Kriterium Suchdatum selektiert Transaktionen des angegebenen Datums.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">The equal date criteria selects transactions of the specified date.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="DateTimePeriodChoice">
    <xs:choice>
      <xs:element name="FrDtTm" type="ISODateTime"/>
      <xs:element name="ToDtTm" type="ISODateTime"/>
      <xs:element name="DtTmRg" type="DateTimePeriodDetails"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DateTimePeriodChoice_CH_camt005">
    
        <xs:choice>
          <xs:element name="DtTmRg" type="DateTimePeriodDetails_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Date Time Range</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Zeitraum</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Das Kriterium Zeitraum selektiert Transaktionen zwischen dem Anfangszeitpunkt (inklusive) und dem Endzeitpunkt (inklusive).</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">The Date Time Range criteria selects transactions between the From Date Time (incl.) and the To Date Time (incl.).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="DateTimePeriodDetails">
    <xs:sequence>
      <xs:element name="FrDtTm" type="ISODateTime"/>
      <xs:element name="ToDtTm" type="ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateTimePeriodDetails_CH_camt005">
    
        <xs:sequence>
          <xs:element name="FrDtTm" type="ISODateTime">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">From Date Time</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Anfangszeitpunkt</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="ToDtTm" type="ISODateTime">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">To Date Time</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Endzeitpunkt</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="GetTx" type="GetTransactionV06"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_CH_camt005">
    
        <xs:sequence>
          <xs:element name="GetTx" type="GetTransactionV06_CH_camt005"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="EntryStatus1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOOK"/>
      <xs:enumeration value="FUTR"/>
      <xs:enumeration value="PDNG"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EntryTypeIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[BEOVW]{1,1}[0-9]{2,2}|DUM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalAccountIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCashClearingSystem1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalClearingSystemIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalOrganisationIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPersonIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FinalStatusCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CAND"/>
      <xs:enumeration value="FNLD"/>
      <xs:enumeration value="RJTD"/>
      <xs:enumeration value="STLD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FinalStatusCode_CH_camt005">
    <xs:restriction base="FinalStatusCode">
      <xs:enumeration value="CAND"/>
      <xs:enumeration value="STLD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification8">
    <xs:sequence>
      <xs:element name="BICFI" type="BICFIIdentifier" minOccurs="0"/>
      <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
      <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification8_CH_camt005">
    
        <xs:sequence>
          <xs:element name="BICFI" type="BICFIIdentifier" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Identification of Instructed Participant (BIC)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des gutzuschreibenden Teilnehmers (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
SWIFT-Adresse mit 8 oder 11 alphanumerischen Zeichen.
Element darf nicht gleichzeitig mit &lt;ClrSysMmbId&gt; verwendet werden.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
SWIFT address with 8 or 11 alphanumeric characters.
This element must not be used at the same time as &lt;ClrSysMmbId&gt;.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_CH_camt005" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Identification of Instructed Participant (proprietary)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des gutzuschreibenden Teilnehmers (proprietär)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Element darf nicht gleichzeitig mit &lt;BICFI&gt; verwendet werden.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">This element must not be used at the same time as &lt;BICFI&gt;.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification8_CH_camt005_2">
    
        <xs:sequence>
          <xs:element name="BICFI" type="BICFIIdentifier" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Identification of Instructing Participant (BIC)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des zahlenden Teilnehmers (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
SWIFT-Adresse mit 8 oder 11 alphanumerischen Zeichen.
Element darf nicht gleichzeitig mit &lt;ClrSysMmbId&gt; verwendet werden.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
SWIFT address with 8 or 11 alphanumeric characters.
This element must not be used at the same time as &lt;ClrSysMmbId&gt;.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_CH_camt005" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Identification of Instructing Participant (proprietary)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des zahlenden Teilnehmers (proprietär)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Element darf nicht gleichzeitig mit &lt;BICFI&gt; verwendet werden.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">This element must not be used at the same time as &lt;BICFI&gt;.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="FromToAmountRange">
    <xs:sequence>
      <xs:element name="FrAmt" type="AmountRangeBoundary1"/>
      <xs:element name="ToAmt" type="AmountRangeBoundary1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FromToAmountRange_CH_camt005">
    
        <xs:sequence>
          <xs:element name="FrAmt" type="AmountRangeBoundary1_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Lower Amount Limit</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Untere Betragslimite</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="ToAmt" type="AmountRangeBoundary1_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Upper Amount Limit</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Obere Betragslimite</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max34Text"/>
      <xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1_CH_camt005">
    
        <xs:sequence>
          <xs:element name="Id" type="Max34Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Settlement Account</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Verrechnungskonto</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification1_CH_camt005">
    
        <xs:sequence>
          <xs:element name="Id" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">RTGS Code</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikationscode des RTGS</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Fix «CSC» für SIC, «CEC» für euroSIC.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Fix "CSC" for SIC, "CEC" for euroSIC.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1_CH_camt005">
    
        <xs:sequence>
          <xs:element name="Id" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Member Identification</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des Teilnehmers</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">IID (=6n), muss im Bankenstamm vorhanden und aktiv sein.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">IID (=6n), must be contained in the bank master data and active.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetTransactionV06">
    <xs:sequence>
      <xs:element name="MsgHdr" type="MessageHeader2"/>
      <xs:element name="TxQryDef" type="TransactionQuery2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetTransactionV06_CH_camt005">
    
        <xs:sequence>
          <xs:element name="MsgHdr" type="MessageHeader2_CH_camt005"/>
          <xs:element name="TxQryDef" type="TransactionQuery2_CH_camt005"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="IBAN2007Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ImpliedCurrencyAmountRangeChoice">
    <xs:choice>
      <xs:element name="FrAmt" type="AmountRangeBoundary1"/>
      <xs:element name="ToAmt" type="AmountRangeBoundary1"/>
      <xs:element name="FrToAmt" type="FromToAmountRange"/>
      <xs:element name="EQAmt" type="ImpliedCurrencyAndAmount"/>
      <xs:element name="NEQAmt" type="ImpliedCurrencyAndAmount"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ImpliedCurrencyAmountRangeChoice_CH_camt005">
    
        <xs:choice>
          <xs:element name="FrAmt" type="AmountRangeBoundary1_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Lower Amount Limit</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Untere Betragslimite</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="FrToAmt" type="FromToAmountRange_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Lower and Upper Amount Limit</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Untere und obere Betragslimite</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:simpleType name="ImpliedCurrencyAndAmount">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ImpliedCurrencyAndAmountRange">
    <xs:sequence>
      <xs:element name="Amt" type="ImpliedCurrencyAmountRangeChoice"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Instruction1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PBEN"/>
      <xs:enumeration value="TFRO"/>
      <xs:enumeration value="TTIL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="InstructionStatusReturnCriteria">
    <xs:sequence>
      <xs:element name="PmtInstrStsInd" type="RequestedIndicator"/>
      <xs:element name="PmtInstrStsDtTmInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="PmtInstrStsRsnInd" type="RequestedIndicator" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InstructionStatusSearch3">
    <xs:sequence>
      <xs:element name="PmtInstrSts" type="PaymentStatusCodeSearch2Choice" minOccurs="0"/>
      <xs:element name="PmtInstrStsDtTm" type="DateTimePeriodChoice" minOccurs="0"/>
      <xs:element name="PrtryStsRsn" type="Max4AlphaNumericText" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InstructionStatusSearch3_CH_camt005">
    
        <xs:sequence>
          <xs:element name="PmtInstrSts" type="PaymentStatusCodeSearch2Choice_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Transaction Status</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Status der Transaktion</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Jeder Transaktion ist ein Status zugeordnet. Dieser Status ist entweder vorläufig (Pending) oder final (Final).</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">A status is assigned to every transaction. This status is either pending or final.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PmtInstrStsDtTm" type="DateTimePeriodChoice_CH_camt005" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Transaction Status Timestamp</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Zeitpunkt desTransaktionsstatus</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Zeitpunkt, zu dem einer Zahlung vom RTGS-System der abgefragte Statuscode zugewiesen wurde.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Timestamp assigned to the transaction by the RTGS system when the status changed to the queried value.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:complexType name="LongPaymentIdentification1">
    <xs:sequence>
      <xs:element name="TxId" type="Max35Text"/>
      <xs:element name="IntrBkSttlmAmt" type="ImpliedCurrencyAndAmount"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate"/>
      <xs:element name="PmtMtd" type="PaymentOrigin1Choice" minOccurs="0"/>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5"/>
      <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification5"/>
      <xs:element name="NtryTp" type="EntryTypeIdentifier" minOccurs="0"/>
      <xs:element name="EndToEndId" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2048"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_camt005">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max3NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4AlphaNumericText">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
      <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MessageHeader2">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="CreDtTm" type="ISODateTime" minOccurs="0"/>
      <xs:element name="ReqTp" type="RequestType2Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageHeader2_CH_camt005">
    
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Message Identification</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Meldungsidentifikation</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Für dieses Element ist nur der SWIFT-Zeichensatz ohne Leerzeichen zugelassen.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Only the SWIFT character set excluding spaces is permitted for this element.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CreDtTm" type="ISODateTime">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Creation Date Time</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Erstellungszeitpunkt der Meldung</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReqTp" type="RequestType2Choice_CH_camt005"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="NamePrefix1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOCT"/>
      <xs:enumeration value="MADM"/>
      <xs:enumeration value="MISS"/>
      <xs:enumeration value="MIST"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrganisationIdentification8">
    <xs:sequence>
      <xs:element name="AnyBIC" type="AnyBICIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification8_CH_camt005">
    
        <xs:sequence>
          <xs:element name="AnyBIC" type="AnyBICIdentifier" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Identification of Account Owner (BIC)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des kontoberechtigten Teilnehmers (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
SWIFT-Adresse mit 8 oder 11 alphanumerischen Zeichen.
Element darf nicht gleichzeitig mit &lt;Othr&gt; verwendet werden.
Muss einen gültigen Wert gemäss ISO 9362 enthalten.
Muss gültigen BIC eines aktiven Teilnehmers enthalten.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
SWIFT address with 8 or 11 alphanumeric characters.
This element must not be used at the same time as &lt;Othr&gt;.
Must contain a valid value according to ISO 9362.
Must contain a valid BIC of an active participant.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Othr" type="GenericOrganisationIdentification1_CH_camt005" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Identification of Account Owner (proprietary)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des kontoberechtigten Teilnehmers (proprietär)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Element darf nicht gleichzeitig mit &lt;AnyBIC&gt; verwendet werden.
Muss gültige Identifikation eines aktiven Teilnehmers enthalten.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
This element must not be used at the same time as &lt;AnyBIC&gt;.
Must contain a valid identification of an active participant.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party11Choice">
    <xs:choice>
      <xs:element name="OrgId" type="OrganisationIdentification8"/>
      <xs:element name="PrvtId" type="PersonIdentification5"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party11Choice_CH_camt005">
    
        <xs:choice>
          <xs:element name="OrgId" type="OrganisationIdentification8_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Account Owner Identification</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation des kontoberechtigten Teilnehmers</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Entweder &lt;AnyBIC&gt; oder &lt;Othr&gt; muss verwendet werden.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Either &lt;AnyBIC&gt; or &lt;Othr&gt; must be used.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="PartyIdentification43">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
      <xs:element name="Id" type="Party11Choice" minOccurs="0"/>
      <xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
      <xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification43_CH_camt005">
    
        <xs:sequence>
          <xs:element name="Id" type="Party11Choice_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Identifikation</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="PaymentIdentification4Choice">
    <xs:choice>
      <xs:element name="TxId" type="Max35Text"/>
      <xs:element name="QId" type="QueueTransactionIdentificationDetails"/>
      <xs:element name="LngBizId" type="LongPaymentIdentification1"/>
      <xs:element name="ShrtBizId" type="ShortPaymentIdentification1"/>
      <xs:element name="PrtryId" type="Max70Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PaymentIdentification4Choice_CH_camt005">
    
        <xs:choice>
          <xs:element name="PrtryId" type="Max70Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Requested Page Number</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Aufsetzpunkt</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Spezifiziert die Seite des Abfrageergebnisses, ab der gefundene Transaktionen geliefert werden sollen. Muss einen ganzzahligen Wert enthalten.
Falls das Element nicht geliefert wird, wird immer die erste Seite des Abfrageergebnisses geliefert.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
Specifies the page of the query result set to be used for the return of result items. Must be an integer value.
If not provided, the first page of the result will be returned.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:simpleType name="PaymentInstrument1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BCT"/>
      <xs:enumeration value="BDT"/>
      <xs:enumeration value="BKT"/>
      <xs:enumeration value="CAN"/>
      <xs:enumeration value="CCP"/>
      <xs:enumeration value="CCT"/>
      <xs:enumeration value="CDT"/>
      <xs:enumeration value="CHK"/>
      <xs:enumeration value="DCP"/>
      <xs:enumeration value="RTI"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentOrigin1Choice">
    <xs:choice>
      <xs:element name="FINMT" type="Max3NumericText"/>
      <xs:element name="XMLMsgNm" type="Max35Text"/>
      <xs:element name="Prtry" type="Max35Text"/>
      <xs:element name="Instrm" type="PaymentInstrument1Code"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PaymentOrigin1Choice_CH_camt005">
    
        <xs:choice>
          <xs:element name="Prtry" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Payment Type (propietary)</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Zahlungsart (proprietär)</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Eindeutige Identifikation der Zahlungsart, folgende Codewerte für Zahlungsarten stehen zur Verfügung:
ESRPMT = ESR-Zahlung
ESRDEB = ESR-Zahlung aus Lastschrift
IPIDEB = IPI-Zahlung aus Lastschrift
SEPPMT = SEPA-Zahlung (nur EUR)
SLRPMT = Salärzahlung
CSTPMT = Kundenzahlung allgemein
F2FPMT = FI-an-FI-Zahlung
CMPPMT = Ausgleichszahlung
COVPMT = Deckungszahlung
PPTTSD = Übertrag an Girokonto durch Teilnehmer
SECSTM = Verrechnung SECOM
EUXSTM = Verrechnung Eurex
REPSTM = Verrechnung Repo
BCMSTM = Verrechnung Bancomat
TCMSTM = Verrechnung Tancomat
POSSTM = Verrechnung POS
STVSTM = Verrechnung Terravis
VISSTM = Verrechnung Viseca
CSTRTN = Normale Rückzahlung
SEPRTN = SEPA-Rückzahlung (nur EUR)
SMTTSD = Übertrag an Girokonto durch Systemmanager
SMTFSD = Übertrag von Girokonto
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
Unambiguous identification of the payment type, the following code values for payment types are available:
ESRPMT = ISR payment
ESRDEB = ISR payment resulting from a direct debit
IPIDEB = IPI payment resulting from a direct debit
SEPPMT = SEPA payment (EUR only)
SLRPMT = Salary payment
CSTPMT = Generic customer payment
F2FPMT = FI-to-FI-payment
CMPPMT = Compensation payment
COVPMT = Cover payment
PPTTSD = Sight deposit account transfer by the participant
SECSTM = SECOM settlement
EUXSTM = Eurex settlement
REPSTM = Repo settlement
BCMSTM = Bancomat settlement
TCMSTM = Tancomat settlement
POSSTM = EFT/POS settlement
STVSTM = Terravis settlement
VISSTM = Viseca settlement
CSTRTN = Normal payment return 
SEPRTN = SEPA payment return (EUR only)
SMTTSD = Sight deposit account transfer by the system manager
SMTFSD = Transfer from sight deposit account
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="PaymentReturnCriteria3">
    <xs:sequence>
      <xs:element name="MsgIdInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="ReqdExctnDtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="InstrInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="InstrStsRtrCrit" type="InstructionStatusReturnCriteria" minOccurs="0"/>
      <xs:element name="InstdAmtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="CdtDbtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="IntrBkSttlmAmtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="PrtyInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="PrcgVldtyTmInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="PurpInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="InstrCpyInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="PmtMTInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="PmtTpInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="TxIdInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="IntrBkSttlmDtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="EndToEndIdInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="PmtMtdInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="DbtrInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="DbtrAgtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="InstgRmbrsmntAgtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="InstdRmbrsmntAgtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="IntrmyInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="CdtrAgtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="CdtrInd" type="RequestedIndicator" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentSearch5">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ReqdExctnDt" type="DateAndDateTimeSearchChoice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PmtId" type="PaymentIdentification4Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Sts" type="InstructionStatusSearch3" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="InstdAmt" type="AmountRange2Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="InstdAmtCcy" type="ActiveOrHistoricCurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="IntrBkSttlmAmt" type="ActiveAmountRange1Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="IntrBkSttlmAmtCcy" type="ActiveCurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PmtMtd" type="PaymentOrigin1Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PmtTp" type="PaymentType4Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Prty" type="PriorityCode3Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PrcgVldtyTm" type="DateTimePeriodChoice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Instr" type="Instruction1Code" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="TxId" type="Max35Text" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="EndToEndId" type="Max35Text" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Pties" type="PaymentTransactionParty2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentSearch5_CH_camt005">
    
        <xs:sequence>
          <xs:element name="ReqdExctnDt" type="DateAndDateTimeSearchChoice_CH_camt005" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Requested Settlement Date</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Valuta-Soll</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Muss ein gültiges Kalenderdatum sein.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Must be a valid calendar date.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PmtId" type="PaymentIdentification4Choice_CH_camt005" minOccurs="0"/>
          <xs:element name="Sts" type="InstructionStatusSearch3_CH_camt005" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Abfragekriterium Statuscode</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Credit Debit Indicator</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Saldokennzeichen</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Abfragekriterium für Zahlungseingänge bzw. Zahlungsausgänge. Muss zusammen mit dem Element «AcctNtrySch/AcctId» geliefert werden.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Query indicator for incoming or outgoing payments. Must always be provided together with the "AcctNtrySch/AcctId" element.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IntrBkSttlmAmt" type="ActiveAmountRange1Choice_CH_camt005" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Settlement Amount Range</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Abfrage-Betragslimite</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="PmtMtd" type="PaymentOrigin1Choice_CH_camt005" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Payment Type</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Zahlungsart</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="Prty" type="PriorityCode3Choice_CH_camt005" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Priority</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Priorität</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Muss zusammen mit der Zahlungsart angegeben werden.
Die Abfrage erfolgt dabei immer auf die aktuell zugewiesene Priorität der Zahlung.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
Must be provided together with the payment type.
The query will always refer to the actually assigned priority.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TxId" type="Max35Text_CH_camt005" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Transaction Identification</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Transaktionsreferenz</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Für dieses Element ist nur der SWIFT-Zeichensatz ohne Leerzeichen zugelassen.
Nur 16 Stellen zugelassen.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
Only the SWIFT character set excluding spaces is permitted for this element.
Only 16 characters permitted.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Effective Settlement Date</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Verrechnungsdatum</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Muss ein gültiges Kalenderdatum sein.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Must be a valid calendar date.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="PaymentStatusCodeSearch2Choice">
    <xs:choice>
      <xs:element name="PdgSts" type="PendingStatus4Code"/>
      <xs:element name="FnlSts" type="FinalStatusCode"/>
      <xs:element name="PdgAndFnlSts" type="CashPaymentStatus2Code"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PaymentStatusCodeSearch2Choice_CH_camt005">
    
        <xs:choice>
          <xs:element name="PdgSts" type="PendingStatus4Code_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Pending Transaction Status</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Vorläufiger Status der Transaktion</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Nur Statuscode VALD (validiert) darf geliefert werden.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">Only code VALD (validated) may be specified.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FnlSts" type="FinalStatusCode_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Final Transaction Status</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Finaler Status der Transaktion</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Die folgenden Codes können angegeben werden:
STLD (verrechnet)
CAND (annulliert)
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
The following codes may be specified:
STLD (settled)
CAND (cancelled)
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="PaymentTransactionParty2">
    <xs:sequence>
      <xs:element name="Dbtr" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="InstgRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="InstdRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="IntrmyAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="Cdtr" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaymentType3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BAL"/>
      <xs:enumeration value="BCK"/>
      <xs:enumeration value="CBH"/>
      <xs:enumeration value="CBP"/>
      <xs:enumeration value="CBS"/>
      <xs:enumeration value="CLS"/>
      <xs:enumeration value="CTR"/>
      <xs:enumeration value="DPG"/>
      <xs:enumeration value="DPH"/>
      <xs:enumeration value="DPN"/>
      <xs:enumeration value="DPP"/>
      <xs:enumeration value="DPS"/>
      <xs:enumeration value="EXP"/>
      <xs:enumeration value="LIQ"/>
      <xs:enumeration value="LMT"/>
      <xs:enumeration value="LOA"/>
      <xs:enumeration value="LOR"/>
      <xs:enumeration value="MGL"/>
      <xs:enumeration value="OND"/>
      <xs:enumeration value="STF"/>
      <xs:enumeration value="TCH"/>
      <xs:enumeration value="TCP"/>
      <xs:enumeration value="TCS"/>
      <xs:enumeration value="TRP"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentType4Choice">
    <xs:choice>
      <xs:element name="Cd" type="PaymentType3Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="PendingStatus4Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACPD"/>
      <xs:enumeration value="AUTD"/>
      <xs:enumeration value="AVLB"/>
      <xs:enumeration value="INVD"/>
      <xs:enumeration value="MATD"/>
      <xs:enumeration value="PCAN"/>
      <xs:enumeration value="PFST"/>
      <xs:enumeration value="PSTL"/>
      <xs:enumeration value="RMLR"/>
      <xs:enumeration value="SMLR"/>
      <xs:enumeration value="SRBL"/>
      <xs:enumeration value="SRML"/>
      <xs:enumeration value="SSPD"/>
      <xs:enumeration value="STLE"/>
      <xs:enumeration value="STLM"/>
      <xs:enumeration value="UMAC"/>
      <xs:enumeration value="VALD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PendingStatus4Code_CH_camt005">
    <xs:restriction base="PendingStatus4Code">
      <xs:enumeration value="VALD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PersonIdentification5">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
      <xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="PhoneNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PostalAddress6">
    <xs:sequence>
      <xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
      <xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Priority1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HIGH"/>
      <xs:enumeration value="LOWW"/>
      <xs:enumeration value="NORM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PriorityCode3Choice">
    <xs:choice>
      <xs:element name="Cd" type="Priority1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PriorityCode3Choice_CH_camt005">
    
        <xs:choice>
          <xs:element name="Prtry" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Settlement Priority</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Verrechnungspriorität</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Folgende 3 Prioritätsstufen stehen zur Verfügung:
NORM = Normale Priorität, tiefste Stufe
HIGH = Hohe Priorität, mittlere Stufe
URGT = Dringende Priorität, höchste Stufe.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
The following 3 levels of priority may be used:
NORM = Normal priority, lowest level 
HIGH = High priority, medium level 
URGT = Urgent priority, highest level.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      
  </xs:complexType>
  <xs:simpleType name="QueryType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ALLL"/>
      <xs:enumeration value="CHNG"/>
      <xs:enumeration value="DELD"/>
      <xs:enumeration value="MODF"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="QueueTransactionIdentificationDetails">
    <xs:sequence>
      <xs:element name="QId" type="Max16Text"/>
      <xs:element name="PosInQ" type="Max16Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ReportIndicator1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PRPR"/>
      <xs:enumeration value="STND"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RequestedIndicator">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="RequestType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RT01"/>
      <xs:enumeration value="RT02"/>
      <xs:enumeration value="RT03"/>
      <xs:enumeration value="RT04"/>
      <xs:enumeration value="RT05"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RequestType2Choice">
    <xs:choice>
      <xs:element name="PmtCtrl" type="RequestType1Code"/>
      <xs:element name="Enqry" type="RequestType2Code"/>
      <xs:element name="Prtry" type="GenericIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="RequestType2Choice_CH_camt005">
    
        <xs:choice>
          <xs:element name="Prtry" type="GenericIdentification1_CH_camt005"/>
        </xs:choice>
      
  </xs:complexType>
  <xs:simpleType name="RequestType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RT11"/>
      <xs:enumeration value="RT12"/>
      <xs:enumeration value="RT13"/>
      <xs:enumeration value="RT14"/>
      <xs:enumeration value="RT15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ShortPaymentIdentification1">
    <xs:sequence>
      <xs:element name="TxId" type="Max35Text"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate"/>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemReturnCriteria2">
    <xs:sequence>
      <xs:element name="SysIdInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="MmbIdInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="CtryIdInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="AcctIdInd" type="RequestedIndicator" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemSearch3">
    <xs:sequence>
      <xs:element name="SysId" type="ClearingSystemIdentification3Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="MmbId" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AcctId" type="AccountIdentification4Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemSearch3_CH_camt005">
    
        <xs:sequence>
          <xs:element name="MmbId" type="BranchAndFinancialInstitutionIdentification5_CH_camt005"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="SystemSearch3_CH_camt005_2">
    
        <xs:sequence>
          <xs:element name="MmbId" type="BranchAndFinancialInstitutionIdentification5_CH_camt005_2"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="TransactionCriteria2Choice">
    <xs:choice>
      <xs:element name="QryNm" type="Max35Text"/>
      <xs:element name="NewCrit" type="TransactionCriteria5"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="TransactionCriteria2Choice_CH_camt005">
    
        <xs:choice>
          <xs:element name="NewCrit" type="TransactionCriteria5_CH_camt005"/>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="TransactionCriteria5">
    <xs:sequence>
      <xs:element name="NewQryNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="SchCrit" type="TransactionSearchCriteria5" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="StmtRpt" type="ReportIndicator1Code" minOccurs="0"/>
      <xs:element name="RtrCrit" type="TransactionReturnCriteria3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionCriteria5_CH_camt005">
    
        <xs:sequence>
          <xs:element name="NewQryNm" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Query Type</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Abfragetyp</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">
Muss zwingend verwendet werden zur eindeutigen Identifizierung des Abfragetyps.
Folgende Codes sind definiert:
STXQRY - Einzeltransaktionsabfrage
GENQRY - Allgemeine Transaktionsabfrage
QUEQRY - Abfrage Wartedatei
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">
Must be used to unambiguously identify the query type.
Following codes are defined:
STXQRY - Single transaction query
GENQRY - Generic transaction query
QUEQRY - Wait file query
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SchCrit" type="TransactionSearchCriteria5_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Search Criteria</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Suchkriterien</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="TransactionQuery2">
    <xs:sequence>
      <xs:element name="QryTp" type="QueryType2Code" minOccurs="0"/>
      <xs:element name="TxCrit" type="TransactionCriteria2Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionQuery2_CH_camt005">
    
        <xs:sequence>
          <xs:element name="TxCrit" type="TransactionCriteria2Choice_CH_camt005"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="TransactionReturnCriteria3">
    <xs:sequence>
      <xs:element name="PmtToRtrCrit" type="SystemReturnCriteria2" minOccurs="0"/>
      <xs:element name="PmtFrRtrCrit" type="SystemReturnCriteria2" minOccurs="0"/>
      <xs:element name="AcctCshNtryRtrCrit" type="AccountCashEntryReturnCriteria2" minOccurs="0"/>
      <xs:element name="PmtRtrCrit" type="PaymentReturnCriteria3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionSearchCriteria5">
    <xs:sequence>
      <xs:element name="PmtTo" type="SystemSearch3" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PmtFr" type="SystemSearch3" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PmtSch" type="PaymentSearch5" minOccurs="0"/>
      <xs:element name="AcctNtrySch" type="CashAccountEntrySearch4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionSearchCriteria5_CH_camt005">
    
        <xs:sequence>
          <xs:element name="PmtTo" type="SystemSearch3_CH_camt005" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Instructed Participant</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Gutzuschreibender Teilnehmer</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Zur Adressierung des Teilnehmers muss entweder das Element &lt;BICFI&gt; oder &lt;ClrSysMmbId&gt; verwendet werden.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">For addressing the participant, either the &lt;BICFI&gt; or &lt;ClrSysMmbId&gt; element must be used.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PmtFr" type="SystemSearch3_CH_camt005_2" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Instructing Participant</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Zahlender Teilnehmer</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition">Zur Adressierung des Teilnehmers muss entweder das Element &lt;BICFI&gt; oder &lt;ClrSysMmbId&gt; verwendet werden.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Definition">For addressing the participant, either the &lt;BICFI&gt; or &lt;ClrSysMmbId&gt; element must be used.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PmtSch" type="PaymentSearch5_CH_camt005" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Payment Search Criteria</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Suchkriterien Zahlungsdaten</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
              <xs:documentation xml:lang="EN" source="Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="AcctNtrySch" type="CashAccountEntrySearch4_CH_camt005">
            <xs:annotation>
              <xs:documentation source="Name" xml:lang="EN">Account Search Criteria</xs:documentation>
              <xs:documentation source="Name" xml:lang="DE">Suchkriterien Kontodaten</xs:documentation>
              <xs:documentation xml:lang="DE" source="Definition"/>
              <xs:documentation xml:lang="EN" source="Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="YesNoIndicator">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
</xs:schema>
