enContent/WebContent/xsd/camt.018.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.15) on 2019 Jan 18 08:22:54, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2018.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.018.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.018.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BusinessDayCriteria2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDayCriteria2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to search for business day information and to report on the business day information. A name may be given to the new query.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NewQryNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewQueryName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the query defined by the search criteria and return criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SchCrit" type="BusinessDaySearchCriteria2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SearchCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria on which the information is extracted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrCrit" type="BusinessDayReturnCriteria2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReturnCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the expected report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDayCriteria3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDayCriteria3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the information that is searched either implicitly by recalling a previous query or explicitly by defining the criteria.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="QryNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Recalls the criteria (search and return criteria) defined in a preceding query.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NewCrit" type="BusinessDayCriteria2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Explicitly defines the query criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BusinessDayQuery2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDayQuery2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the query criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="QryTp" type="QueryType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of matching items to be returned in the response to the query.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Crit" type="BusinessDayCriteria3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Criteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the business day information query criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDayReturnCriteria2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDayReturnCriteria2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to report on business day information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysDtInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemDateIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the system date is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SysStsInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemStatusIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the system status is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SysCcyInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemCurrencyIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the system currency is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsrPrdInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClosurePeriodIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the closure information is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the events are requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SsnPrdInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SessionPeriodIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the session period is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtTpInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventTypeIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the system event type is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDaySearchCriteria2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDaySearchCriteria2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to search for system business day information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date for which the availability information is provided.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SysId" type="SystemIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of the system, as assigned by the system administrator.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SysCcy" type="ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency which may be processed by the system. A system may process transactions in a single currency or in multiple currencies.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtTp" type="SystemEventType2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nature of the event that has occurred.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsrPrd" type="DateTimePeriod1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClosurePeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Period of time when the system is closed/not operating.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateTimePeriod1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriod1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Time span defined by a start date and time, and an end date and time.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the period starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the period ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriod1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between various date time patterns.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="FrDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtTmRg" type="DateTimePeriod1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTimeRange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Range of time between a start date and time and an end date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="GetBizDayInf" type="GetBusinessDayInformationV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalEnquiryRequestType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalEnquiryRequestType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external request type code for the enquiry on a position in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code set published separately.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalMarketInfrastructure1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalMarketInfrastructure1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the market infrastructure identification, as published in an external market infrastructure code list.&#13;
This is a synonym of the external cash clearing system code list, extended outside the pure cash domains.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPaymentControlRequestType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalPaymentControlRequestType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external request type code for a payment control command in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code set published separately.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetBusinessDayInformationV05">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GetBusinessDayInformationV05</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The GetBusinessDayInformation message is sent by a member to the transaction administrator.&#13;
It is used to request information on different types of administrative data linked to the system.&#13;
Usage&#13;
The transaction administrator is in charge of providing the members with business information. The term business day information covers all information related to the management of the system, not related to the transactions created in the system. The type of business day information available can vary depending on the system.&#13;
At any time during the operating hours of the system, the member can query the transaction administrator to get information about the static data of the system.&#13;
The member can request information based on the following elements:&#13;
- identification of the system&#13;
- currency within the system concerned&#13;
- status of the system&#13;
- period of availability of a given currency linked to the system concerned (in case the system handles more than one currency)&#13;
- closure information (dates when the system will be inactive and reasons for this inactivity)&#13;
- event indicator (types of event and precise timing of their occurrence within the system concerned)&#13;
This message will be replied to by a ReturnBusinessDayInformation message. Additional information on the generic design of the Get/Return messages can be found in the section How to Use the Cash Management Messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader9">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BizDayInfQryDef" type="BusinessDayQuery2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessDayInformationQueryDefinition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the business day information query criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="MarketInfrastructureIdentification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureIdentification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the market infrastructure identification.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalMarketInfrastructure1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Infrastructure through which the payment instruction is processed, as published in an external clearing system identification code list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing system identification in a proprietary form.
.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader9">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader9</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqTp" type="RequestType4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific actions to be executed through the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QueryType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QueryType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the query, i.e. whether the query requests that all matching items be returned or only new matching items since the last similar query be returned.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">All</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that all matching items be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHNG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Changed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that only new matching items since the last similar query be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MODF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Modified</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that only items that have changed since the last query be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DELD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Deleted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that items that have been deleted since the last query be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestType4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of action to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="PmtCtrl" type="ExternalPaymentControlRequestType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentControl</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request type is a control command on a set of transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Enqry" type="ExternalEnquiryRequestType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Enquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request type is an enquiry on a position or a transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request type is in proprietary format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RequestedIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestedIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates if requested or not.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemEventType2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemEventType2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of system event.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="SystemEventType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of system event that has occurred, expressed in a coded form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of system event that has occurred, expressed as free text or a bilaterally agreed code.
.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SystemEventType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemEventType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a type of event related to a system's operation.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="LVCO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LVPCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff time for low value payments processed by the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LVCC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LVPCancellationCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff time after which low value payments can no longer be cancelled.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LVRT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LVPCutOffReportTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the time at which the members will be provided with the report corresponding to the processing of low value payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EUSU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Euro1StartUp</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the opening of the Euro 1 system operation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STSU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Step1StartUp</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the start of the Step 1 system operation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LWSU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitWarningStartUp</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the start of the limit warning period.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EUCO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Euro1CutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff time for the Euro1 system, that is, the deadline for processing Euro1 transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FIRE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinalReporting</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the report after all operations have ceased in the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STDY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfDay</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the start of the operating day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LTNC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LTNCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff for the settlement of the cash multilateral balances resulting from the overnight cycle of the securities settlement system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRCO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashReservationCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff for the cash reservation window.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RECC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff for the settlement of the multilateral balances stemming from the retail clearing system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LTGC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LTGCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff for the daytime cycle of the securities settlement system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LTDC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LTDCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff for the settlement of the cash multilateral balances resulting from the daylight cycle of the securities settlement system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CUSC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CustomerCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff for customer payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IBKC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterbankCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff for interbank payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SYSC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff for the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSSC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NetSSSReservationCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff for the securities settlement system cash reservation window.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResumeOperation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the expected resume time for a TARGET component.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PCOT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingCutOffTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff time for the processing of payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NPCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewPaymentCutOffTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff time for the receipt of new commercial payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ESTF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndOfStandingFacilities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cut off for the standing facilities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemIdentification2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemIdentification2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information used to identify a cash clearing system.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="MktInfrstrctrId" type="MarketInfrastructureIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing service selected for a transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country in which the system is located.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
</xs:schema>
