enContent/WebContent/xsd/fxtr.008.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 Jul 24 17:03:00, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2013 This schema is a component of the SWIFT Standards Developer Kit.  

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:fxtr.008.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:fxtr.008.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AllocationIndicator1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AllocationIndicator1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the trade is a pre-allocation or a post-allocation trade, or whether the trade is unallocated.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="POST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Post-allocation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is a post-allocation trade.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PREA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pre-allocation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is a pre-allocation trade.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNAL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unallocated</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is unallocated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingBrokerIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingBrokerIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reference number assigned by the clearing broker. A distinction can be made between the reference for the Central Counterparty (CCP) leg and the reference for the client leg of the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SdInd" type="SideIndicator1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SideIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Distinguishes the client leg from the central counterparty (CCP) leg in the clearing broker identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ClrBrkrId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingBrokerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the identification assigned to the clearing broker.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of a clearing system identifier.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a clearing system, in a coded form as published in an external list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification code for a clearing system, that has not yet been identified in the list of clearing systems.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CollateralisationIndicator1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralisationIndicator1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the transaction is collateralised.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FullyCollateralised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is fully collateralised.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ONEW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OneWayCollateralised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is one-way collateralised.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PART">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartiallyCollateralised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is partially collateralised.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNCO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Uncollateralised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is uncollateralised.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Dt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FXTradStsNtfctn" type="ForeignExchangeTradeStatusNotificationV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact42Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact42Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with an exact length of 42 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="42"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalClearingSystemIdentification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the clearing system identification code, as published in an external clearing system identification code list.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ForeignExchangeTradeStatusNotificationV04">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ForeignExchangeTradeStatusNotificationV04</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;&#13;
The ForeignExchangeTradeStatusNotification message is sent by a central system to the participant to notify the current status of a foreign exchange trade in the system.&#13;&#13;
Usage&#13;&#13;
This ForeignExchangeTradeStatusNotification message will be sent at specific times agreed upon by the central settlement system and a participant in a central settlement system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TradData" type="TradeData7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information on the status of a trade in a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RgltryRptg" type="RegulatoryReporting1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegulatoryReporting</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is information that is to be provided to trade repositories in the context of the regulatory standards around OTC derivatives, central counterparties and trade repositories.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LEIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max105Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 105 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max20Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 20 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max210Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 210 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlternativeIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification44">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification44</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AnyBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlternativeIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification59">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification59</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party. The party can be identified by providing the party's name and optionally, the BIC, account number, address, clearing system identification or LEI can also be provided.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyNm" type="Max34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party expressed as the party's name.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="PartyIdentification44">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party expressed as a BIC and an optional alternative identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNb" type="Max34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party's account number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Max105Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party's address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Choice of a clearing system identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LglNttyIdr" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LegalEntityIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the Legal Entity Identifier. This is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification73Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification73Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party by a choice between a BIC or a name and address or an LEI.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="NmAndAdr" type="NameAndAddress8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party expressed as name and an optional address and an optional alternative identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AnyBIC" type="PartyIdentification44">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party expressed as a BIC and an optional alternative identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PtyId" type="PartyIdentification59">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party Identification specified as a list of values per element</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegulatoryReporting1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RegulatoryReporting1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Includes data elements that can be used for reporting to trade repositories, it is not to be used on regular trade confirmations. Although some fields, for example, unique transaction identifier and prior unique transaction identifier, might be used on regular confirmations.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgJursdctn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingJurisdiction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the supervisory party to which the trade needs to be reported.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgPty" type="PartyIdentification73Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the party that is responsible for reporting the trade to the trade repository.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgSdUnqTxIdr" type="UniqueTransactionIdentifier1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingSideUniqueTransactionIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the unique transaction identifier (UTI) to be created at the time a transaction is first executed, shared with all registered entities and counterparties involved in the transaction, and used to track that particular transaction over its life. This identifier can also be known as the Unique Swap Identifier (USI).This is the UTI from the Trading Side party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtySdUnqTxIdr" type="UniqueTransactionIdentifier1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartySideUniqueTransactionIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the unique transaction identifier (UTI) to be created at the time a transaction is first executed, shared with all registered entities and counterparties involved in the transaction, and used to track that particular transaction over its life. This identifier can also be known as the Unique Swap Identifier (USI).This is the UTI from the Counterparty Side party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrXcptnPty" type="PartyIdentification73Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingExceptionParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the party that is exempt from a clearing obligation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrBrkrId" type="ClearingBrokerIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingBrokerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reference number assigned by the clearing broker. A distinction can be made between the reference for the Central Counterparty (CCP) leg and the reference for the client leg of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrThrshldInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingThresholdIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the contract is above or below the clearing threshold. Where No indicates the contract is below the clearing threshold and Yes indicates the contract is above the clearing threshold.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrdPdctId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearedProductIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reference number assigned by the Central Counterparty (CCP).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygPdctIdr" type="UnderlyingProductIdentifier1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnderlyingProductIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the underlying product type.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AllcnInd" type="AllocationIndicator1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AllocationIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the trade is a pre-allocation or a post-allocation trade, or whether the trade is unallocated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CollstnInd" type="CollateralisationIndicator1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralisationIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the transaction is collateralised.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnVn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionVenue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the trading venue of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnTmstmp" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionTimestamp</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date and time of the execution of the transaction in Coordinated Universal Time (UTC).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NonStdFlg" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NonStandardFlag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the reportable transaction has one or more additional terms or provisions, other than those listed in the required real-time data fields, that materially affects the price of the reportable transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LkSwpId" type="Exact42Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LinkSwapIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the common reference or correlation identification for a swap transaction where the near and far leg are confirmed separately.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRptgInf" type="Max210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReportingInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies additional information that might be required by the regulator.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SideIndicator1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SideIndicator1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">To indicate either the reference for the Central Counterparty (CCP) leg or the reference for the client leg of the transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CCPL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CCPLeg</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing broker identification is for the Central Counterparty (CCP) leg.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLNT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClientLeg</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing broker identification is for the client leg.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Status13Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Status13Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="TradeStatus5Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status expressed as a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status expressed in a proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Status6Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Status6Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="TradeStatus4Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status expressed as a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status expressed as a proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="StatusAndSubStatus1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatusAndSubStatus1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status and optionally the sub status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StsCd" type="Status13Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status expressed as a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubStsCd" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubStatusCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sub status expressed as a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatusSubType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatusSubType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates the sub status of the trade notification.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoFlagsSet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No flag has been set for the sub status of the trade notification.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PEND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OnlyPendingFlagTrue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Pending flag has been set to true for the sub status of the trade notification.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMDY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OnlySameDayFlagTrue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Same day flag has been set to true for the sub status of the trade notification.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SDPG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SameDayAndPendingFlagsTrue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Both the same day and pending flags have been set to true for the sub status of the trade notification.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Contents</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element that specifies the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:any>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeData7">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeData7</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information on the status of a trade.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the present message assigned by the party issuing the message. This identification must be unique amongst all messages of same type sent by the same party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgtrRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginatorReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Represents the original reference of the instruction for which the status is given, as assigned by the participant that submitted the foreign exchange trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MtchgSysUnqRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MatchingSystemUniqueReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the unique system identification assigned to the trade  by the central matching system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchgSysMtchgRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MatchingSystemMatchingReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique matching identification assigned to the trade and to the matching trade from the counterparty by the central matching system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchgSysMtchdSdRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MatchingSystemMatchedSideReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification to the unique reference from the central settlement system that allows the removal of alleged trades once the matched status notification for the matching side has been received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StsOrgtr" type="Max20Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusOriginator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that assigned the status to the foreign exchange or derivative trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CurSts" type="StatusAndSubStatus1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrentStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the new status of a trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CurStsSubTp" type="StatusSubType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrentStatusSubType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information on the current status of a trade in a central system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CurStsDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrentStatusDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date and time at which the current status was assigned.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsSts" type="Status6Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the previous status of a trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsStsSubTp" type="StatusSubType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousStatusSubType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information on the previous status of a trade in a central system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsStsDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousStatusDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date and time at which the previous status was assigned.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctTp" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProductType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the product for which the status of the confirmation is reported.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSsnIdr" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementSessionIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">To indicate the requested CLS Settlement Session that the related trade is part of.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SpltTradInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SplitTradeIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">To indicate if the trade is split.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradeStatus4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeStatus4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of a trade in a central matching and settlement system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RJCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is rejected.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FMTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Matched</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is matched.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SUSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Suspended</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has been marked not ready for settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementMature</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has been selected for settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NAUT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotAuthorised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is not authorised.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UMTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unmatched</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is unmatched.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPLI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Split</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has been split into subtrades for settlement efficiency.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Invalid</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is invalid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMNA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementMemberNotAuthorised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has not been authorised by the settlement member guaranteeing payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STLD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Settled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement is complete.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RSCD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rescinded</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is rescinded.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMAU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementMemberAuthorised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has been authorised by the settlement member guaranteeing payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VALI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Validated</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is validated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REGC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegulatoryChecked</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade passed regulatory check.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VMTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MatchedValued</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Both the Opening and the Valuation details of an NDF trade have been matched with corresponding details of a counterparty's NDF trade.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PSTL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartiallySettled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Part, but not all, of a Trade's value has settled, and no further elements of the Trade's value are expected to be settled.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REGS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegulatorySuspended</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is suspended for regulatory reasons.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SRJC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementRejected</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade settlement is rejected.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPMA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OptionMature</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Option has matured.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradeStatus5Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeStatus5Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of a trade in a central matching and settlement system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Invalid</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is invalid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FMTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Matched</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is matched.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AMUI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amended</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is amended.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementMaturePending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has been selected for settlement and is pending.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NAUT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotAuthorised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is not authorised.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RJCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is rejected.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RSCD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rescinded</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is rescinded.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STLD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Settled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement is complete.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMAU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementMemberAuthorised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has been authorised by the settlement member guaranteeing payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMNA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementMemberNotAuthorised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has not been authorised by the settlement member guaranteeing payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPLI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Split</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has been split into subtrades for settlement efficiency.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SUSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Suspended</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has been marked not ready for settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UMTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unmatched</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is unmatched.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementMature</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has been selected for settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnderlyingProductIdentifier1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UnderlyingProductIdentifier1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates the underlying product type for reporting to trade repositories. These product codes must be in line with the ISDA Product Taxonomy.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FORW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignExchangeForward</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Underlying product type of the transaction is a Foreign Exchange Forward.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NDFO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignExchangeNonDeliverableForward</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Underlying product type of the transaction is a Foreign Exchange Non Deliverable Forward.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPOT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignExchangeSpot</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Underlying product type of the transaction is Foreign Exchange Spot.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SWAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignExchangeSWAP</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Underlying product type of the transaction is a Foreign Exchange SWAP.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UniqueTransactionIdentifier1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UniqueTransactionIdentifier1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique transaction identifier (UTI) that was created at the time a transaction was first executed, shared with all registered entities and counterparties involved in the transaction, and used to track that particular transaction during its lifetime and optionally, the prior unique transaction identifier (PUTI). These identifiers can also be known as the Unique Swap Identifier (USI) or the Prior Unique Swap Identifier (PUSI). </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="UnqTxIdr" type="Max105Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UniqueTransactionIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique transaction identifier will be created at the time a transaction is first executed, shared with all registered entities and counterparties involved in the transaction, and used to track that particular transaction during its lifetime. This identifier can also be known as the Unique Swap Identifier (USI).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrrUnqTxIdr" type="Max105Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PriorUniqueTransactionIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Prior unique transaction identifier specifies the previous unique transaction identifier (UTI) that was created at the time the transaction was executed. This identifier can also be known as the Prior Unique Swap Identifier (PUSI).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
