enContent/WebContent/xsd/fxtr.015.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 Jul 24 17:03:00, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2013 This schema is a component of the SWIFT Standards Developer Kit.  

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:fxtr.015.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:fxtr.015.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active or a historic currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of currency.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgreedRate1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AgreedRate1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information needed to process a currency exchange or conversion.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="XchgRate" type="BaseOneRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The value of one currency expressed in relation to another currency. ExchangeRate expresses the ratio between UnitCurrency and QuotedCurrency (ExchangeRate = UnitCurrency/QuotedCurrency).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="CurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnitCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency in which the rate of exchange is expressed in a currency exchange. In the example 1GBP = xxxCUR, the unit currency is GBP.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="QtdCcy" type="CurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuotedCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency into which the base currency is converted, in a currency exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AllocationIndicator1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AllocationIndicator1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the trade is a pre-allocation or a post-allocation trade, or whether the trade is unallocated.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="POST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Post-allocation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is a post-allocation trade.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PREA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pre-allocation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is a pre-allocation trade.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNAL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unallocated</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is unallocated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountsAndValueDate1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AmountsAndValueDate1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the value date and the amounts traded in a foreign exchange transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TradgSdBuyAmt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingSideBuyAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency and amount bought in a foreign exchange trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TradgSdSellAmt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingSideSellAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency and amount sold in a foreign exchange trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the trade is settled, ie, the amounts are due.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BaseOneRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a decimal, eg, 0.7 is 7/10 and 70%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingBrokerIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingBrokerIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reference number assigned by the clearing broker. A distinction can be made between the reference for the Central Counterparty (CCP) leg and the reference for the client leg of the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SdInd" type="SideIndicator1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SideIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Distinguishes the client leg from the central counterparty (CCP) leg in the clearing broker identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ClrBrkrId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingBrokerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the identification assigned to the clearing broker.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of a clearing system identifier.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a clearing system, in a coded form as published in an external list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification code for a clearing system, that has not yet been identified in the list of clearing systems.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CollateralisationIndicator1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralisationIndicator1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the transaction is collateralised.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FullyCollateralised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is fully collateralised.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ONEW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OneWayCollateralised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is one-way collateralised.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PART">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartiallyCollateralised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is partially collateralised.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNCO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Uncollateralised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is uncollateralised.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ContactInformation1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ContactInformation1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Communication device number or electronic address used for communication.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FaxNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collection of information that identifies a FAX number, as defined by telecom services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TelNb" type="PhoneNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TelephoneNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collection of information that identifies a phone number, as defined by telecom services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EmailAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address for electronic mail (e-mail).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Dt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FXTradInstrAmdmnt" type="ForeignExchangeTradeInstructionAmendmentV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact42Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact42Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with an exact length of 42 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="42"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalClearingSystemIdentification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the clearing system identification code, as published in an external clearing system identification code list.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ForeignExchangeTradeInstructionAmendmentV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ForeignExchangeTradeInstructionAmendmentV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;&#13;
The ForeignExchangeTradeInstructionAmendement message is sent by a participant to a central settlement system to notify the amendment of the foreign exchange trade previously confirmed by the sender.&#13;&#13;
Usage&#13;&#13;
The ForeignExchangeTradeInstructionAmendement message is sent from a participant to a central settlement system to advise of the update of a previously sent notification. The "Related Reference" must be used to link it to the previous notification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TradInf" type="TradeAgreement8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General information related to the trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TradgSdId" type="TradePartyIdentification6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingSideIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party(ies) on the trading side of the trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtrPtySdId" type="TradePartyIdentification6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartySideIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party(ies) on the counterparty side of the trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TradAmts" type="AmountsAndValueDate1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeAmounts</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amounts of the trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AgrdRate" type="AgreedRate1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AgreedRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exchange rate as agreed by the traders.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgSdSttlmInstrs" type="SettlementParties29">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingSideSettlementInstructions</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement instructions for the amounts received by the trading side.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtySdSttlmInstrs" type="SettlementParties29">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartySideSettlementInstructions</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement instructions for the amounts received by the counterparty.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnlGnlInf" type="GeneralInformation4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OptionalGeneralInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the trade is a block or an individual trade. It also contains supplementary information such as free format information, broker's identification, dealing branches and references.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RgltryRptg" type="RegulatoryReporting1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegulatoryReporting</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is information that is to be provided to trade repositories in the context of the regulatory standards around OTC derivatives, central counterparties and trade repositories.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundIdentification4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FundIdentification4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Distinct pool of financial instruments managed by a single investment policy. May or may not be part of an umbrella fund.The pool is issued in at least one investment fund class.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FndId" type="PartyIdentification60">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FundIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the investment fund.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctIdWthCtdn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentificationWithCustodian</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the account of the fund held with the custodian.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtdnId" type="PartyIdentification73Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CustodianIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the custodian which services the account of the fund.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralInformation4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GeneralInformation4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information concerning the negotiation process leading to a treasury trade.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BlockIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the trade is a block or single trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdTradRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedTradeReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a preceding transaction, for example, an option or swap.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgMtd" type="Trading1MethodCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealingMethod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Method used by the trading parties to negotiate and/or execute a deal. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BrkrId" type="PartyIdentification73Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BrokerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the broker which arranged the deal between the trading side and the counterparty side or, when two money brokers are involved, between the trading side and the other money broker.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Counterparty's reference for the trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BrkrsComssn" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BrokersCommission</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Brokerage fee for a broker confirmation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SndrToRcvrInf" type="Max210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SenderToReceiverInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies additional information for the receiver and applies to the whole message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgBrnchTradgSd" type="PartyIdentification73Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealingBranchTradingSide</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the branch at the trading side with which the deal was done.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgBrnchCtrPtySd" type="PartyIdentification73Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealingBranchCounterpartySide</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the branch at the counterparty side with which the deal was done.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctInf" type="ContactInformation1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContactInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the name and/or electronic address of the receiver of the message who may be contacted for any queries concerning this trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LEIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MatchingSystemReference1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MatchingSystemReference1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a matching system unique identification or the related reference. </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="MtchgSysUnqRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MatchingSystemUniqueReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the unique system identification assigned to the trade  by the central matching system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RltdRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Refers to the identification of a previous event in the life of a trade which is amended or cancelled. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max105Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max105Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 105 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max210Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 210 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max256Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 256 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlternativeIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification44">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification44</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AnyBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlternativeIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification59">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification59</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party. The party can be identified by providing the party's name and optionally, the BIC, account number, address, clearing system identification or LEI can also be provided.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyNm" type="Max34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party expressed as the party's name.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="PartyIdentification44">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party expressed as a BIC and an optional alternative identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNb" type="Max34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party's account number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Max105Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party's address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Choice of a clearing system identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LglNttyIdr" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LegalEntityIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the Legal Entity Identifier. This is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification60">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification60</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party by fund name, name and address or an LEI.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FndId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FundIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a fund.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NmAndAdr" type="NameAndAddress8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party expressed as name and an optional address and an optional alternative identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LglNttyIdr" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LegalEntityIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the Legal Entity Identifier. This is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification73Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification73Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party by a choice between a BIC or a name and address or an LEI.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="NmAndAdr" type="NameAndAddress8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party expressed as name and an optional address and an optional alternative identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AnyBIC" type="PartyIdentification44">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party expressed as a BIC and an optional alternative identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PtyId" type="PartyIdentification59">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party Identification specified as a list of values per element</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PhoneNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The collection of information which identifies a specific phone or FAX number as defined by telecom services.
It consists of a "+" followed by the country code (from 1 to 3 characters) then a "-" and finally, any combination of numbers, "(", ")", "+" and "-" (up to 30 characters).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegulatoryReporting1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RegulatoryReporting1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Includes data elements that can be used for reporting to trade repositories, it is not to be used on regular trade confirmations. Although some fields, for example, unique transaction identifier and prior unique transaction identifier, might be used on regular confirmations.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgJursdctn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingJurisdiction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the supervisory party to which the trade needs to be reported.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgPty" type="PartyIdentification73Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the party that is responsible for reporting the trade to the trade repository.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgSdUnqTxIdr" type="UniqueTransactionIdentifier1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingSideUniqueTransactionIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the unique transaction identifier (UTI) to be created at the time a transaction is first executed, shared with all registered entities and counterparties involved in the transaction, and used to track that particular transaction over its life. This identifier can also be known as the Unique Swap Identifier (USI).This is the UTI from the Trading Side party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtySdUnqTxIdr" type="UniqueTransactionIdentifier1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartySideUniqueTransactionIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the unique transaction identifier (UTI) to be created at the time a transaction is first executed, shared with all registered entities and counterparties involved in the transaction, and used to track that particular transaction over its life. This identifier can also be known as the Unique Swap Identifier (USI).This is the UTI from the Counterparty Side party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrXcptnPty" type="PartyIdentification73Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingExceptionParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the party that is exempt from a clearing obligation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrBrkrId" type="ClearingBrokerIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingBrokerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reference number assigned by the clearing broker. A distinction can be made between the reference for the Central Counterparty (CCP) leg and the reference for the client leg of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrThrshldInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingThresholdIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the contract is above or below the clearing threshold. Where No indicates the contract is below the clearing threshold and Yes indicates the contract is above the clearing threshold.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrdPdctId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearedProductIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reference number assigned by the Central Counterparty (CCP).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygPdctIdr" type="UnderlyingProductIdentifier1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnderlyingProductIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the underlying product type.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AllcnInd" type="AllocationIndicator1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AllocationIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the trade is a pre-allocation or a post-allocation trade, or whether the trade is unallocated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CollstnInd" type="CollateralisationIndicator1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralisationIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the transaction is collateralised.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnVn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionVenue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the trading venue of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnTmstmp" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionTimestamp</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date and time of the execution of the transaction in Coordinated Universal Time (UTC).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NonStdFlg" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NonStandardFlag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the reportable transaction has one or more additional terms or provisions, other than those listed in the required real-time data fields, that materially affects the price of the reportable transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LkSwpId" type="Exact42Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LinkSwapIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the common reference or correlation identification for a swap transaction where the near and far leg are confirmed separately.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRptgInf" type="Max210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReportingInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies additional information that might be required by the regulator.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties29">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementParties29</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a settlement party by a choice between a BIC or a name and address or a party identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryAgt" type="PartyIdentification73Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial institution from which cash will be transferred.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Intrmy" type="PartyIdentification73Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Intermediary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party, within the settlement chain, between the delivery and receiving agents.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RcvgAgt" type="PartyIdentification73Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivingAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial institution where the payee will receive the funds.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BnfcryInstn" type="PartyIdentification73Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BeneficiaryInstitution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Ultimate institution that will receive the funds when different from the trading or counterparty side.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SideIndicator1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SideIndicator1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">To indicate either the reference for the Central Counterparty (CCP) leg or the reference for the client leg of the transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CCPL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CCPLeg</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing broker identification is for the Central Counterparty (CCP) leg.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLNT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClientLeg</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing broker identification is for the client leg.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Contents</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element that specifies the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:any>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeAgreement8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeAgreement8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Date and identification of a trade together with references to previous events in its life.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TradDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the trading parties agreed to amend or cancel the trade. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrgtrRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginatorReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference of the present instruction assigned by the party issuing the message. This reference must be unique amongst all messages of same type sent by the same party. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MtchgSysRef" type="MatchingSystemReference1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MatchingSystemReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a matching system reference by a choice between a matching system unique identification or the related reference. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CommonReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference common to both parties of the trade. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AmdOrCclRsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmendOrCancelReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Describes the reason for the cancellation or the amendment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OprTp" type="Max4Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OperationType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of  underlying transaction, for example cancellation (CANC).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OprScp" type="Max4Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OperationScope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the business role between the submitter and the trade party, for example Agent (AGNT).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSsnIdr" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementSessionIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">To indicate the requested CLS Settlement Session that the related trade is part of.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradePartyIdentification6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradePartyIdentification6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Entity involved in an activity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SubmitgPty" type="PartyIdentification73Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubmittingParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that submits the foreign exchange trade to the matching system or to the settlement system or to the counterparty.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TradPty" type="PartyIdentification73Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that originated the foreign exchange trade. This party may be the same as the submitting party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FndId" type="FundIdentification4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FundIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the fund that is one of the parties in the foreign exchange trade.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Trading1MethodCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Trading1MethodCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the method used for the negotiation and execution of the trade.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Electronic</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade executed through an electronic trading system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PHON">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Phone</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade executed over the phone.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BROK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Broker</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade executed through a broker.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnderlyingProductIdentifier1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UnderlyingProductIdentifier1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates the underlying product type for reporting to trade repositories. These product codes must be in line with the ISDA Product Taxonomy.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FORW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignExchangeForward</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Underlying product type of the transaction is a Foreign Exchange Forward.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NDFO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignExchangeNonDeliverableForward</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Underlying product type of the transaction is a Foreign Exchange Non Deliverable Forward.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPOT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignExchangeSpot</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Underlying product type of the transaction is Foreign Exchange Spot.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SWAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignExchangeSWAP</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Underlying product type of the transaction is a Foreign Exchange SWAP.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UniqueTransactionIdentifier1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UniqueTransactionIdentifier1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique transaction identifier (UTI) that was created at the time a transaction was first executed, shared with all registered entities and counterparties involved in the transaction, and used to track that particular transaction during its lifetime and optionally, the prior unique transaction identifier (PUTI). These identifiers can also be known as the Unique Swap Identifier (USI) or the Prior Unique Swap Identifier (PUSI). </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="UnqTxIdr" type="Max105Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UniqueTransactionIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique transaction identifier will be created at the time a transaction is first executed, shared with all registered entities and counterparties involved in the transaction, and used to track that particular transaction during its lifetime. This identifier can also be known as the Unique Swap Identifier (USI).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrrUnqTxIdr" type="Max105Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PriorUniqueTransactionIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Prior unique transaction identifier specifies the previous unique transaction identifier (UTI) that was created at the time the transaction was executed. This identifier can also be known as the Prior Unique Swap Identifier (PUSI).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
