enContent/WebContent/xsd/pacs.028.001.01.chsepa.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
(C) Copyright 2019, SIX Interbank Clearing Ltd
XML Schema used in the Swiss Interbank space:
	Suffix part 1: .chsdd:   Identification as a Swiss (CH) version
	Suffix part 2: .02:   Version of this scheme

Based on ISO pacs.028.001.01 (urn:iso:std:iso:20022:tech:xsd:pacs.028.001.01)
For comments and suggestions please contact pm@six-group.com
-->
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/pacs.028.001.01.chsepa.02"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.six-interbank-clearing.com/de/pacs.028.001.01.chsepa.02"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_CHSEPA_pacs028"/>
  <xs:complexType name="AccountIdentification4Choice">
    <xs:choice>
      <xs:element name="IBAN" type="IBAN2007Identifier"/>
      <xs:element name="Othr" type="GenericAccountIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice_CHSEPA_pacs028">
    
        <xs:choice>
          <xs:element name="IBAN" type="IBAN2007Identifier"/>
          <xs:element name="Othr" type="GenericAccountIdentification1_CHSEPA_pacs028"/>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice_CHSEPA_pacs028_2">
    
        <xs:choice>
          <xs:element name="IBAN" type="IBAN2007Identifier"/>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="AccountSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AccountSchemeName1Choice_CHSEPA_pacs028">
    
        <xs:choice>
          <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
          <xs:element name="Prtry" type="Max35Text_CHSEPA_pacs028_2"/>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount_CHSEPA_pacs028">
    <xs:simpleContent>
      <xs:restriction base="ActiveOrHistoricCurrencyAndAmount">
        <xs:fractionDigits value="2"/>
        <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AnyBICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICFIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8_CHSEPA_pacs028"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5_CHSEPA_pacs028_2">
    
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8_CHSEPA_pacs028_2"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="CashAccount24">
    <xs:sequence>
      <xs:element name="Id" type="AccountIdentification4Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount24_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="Id" type="AccountIdentification4Choice_CHSEPA_pacs028"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="CashAccount24_CHSEPA_pacs028_2">
    
        <xs:sequence>
          <xs:element name="Id" type="AccountIdentification4Choice_CHSEPA_pacs028_2"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="CategoryPurpose1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CategoryPurpose1Choice_CHSEPA_pacs028">
    
        <xs:choice>
          <xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
          <xs:element name="Prtry" type="Max35Text_CHSEPA_pacs028_2"/>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification3Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalCashClearingSystem1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification3Choice_CHSEPA_pacs028">
    
        <xs:choice>
          <xs:element name="Cd" type="ExternalCashClearingSystem1Code"/>
          <xs:element name="Prtry" type="Max35Text_CHSEPA_pacs028_2"/>
        </xs:choice>
      
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CreditorReferenceInformation2">
    <xs:sequence>
      <xs:element name="Tp" type="CreditorReferenceType2" minOccurs="0"/>
      <xs:element name="Ref" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceInformation2_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="Tp" type="CreditorReferenceType2_CHSEPA_pacs028"/>
          <xs:element name="Ref" type="Max35Text_CHSEPA_pacs028_3"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType1Choice">
    <xs:choice>
      <xs:element name="Cd" type="DocumentType3Code"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType2">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType2_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
          <xs:element name="Issr" type="Max35Text_CHSEPA_pacs028_2" minOccurs="0"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth">
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate"/>
      <xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
      <xs:element name="CityOfBirth" type="Max35Text"/>
      <xs:element name="CtryOfBirth" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="BirthDt" type="ISODate"/>
          <xs:element name="PrvcOfBirth" type="Max35Text_CHSEPA_pacs028_3" minOccurs="0"/>
          <xs:element name="CityOfBirth" type="Max35Text_CHSEPA_pacs028_3"/>
          <xs:element name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="FIToFIPmtStsReq" type="FIToFIPaymentStatusRequestV01"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DocumentType3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISP"/>
      <xs:enumeration value="FXDR"/>
      <xs:enumeration value="PUOR"/>
      <xs:enumeration value="RADM"/>
      <xs:enumeration value="RPIN"/>
      <xs:enumeration value="SCOR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Document_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="FIToFIPmtStsReq" type="FIToFIPaymentStatusRequestV01_CHSEPA_pacs028"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="ExternalAccountIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCashClearingSystem1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCategoryPurpose1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalLocalInstrument1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalOrganisationIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPersonIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalServiceLevel1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialInstitutionIdentification8">
    <xs:sequence>
      <xs:element name="BICFI" type="BICFIIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification8_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="BICFI" type="BICFIIdentifier"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification8_CHSEPA_pacs028_2">
    
        <xs:sequence>
          <xs:element name="BICFI" type="BICFIIdentifier"/>
          <xs:element name="Othr" type="GenericFinancialIdentification1_CHSEPA_pacs028" minOccurs="0"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="FIToFIPaymentStatusRequestV01">
    <xs:sequence>
      <xs:element name="GrpHdr" type="GroupHeader53"/>
      <xs:element name="OrgnlGrpInf" type="OriginalGroupInformation27" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="TxInf" type="PaymentTransaction73" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FIToFIPaymentStatusRequestV01_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="GrpHdr" type="GroupHeader53_CHSEPA_pacs028"/>
          <xs:element name="OrgnlGrpInf" type="OriginalGroupInformation27_CHSEPA_pacs028"/>
          <xs:element name="TxInf" type="PaymentTransaction73_CHSEPA_pacs028"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max34Text"/>
      <xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="Id" type="Max34Text_CHSEPA_pacs028"/>
          <xs:element name="SchmeNm" type="AccountSchemeName1Choice_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="Issr" type="Max35Text_CHSEPA_pacs028_2" minOccurs="0"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="Id" type="Max35Text_CHSEPA_pacs028"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="Id" type="Max35Text_CHSEPA_pacs028_2"/>
          <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="Issr" type="Max35Text_CHSEPA_pacs028_2" minOccurs="0"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="Id" type="Max35Text_CHSEPA_pacs028_2"/>
          <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="Issr" type="Max35Text_CHSEPA_pacs028_2" minOccurs="0"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="GroupHeader53">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="CreDtTm" type="ISODateTime"/>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader53_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_CHSEPA_pacs028"/>
          <xs:element name="CreDtTm" type="ISODateTime"/>
          <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5_CHSEPA_pacs028"/>
          <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification5_CHSEPA_pacs028_2"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="IBAN2007Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:complexType name="LocalInstrument2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="LocalInstrument2Choice_CHSEPA_pacs028">
    
        <xs:choice>
          <xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
          <xs:element name="Prtry" type="Max35Text_CHSEPA_pacs028_2"/>
        </xs:choice>
      
  </xs:complexType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text_CHSEPA_pacs028">
    <xs:restriction base="Max140Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
      <xs:pattern value="[ ]*[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text_CHSEPA_pacs028">
    <xs:restriction base="Max34Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CHSEPA_pacs028">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CHSEPA_pacs028_2">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CHSEPA_pacs028_3">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[ ]*[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text_CHSEPA_pacs028">
    <xs:restriction base="Max70Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
      <xs:pattern value="[ ]*[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrganisationIdentification8">
    <xs:sequence>
      <xs:element name="AnyBIC" type="AnyBICIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification8_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="AnyBIC" type="AnyBICIdentifier" minOccurs="0"/>
          <xs:element name="Othr" type="GenericOrganisationIdentification1_CHSEPA_pacs028" minOccurs="0"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice_CHSEPA_pacs028">
    
        <xs:choice>
          <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
          <xs:element name="Prtry" type="Max35Text_CHSEPA_pacs028_2"/>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="OriginalGroupInformation27">
    <xs:sequence>
      <xs:element name="OrgnlMsgId" type="Max35Text"/>
      <xs:element name="OrgnlMsgNmId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalGroupInformation27_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="OrgnlMsgId" type="Max35Text_CHSEPA_pacs028"/>
          <xs:element name="OrgnlMsgNmId" type="Max35Text_CHSEPA_pacs028_2"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="OriginalTransactionReference24">
    <xs:sequence>
      <xs:element name="IntrBkSttlmAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0"/>
      <xs:element name="SttlmInf" type="SettlementInstruction4" minOccurs="0"/>
      <xs:element name="PmtTpInf" type="PaymentTypeInformation25" minOccurs="0"/>
      <xs:element name="RmtInf" type="RemittanceInformation11" minOccurs="0"/>
      <xs:element name="UltmtDbtr" type="PartyIdentification43" minOccurs="0"/>
      <xs:element name="Dbtr" type="PartyIdentification43" minOccurs="0"/>
      <xs:element name="DbtrAcct" type="CashAccount24" minOccurs="0"/>
      <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="Cdtr" type="PartyIdentification43" minOccurs="0"/>
      <xs:element name="CdtrAcct" type="CashAccount24" minOccurs="0"/>
      <xs:element name="UltmtCdtr" type="PartyIdentification43" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalTransactionReference24_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="IntrBkSttlmAmt" type="ActiveOrHistoricCurrencyAndAmount_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0"/>
          <xs:element name="SttlmInf" type="SettlementInstruction4_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="PmtTpInf" type="PaymentTypeInformation25_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="RmtInf" type="RemittanceInformation11_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="UltmtDbtr" type="PartyIdentification43_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="Dbtr" type="PartyIdentification43_CHSEPA_pacs028_2" minOccurs="0"/>
          <xs:element name="DbtrAcct" type="CashAccount24_CHSEPA_pacs028_2" minOccurs="0"/>
          <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification5_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification5_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="Cdtr" type="PartyIdentification43_CHSEPA_pacs028_2" minOccurs="0"/>
          <xs:element name="CdtrAcct" type="CashAccount24_CHSEPA_pacs028_2" minOccurs="0"/>
          <xs:element name="UltmtCdtr" type="PartyIdentification43_CHSEPA_pacs028" minOccurs="0"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="Party11Choice">
    <xs:choice>
      <xs:element name="OrgId" type="OrganisationIdentification8"/>
      <xs:element name="PrvtId" type="PersonIdentification5"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party11Choice_CHSEPA_pacs028">
    
        <xs:choice>
          <xs:element name="OrgId" type="OrganisationIdentification8_CHSEPA_pacs028"/>
          <xs:element name="PrvtId" type="PersonIdentification5_CHSEPA_pacs028"/>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="PartyIdentification43">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
      <xs:element name="Id" type="Party11Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification43_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="Nm" type="Max140Text_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="Id" type="Party11Choice_CHSEPA_pacs028" minOccurs="0"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="PartyIdentification43_CHSEPA_pacs028_2">
    
        <xs:sequence>
          <xs:element name="Nm" type="Max140Text_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="PstlAdr" type="PostalAddress6_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="Id" type="Party11Choice_CHSEPA_pacs028" minOccurs="0"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="PaymentTransaction73">
    <xs:sequence>
      <xs:element name="StsReqId" type="Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlInstrId" type="Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlEndToEndId" type="Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlTxId" type="Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlTxRef" type="OriginalTransactionReference24" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTransaction73_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="StsReqId" type="Max35Text_CHSEPA_pacs028"/>
          <xs:element name="OrgnlInstrId" type="Max35Text_CHSEPA_pacs028"/>
          <xs:element name="OrgnlEndToEndId" type="Max35Text_CHSEPA_pacs028"/>
          <xs:element name="OrgnlTxId" type="Max35Text_CHSEPA_pacs028"/>
          <xs:element name="OrgnlTxRef" type="OriginalTransactionReference24_CHSEPA_pacs028"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="PaymentTypeInformation25">
    <xs:sequence>
      <xs:element name="SvcLvl" type="ServiceLevel8Choice" minOccurs="0"/>
      <xs:element name="LclInstrm" type="LocalInstrument2Choice" minOccurs="0"/>
      <xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTypeInformation25_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="SvcLvl" type="ServiceLevel8Choice"/>
          <xs:element name="LclInstrm" type="LocalInstrument2Choice_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="CtgyPurp" type="CategoryPurpose1Choice_CHSEPA_pacs028" minOccurs="0"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="PersonIdentification5">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
      <xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification5_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="Othr" type="GenericPersonIdentification1_CHSEPA_pacs028" minOccurs="0"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice_CHSEPA_pacs028">
    
        <xs:choice>
          <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
          <xs:element name="Prtry" type="Max35Text_CHSEPA_pacs028_2"/>
        </xs:choice>
      
  </xs:complexType>
  <xs:complexType name="PostalAddress6">
    <xs:sequence>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddress6_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
          <xs:element name="AdrLine" type="Max70Text_CHSEPA_pacs028" minOccurs="0" maxOccurs="2"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="RemittanceInformation11">
    <xs:sequence>
      <xs:element name="Ustrd" type="Max140Text" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Strd" type="StructuredRemittanceInformation13" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation11_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="Ustrd" type="Max140Text_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="Strd" type="StructuredRemittanceInformation13_CHSEPA_pacs028" minOccurs="0"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:complexType name="ServiceLevel8Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalServiceLevel1Code"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="SettlementInstruction4">
    <xs:sequence>
      <xs:element name="SttlmMtd" type="SettlementMethod1Code"/>
      <xs:element name="SttlmAcct" type="CashAccount24" minOccurs="0"/>
      <xs:element name="ClrSys" type="ClearingSystemIdentification3Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SettlementInstruction4_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="SttlmMtd" type="SettlementMethod1Code"/>
          <xs:element name="SttlmAcct" type="CashAccount24_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="ClrSys" type="ClearingSystemIdentification3Choice_CHSEPA_pacs028" minOccurs="0"/>
        </xs:sequence>
      
  </xs:complexType>
  <xs:simpleType name="SettlementMethod1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLRG"/>
      <xs:enumeration value="COVE"/>
      <xs:enumeration value="INDA"/>
      <xs:enumeration value="INGA"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="StructuredRemittanceInformation13">
    <xs:sequence>
      <xs:element name="CdtrRefInf" type="CreditorReferenceInformation2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformation13_CHSEPA_pacs028">
    
        <xs:sequence>
          <xs:element name="CdtrRefInf" type="CreditorReferenceInformation2_CHSEPA_pacs028" minOccurs="0"/>
        </xs:sequence>
      
  </xs:complexType>
</xs:schema>
