enContent/WebContent/xsd/reda.004.001.02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Generated by SWIFTStandards Workstation (build:R7.0.2.1) on 2009 Sep 23 15:15:26-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:tech:xsd:reda.004.001.02" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:reda.004.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="IBAN" type="IBANIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IBAN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">International Bank Account Number (IBAN) - identifier used internationally by financial institutions to uniquely identify the account of a customer. Further specifications of the format and content of the IBAN can be found in the standard ISO 13616 "Banking and related financial services - International Bank Account Number (IBAN)" version 1997-10-01, or later revisions.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="BBAN" type="BBANIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BBAN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Basic Bank Account Number (BBAN) - identifier used nationally by financial institutions, ie, in individual countries, generally as part of a National Account Numbering Scheme(s), to uniquely identify the account of a customer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DmstAcct" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DomesticAccount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Account number used by financial institutions in individual countries to identify an account of a customer, but not necessarily the bank and branch of the financial institution in which the account is held.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DpstryAcct" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DepositoryAccount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identifier for an account. It is assigned by the account servicer using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by an ISIN.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DomesticIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Country of the proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryIdSrc" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Entity that issues the proprietary identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BusinessDayConvention1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FWNG"/>
            <xs:enumeration value="PREC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccount21">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Svcr" type="BICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Servicer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that manages the account on behalf of the account owner, that is manages the registration and booking of entries on the account, calculates balances on the account and provides information about the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Id" type="AccountIdentification5Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by an ISIN.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount22">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="CurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Svcr" type="BICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Servicer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that manages the account on behalf of the account owner, that is manages the registration and booking of entries on the account, calculates balances on the account and provides information about the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Id" type="AccountIdentification5Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by an ISIN.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndryAcct" type="CashAccount21">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecondaryAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sub-division of a master or omnibus cash account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcctTpDesc" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountTypeDescription</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the account. It provides an additional means of identification, and is designated by the account servicer in agreement with the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContactAttributes1">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the financial instrument in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PstlAdr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostalAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PhneNb" type="PhoneNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PhoneNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collection of information that identifies a phone number, as defined by telecom services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FaxNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collection of information that identifies a FAX number, as defined by telecom services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EmailAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address for electronic mail (e-mail).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max2048Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">URLAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address for the Universal Resource Locator (URL), eg, used over the www (HTTP) service.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="BICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by an ISIN.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DistributionPolicy1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="ACCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DividendPolicy1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="UNIT"/>
            <xs:enumeration value="BOTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FndPrcgPsptRpt" type="FundProcessingPassportReportV02">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FundProcessingPassportReportV02</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
A report provider, eg, a fund promoter, fund management company, transfer agent, or market data provider, sends the&#13;
FundProcessingPassportReport message to the report recipient, eg, a professional investor, investment fund distributor,&#13;
market data provider, regulator or other interested party to provide the key reference data for financial instruments to&#13;
facilitate trading.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EUSavingsDirective1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EUSI"/>
            <xs:enumeration value="EUSO"/>
            <xs:enumeration value="VARI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EventFrequency5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="QUTR"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="CLOS"/>
            <xs:enumeration value="TOMN"/>
            <xs:enumeration value="TOWK"/>
            <xs:enumeration value="TWMN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name qualifying the information provided in the Text field, and place where this information should be inserted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Txt" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Text</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Text of the extension.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument20">
        <xs:sequence>
            <xs:element name="PhysBrScties" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PhysicalBearerSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicate whether or note it is possible to hold bearer units/shares in this class in certified form</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DmtrlsdBrScties" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DematerialisedBearerSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicate whether or not it is possible to hold bearer units/shares in paperless form</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PhysRegdScties" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PhysicalRegisteredSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicate whether or not it is possible to hold registered units/shares in this class in paperless form</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DmtrlsdRegdScties" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DematerialisedRegisteredSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicate whether or not it is possible to hold registered units/shares in this class in paperless form</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DstrbtnPlcy" type="DistributionPolicy1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DistributionPolicy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Income policy relating to a class type, ie, if income is paid out or retained in the fund.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DvddPlcy" type="DividendPolicy1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DividendPolicy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Dividend policy of the fund, eg, cash, units.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DvddFrqcy" type="EventFrequency5Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DividendFrequency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Frequency with which the income is allocated to investors.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RinvstmtFrqcy" type="EventFrequency5Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReinvestmentFrequency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Frequency with which the reinvestment takes place,  This is the same or less than the dividend frequency,</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FrntEndLd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FrontEndLoad</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Front end charge on subscription orders for this class can be applied.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BckEndLd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BackEndLoad</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exit charge (eg. CDSC) on redemption orders for this class can be applied.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SwtchFee" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SwitchFee</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">If a separate fee for switching between sub-funds of the same umbrella can be applied</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EUSvgsDrctv" type="EUSavingsDirective1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EUSavingsDirective</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the investment fund class is subject to the European Union Saving Directive.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Forms">
        <xs:sequence>
            <xs:element name="ApplForm" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ApplicationForm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Physical application form is required.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SgntrTp" type="SignatureType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SignatureType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of signature.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundProcessingPassport1">
        <xs:sequence>
            <xs:element name="UpdtdDt" type="UpdatedDate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UpdatedDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of last revision.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctyId" type="SecurityIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments representing a sum of rights of the investor vis-a-vis the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MainFndOrdrDsk" type="ContactAttributes1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MainFundOrderDesk</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Principal entity appointed by the fund, to which orders should be submitted. Usually located in the country of domicile.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FndMgmtCpny" type="ContactAttributes1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FundManagementCompany</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Company that is responsible for the management and operation of the fund, eg, determines the investment strategy, appoints&#13;
the service providers, and makes major decisions for the fund. It is usually responsible for the distribution and marketing&#13;
of the fund. For self-managed funds, this wlll often be a separate promoter or sponsor of the fund.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FndDtls" type="FinancialInstrument20">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FundDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security that is a sub-set of an investment fund, and is governed by the same investment fund policy, eg, dividend option or valuation currency.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ValtnDealgChrtcs" type="ValuationDealingProcessingCharacteristics2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValuationDealingCharacteristics</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Processing characteristics linked to the instrument, ie, not to  the market.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InvstmtRstrctns" type="InvestmentRestrictions2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvestmentRestrictions</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Processing characteristics linked to the instrument, ie, not to  the market.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SbcptPrcgChrtcs" type="ProcessingCharacteristics2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubscriptionProcessingCharacteristics</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Processing characteristics linked to the instrument, ie, not to  the market.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RedPrcgChrtcs" type="ProcessingCharacteristics3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RedemptionProcessingCharacteristics</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Processing characteristics linked to the instrument, ie, not to  the market.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SttlmDtls" type="CashAccount22">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a cash entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclMktAnx" type="LocalMarketAnnex2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LocalMarketAnnex</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Context, or geographic environment, in which trading parties may meet in order to negotiate and execute trades among themselves.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Extension</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundProcessingPassportReportV02">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference that uniquely identifies a message from a business application standpoint.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="FPP" type="FundProcessingPassport1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FundProcessingPassport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Fund Processing Passsport (FPP) is a fully harmonised document with all key operational information that fund promoters&#13;
    should provide on their investment funds in order to facilitate their trading.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="HoldingTransferable1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TRAL"/>
            <xs:enumeration value="TRNA"/>
            <xs:enumeration value="RFOD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:complexType name="InvestmentRestrictions2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MinInitlSbcptAmt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MinimumInitialSubscriptionAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Minimum initial quantity of securities, expressed as an amount that must be purchased at subscription.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MinInitlSbcptUnits" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MinimumInitialSubscriptionUnits</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Minimum initial number of units/shares that must be purchased.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MinSbsqntSbcptAmt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MinimumSubsequentSubscriptionAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Minimum quantity of securities, expressed as an amount that must be purchased.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MinSbsqntSbcptUnits" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MinimumSubsequentSubscriptionUnits</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Minimum quantity of securities, expressed as number of units/shares that must be purchased.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxRedAmt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MaximumRedemptionAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Maximum quantity of securities, expressed as an amount that can be sold.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxRedUnits" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MaximumRedemptionUnits</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Maximum number of shares/units that may be redeemed on a single dealing day.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRedRstrctns" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherRedemptionRestrictions</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies any other restrictions that may limit an investor's ability to redeem.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MinHldgAmt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MinimumHoldingAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Minimum value of units that must be maintained to avoid automatic redemption.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MinHldgUnits" type="DecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MinimumHoldingUnits</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Minimum number of units that must be maintained to avoid automatic redemption.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MinHldgPrd" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MinimumHoldingPeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Description of a period, that may be a number of days, weeks or descriptive period during which the units/shares must be held following their issue before redemption will be permitted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HldgTrfbl" type="HoldingTransferable1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HoldingTransferable</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether registered investors are able to transfer some or all of their holdings to third parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalMarketAnnex2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LclOrdrDsk" type="ContactAttributes1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LocalOrderDesk</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Organisation established primarily to provide financial services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SbcptPrcgChrtcs" type="ProcessingCharacteristics2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubscriptionProcessingCharacteristics</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Processing characteristics linked to the instrument, ie, not to  the market.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RedPrcgChrtcs" type="ProcessingCharacteristics3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RedemptionProcessingCharacteristics</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Processing characteristics linked to the instrument, ie, not to  the market.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SttlmDtls" type="CashAccount22">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a cash entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MainFundOrderDeskLocation1">
        <xs:sequence>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TmZoneOffSet" type="UTCOffset1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TimeZoneOffSet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Offset of the reporting time before or after 00:00 hour UTC.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by an ISIN.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of creation of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PriceMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="HIST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingCharacteristics2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DealgCcyAccptd" type="ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealingCurrencyAccepted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency in which a subscription or redemption is accepted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InitlInvstmt" type="Forms">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InitialInvestment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Minimum initial quantity of securities, expressed as an amount that must be purchased at subscription.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SbsqntInvstmt" type="Forms">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubsequentInvestment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Minimum quantity of securities, expressed as number of units/shares that must be purchased.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AmtInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmountIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether a subscription or  a redemption can be instructed by amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UnitsInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnitsIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether subscriptions or redemptions may be placed as a number of units.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MainFndOrdrDskLctn" type="MainFundOrderDeskLocation1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MainFundOrderDeskLocation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the location of the main fund order desk.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DealgCutOffTm" type="ISOTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealingCutOffTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Last date/time at which an order to subscribe or redeem can be given.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DealgCutOffTmFrame" type="TimeFrame3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealingCutOffTimeFrame</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">TimeFrame or period concept that allows definition of a period as number of days before or after a defined activity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DealgFrqcy" type="EventFrequency5Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealingFrequency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Frequency at which the subscriptions are done.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DealgFrqcyDesc" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealingFrequencyDescription</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Description of frequency at which the subscription is done.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LtdPrd" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitedPeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific period, eg, for some guaranteed funds, during which the units/shares may be redeemed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmCycl" type="TimeFrame5Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementCycle</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicate the last business day following the day on which a redemption order is priced (T) by which settlement will be due&#13;
for orders placed with the main Fund Order Desk.&amp;nbsp; Alternatively, if proceeds will be paid following receipt of written&#13;
renunciation, indicate the last business day following receipt of the relevant renunciation documentation by the main Fund&#13;
Order Desk (R) by which the proceeds will be sent.&amp;nbsp; Examples of the above would be T+3, R+4 etc.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessingCharacteristics3">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DealgCcyAccptd" type="ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealingCurrencyAccepted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency in which a subscription or redemption is accepted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RedAuthstn" type="Forms">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RedemptionAuthorisation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Authorization to claim redemption proceeds.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AmtInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmountIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether a subscription or  a redemption can be instructed by amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UnitsInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnitsIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether subscriptions or redemptions may be placed as a number of units.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MainFndOrdrDskLctn" type="MainFundOrderDeskLocation1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MainFundOrderDeskLocation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the location of the main fund order desk.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DealgCutOffTm" type="ISOTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealingCutOffTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Last date/time at which an order to subscribe or redeem can be given.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DealgCutOffTmFrame" type="TimeFrame3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealingCutOffTimeFrame</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">TimeFrame or period concept that allows definition of a period as number of days before or after a defined activity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DealgFrqcy" type="EventFrequency5Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealingFrequency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Frequency at which the subscriptions are done.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DealgFrqcyDesc" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealingFrequencyDescription</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Description of frequency at which the subscription is done.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LtdPrd" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitedPeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific period, eg, for some guaranteed funds, during which the units/shares may be redeemed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmCycl" type="TimeFrame4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementCycle</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicate the last business day following the day on which a redemption order is priced (T) by which settlement will be due&#13;
for orders placed with the main Fund Order Desk.&amp;nbsp; Alternatively, if proceeds will be paid following receipt of written&#13;
renunciation, indicate the last business day following receipt of the relevant renunciation documentation by the main Fund&#13;
Order Desk (R) by which the proceeds will be sent.&amp;nbsp; Examples of the above would be T+3, R+4 etc.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReferToFundOrderDesk1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RFOD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by an ISIN.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the financial instrument in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssTp" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClassType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Features of units offered by a fund. For example, a unit may have a specific load structure, eg, front end or back end, an income policy, eg, pay out or accumulate, or a trailer policy, eg, with or without. Fund classes are typically denoted by a single character, eg, 'Class A', 'Class 2'.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UmbrllNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UmbrellaName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the umbrella fund in which financial instrument is contained.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BaseCcy" type="ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BaseCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency of the investment fund class.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtryOfDmcl" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountryOfDomicile</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country where the fund has legal domicile as reflected in the ISIN classification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RegdDstrbtnCtry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegisteredDistributionCountry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Countries where the fund is registered for distribution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification7">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OthrId" type="AlternateSecurityIdentification3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of a security assigned by an institution or organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Textual description of a security instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SignatureType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ORIG"/>
            <xs:enumeration value="DIGI"/>
            <xs:enumeration value="ELEC"/>
            <xs:enumeration value="NONE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TimeFrame3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTmFrameDesc" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherTimeFrameDescription</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies a description of any other TimeFrame that may be used for the DealingCutOffTimeFrame</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TMns" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeMinus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">An agreed number of days before the Trade date (T) used to define standard timeframes e.g. T-1 Dealing cut off or T-2 prepayment condition

Where = T is the date that the price is applied to a transaction,</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NonWorkgDayAdjstmnt" type="BusinessDayConvention1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NonWorkingDayAdjustment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Convention used for adjusting a date when it is not a business day.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefrToOrdrDsk" type="ReferToFundOrderDesk1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferToOrderDesk</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Refer to Order Desk</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimeFrame4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="TPlus" type="Number">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">TradePlus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">An agreed number of days after the Trade date (T) used to define standard timeframes e.g T+3 settlement period. 

Where = T is the date that the price is applied to a transaction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RPlus" type="Number">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RenunciationPlus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">An agreed number of days after the renunciation of title documents are received used to define standard timeframes in Redemption e.g R+3 Redemption settlement cycle.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimeFrame5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="TPlus" type="Number">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">TradePlus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">An agreed number of days after the Trade date (T) used to define standard timeframes e.g T+3 settlement period. 

Where = T is the date that the price is applied to a transaction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prepmt" type="YesNoIndicator">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Prepayment</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates whether pre-payment is necessary.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UTCOffset1">
        <xs:sequence>
            <xs:element name="Sgn" type="PlusOrMinusIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Sign</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the offset is before or after 00:00 hour UTC.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NbOfHrs" type="ISOTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NumberOfHours</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Offset of the reporting time, in hours,  before or after 00:00 hour UTC.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdatedDate">
        <xs:sequence>
            <xs:element name="Dt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of last revision.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ValuationDealingProcessingCharacteristics2">
        <xs:sequence>
            <xs:element name="ValtnFrqcy" type="EventFrequency5Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValuationFrequency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Frequency of the valuation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ValtnFrqcyDesc" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValuationFrequencyDescription</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further details regarding the dealing frequency, eg, Tuesday (for weekly dealing) or last business day of the month.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DcmlstnUnits" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DecimalisationUnits</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of decimal places to which quantities of units/shares are rounded.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DcmlstnPric" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DecimalisationPrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of decimal places to which quantities of units/shares are rounded.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DualFndInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DualFundIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the fund has two prices.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PricMtd" type="PriceMethod1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PriceMethod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of pricing calculation method.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="PricCcy" type="ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PriceCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currencies in which the prices for the investment fund class are published by the fund management company.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
