enContent/WebContent/xsd/semt.006.001.02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Generated by SWIFTStandards Workstation (build:R6.0.1.1) on 2007 Mar 03 21:42:58-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:semt.006.001.02" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:semt.006.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Account7">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that manages the account on behalf of the account owner, ie, manages the registration and booking of entries on the account, calculates balances on the account and provides information about the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification1">
        <xs:sequence>
            <xs:element name="Prtry" type="SimpleIdentificationInformation">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier for an account. It is assigned by the account servicer using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max8Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Inf" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Information</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentificationAndPurpose">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Purp" type="SecuritiesAccountPurposeType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Purpose</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the purpose of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentificationFormatChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="SmplId" type="AccountIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SimpleIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IdAndPurp" type="AccountIdentificationAndPurpose">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IdentificationAndPurpose</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of the account expressed with an account number and a code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IdAsDSS" type="AccountIdentification3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IdentificationAsDSS</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of the account expressed with a data source scheme, a code used within the data source scheme and the account identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalReference2">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference of the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issuer of the reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DomesticIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Country of the proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryIdSrc" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Entity that issues the proprietary identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BelgianIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="BloombergIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CUSIPIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CorporateActionEventType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="CAPG"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="MRGR"/>
            <xs:enumeration value="NAME"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="SPLR"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="RHDI"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="CHAN"/>
            <xs:enumeration value="REDO"/>
            <xs:enumeration value="EXOP"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="DECR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriodDetails">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DistributionPolicy1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="ACCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="StmtOfInvstmtFndTxsV02" type="StatementOfInvestmentFundTransactionsV02">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfInvestmentFundTransactionsV02</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">SCOPE

An account servicer, eg, a transfer agent sends the StatementOfInvestmentFundTransactions message to an account owner, eg, an investment manager or its authorised representative to provide detailed transactions (increases and decreases) of holdings which occurred during a specified period of time. 

There may be one or more intermediary parties, eg, an intermediary or a concentrator between the account owner and account servicer.

USAGE

The StatementOfInvestmentFundTransactions is sent by the account servicer to the account owner: 
- At a frequency agreed bi-laterally between the account servicer and the account owner 
- As a response to a request for statement sent by the account owner.
The StatementOfInvestmentFundTransactions message can only be used to list the transactions of a single (master) account. However, it is possible to break down these transactions into one or several sub-accounts. Therefore, the message can be used to either specify transactions at
- the main account level, or 
- the sub-account level.
This message must not be used in place of confirmation messages.
Since a SWIFT message as sent is restricted to the maximum input message length, several messages may be needed to accommodate all the information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DutchIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="EuroclearClearstreamIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EventFrequency1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="QUTR"/>
            <xs:enumeration value="TOMN"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="TWMN"/>
            <xs:enumeration value="TOWK"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="OVNG"/>
            <xs:enumeration value="ONDE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Extended350Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name qualifying the information provided in the Text field, and place where this information should be inserted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Txt" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Text</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Text of the extension.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1">
        <xs:sequence>
            <xs:element name="Unit" type="DecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, eg, "UK National Insurance Number".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="Intermediary11">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Acct" type="Account7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Business relationship between two entities; one entity is the account owner, the other entity is the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="Role" type="InvestmentFundRole2Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Role</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Function performed by the intermediary.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="XtndedRole" type="Extended350Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ExtendedRole</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Function performed by the intermediary.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount25">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dsgnt" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Designation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Supplementary registration information applying to a specific block of units for dealing and reporting purposes. The supplementary registration information may be used when all the units are registered, for example, to a funds supermarket, but holdings for each investor have to reconciled individually.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="IntrmyInf" type="Intermediary11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediaryInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that provides services relating to financial products to investors, eg, advice on products and placement of orders for the investment fund. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that manages the account on behalf of the account owner, ie, manages the registration and booking of entries on the account, calculates balances on the account and provides information about the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InvestmentFundRole2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FMCO"/>
            <xs:enumeration value="REGI"/>
            <xs:enumeration value="TRAG"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="CONC"/>
            <xs:enumeration value="UCL1"/>
            <xs:enumeration value="UCL2"/>
            <xs:enumeration value="TRAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InvestmentFundTransaction3">
        <xs:sequence>
            <xs:choice>
                <xs:element name="TxTp" type="TransactionType2Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">TransactionType</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Type of investment fund transaction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="XtndedTxTp" type="Extended350Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ExtendedTransactionType</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Type of investment fund transaction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CorpActnEvtTp" type="CorporateActionEventType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CorporateActionEventType</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Type of corporate action event.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="XtndedCorpActnEvtTp" type="Extended350Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ExtendedCorporateActionEventType</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Type of corporate action event.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="BookgSts" type="TransactionStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BookingStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of an investment fund transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MasterReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a group of individual orders, as assigned by the instructing party. This identifier links the individual orders together.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrderReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier for an order, as assigned by the sell-side. The identifier must be unique within a single trading day.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClientReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous investor's identification of an order. This reference can typically be used in a hub scenario to give the reference of the order as assigned by the underlying client.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DealRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an order execution, as assigned by a confirming party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LegId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LegIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique technical identifier for an instance of a leg within a switch.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LegExctnId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LegExecutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier for an instance of a leg execution within a switch confirmation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrderDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the order was placed by the investor.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttldTxInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettledTransactionIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the cash payment with respect to the executed order is settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RegdTxInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegisteredTransactionIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the executed order has a registered status on the books of the transfer agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UnitsQty" type="FinancialInstrumentQuantity1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnitsQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of investment funds units.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CdtDbt" type="CreditDebitCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Direction of the transaction being reported, ie, securities are received (credited) or delivered (debited).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Rvsl" type="ReversalCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reversal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction being reported is a reversal of previously reported transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAmt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the debtor expects the amount of money to be available to the creditor.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TradDtTm" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which a price is applied, according to the terms stated in the prospectus.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CumDvddInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CumDividendIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the dividend is included, ie, cum-dividend, in the executed price. When the dividend is not included, the price will be ex-dividend.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtlyExctdInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartiallyExecutedIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the order has been partially executed, ie, the confirmed quantity does not match the ordered quantity for a given financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="UnitPrice11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PriceDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price at which the order was executed.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentFundTransactionsByFund2">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SplmtryId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about a financial instrument to help identify the instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesForm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Form, ie, ownership, of the security, eg, registered or bearer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssTp" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClassType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Features of units offered by a fund. For example, a unit may have a specific load structure, eg, front end or back end, an income policy, eg, pay out or accumulate, or a trailer policy, eg, with or without. Fund classes are typically denoted by a single character, eg, 'Class A', 'Class 2'.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrbtnPlcy" type="DistributionPolicy1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DistributionPolicy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Income policy relating to a class type, ie, if income is paid out or retained in the fund.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TxDtls" type="InvestmentFundTransaction3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Process of buying, selling, switching or transferring fund units.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BalByPg" type="PaginationBalance1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceByPage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of the financial instrument for this specific statement page.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LongPostalAddress1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Ustrd" type="Max140Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unstructured</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Strd" type="StructuredLongPostalAddress1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Structured</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in a formal structure.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Creation date of the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress2">
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LongPostalAddress1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastPgInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the last page.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaginationBalance1">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="FrstOpngBal" type="FinancialInstrumentQuantity1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FirstOpeningBalance</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Opening balance of the financial instrument in the statement.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="IntrmyOpngBal" type="FinancialInstrumentQuantity1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IntermediaryOpeningBalance</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Opening balance of this page only. It must be the interemdiary closing balance of the previous page (part of the same statement).</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="FnlClsgBal" type="FinancialInstrumentQuantity1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FinalClosingBalance</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Closing balance of the financial instrument in the statement.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="IntrmyClsgBal" type="FinancialInstrumentQuantity1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IntermediaryClosingBalance</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Closing Balance of this page only. Must be the interemdiary opening balance of the next page (part of the same statement).</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an organisation that is allocated by an institution, eg, Dun &amp; Bradstreet Identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an organisation that is allocated by an institution, eg, Dun &amp; Bradstreet Identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress5">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PriceMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="HIST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PriceValue1">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price expressed as a currency and value.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QUICKIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="RICIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReversalCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RVCD"/>
            <xs:enumeration value="RVDB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SEDOLIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="SecuritiesAccountPurposeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MARG"/>
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="ABRD"/>
            <xs:enumeration value="CEND"/>
            <xs:enumeration value="DVPA"/>
            <xs:enumeration value="PHYS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SEDOL" type="SEDOLIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SEDOL</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Stock Exchange Daily Official List (SEDOL) number.  A code used by the London Stock Exchange to identify foreign stocks, especially those that aren't actively traded in the US and don't have a CUSIP number.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CUSIP" type="CUSIPIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CUSIP</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Committee on Uniform Securities and Identification Procedures (CUSIP). The standards body that created and maintains the securities classification system in the US. The CUSIP is composed of a 9-character number that uniquely identifies a particular security.  Non-US securities have a similar number called the CINS number.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RIC" type="RICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reuters Identification Code (RIC). A numbering system used within the Reuters system to identify instruments worldwide. The RIC contains an X-character market specific code (can be the CUSIP or EPIC codes) followed by a full stop, then the two-digit ISO country code, eg, IBM in UK is IBM.UK.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="TckrSymb" type="TickerIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">TickerSymbol</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Letters that identify a stock traded on a stock exchange. The Ticker Symbol is a short and convenient way of identifying a stock, eg, RTR.L for Reuters quoted in London.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Blmbrg" type="BloombergIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Bloomberg</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Bloomberg organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CTA</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Consolidated Tape Association.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="QUICK" type="QUICKIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">QUICK</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Japanese QUICK identification scheme for financial instruments.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Wrtppr" type="WertpapierIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Wertpapier</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Wertpapier Kenn-nummer.  A number issued in Germany by the Wertpapier Mitteilungen. The Wertpapier Kenn-nummer, sometimes called WPK, contains 6-digits, but no check digit. There are different ranges of numbers representing different classes of securities.  </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Dtch" type="DutchIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Dutch</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier for Dutch securities.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Vlrn" type="ValorenIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Valoren</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier for Swiss securities assigned by Telekurs Financial, the Swiss numbering agency.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SCVM" type="SicovamIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Sicovam</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier for French securities assigned by the Societe Interprofessionnelle Pour La Compensation des Valeurs Mobilieres in France.  The Sicovam is composed of 5-digits.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Belgn" type="BelgianIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Belgian</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier for Belgian securities.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Cmon" type="EuroclearClearstreamIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Common</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier of securities issued in Luxembourg.  The common code is a 9-digit code that replaces the CEDEL (Clearstream) and Euroclear codes.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OthrPrtryId" type="AlternateSecurityIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OtherProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of a security assigned by an institution or organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SicovamIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Statement8">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference of the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StmtPrd" type="DatePeriodDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementPeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Period on which the statement is reporting.
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Creation date of the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Frqcy" type="EventFrequency1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Frequency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Frequency of the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UpdTp" type="StatementUpdateTypeCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UpdateType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies if the statement is complete or only contains changes.
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ActvtyInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ActivityIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether there is activity reported in the statement.
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RptNb" type="Max5NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sequential number of the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatementOfInvestmentFundTransactionsV02">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference that uniquely identifies a message from a business application standpoint.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvsRef" type="AdditionalReference2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message that was previously sent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RltdRef" type="AdditionalReference2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message that was previously received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MsgPgntn" type="Pagination">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessagePagination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Pagination of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StmtGnlDtls" type="Statement8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementGeneralDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General information related to the investment fund statement of transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InvstmtAcctDtls" type="InvestmentAccount25">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvestmentAccountDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to an investment account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxOnAcct" type="InvestmentFundTransactionsByFund2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionOnAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Creation/cancellation of investment units on the books of the fund or its designated agent, as a result of executing an investment fund order.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SubAcctDtls" type="SubAccountIdentification6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubAccountDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The sub-account of the safekeeping or investment account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Extension</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatementUpdateTypeCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="DELT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StructuredLongPostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the building or house.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtBldgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetBuildingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Floor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Floor or storey within a building.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DistrictName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a district, ie, a part of a town or region.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RgnId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of an administrative division of a country, state, or territory.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Stat" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">State</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Organised political community or area forming a part of a federation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtyId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier of a county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PstCdId" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCodeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="POB" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostOfficeBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Numbered box in a post office, assigned to a person or organisation, where letters are kept until called for.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubAccountIdentification6">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentificationFormatChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ActvtyInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ActivityIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether there is activity reported in the statement.
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxOnSubAcct" type="InvestmentFundTransactionsByFund2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionOnSubAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Creation/cancellation of investment units on the books of the fund or its designated agent, as a result of executing an investment fund order.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TickerIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransactionStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RVSL"/>
            <xs:enumeration value="REBO"/>
            <xs:enumeration value="CANC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransactionType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="SUBS"/>
            <xs:enumeration value="SSPL"/>
            <xs:enumeration value="RWPL"/>
            <xs:enumeration value="TRIN"/>
            <xs:enumeration value="TOUT"/>
            <xs:enumeration value="SWII"/>
            <xs:enumeration value="SWIO"/>
            <xs:enumeration value="SUAA"/>
            <xs:enumeration value="REAA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfPrice10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BIDE"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="NAVL"/>
            <xs:enumeration value="CREA"/>
            <xs:enumeration value="CANC"/>
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="SWNG"/>
            <xs:enumeration value="MIDD"/>
            <xs:enumeration value="RINV"/>
            <xs:enumeration value="SWIC"/>
            <xs:enumeration value="DDVR"/>
            <xs:enumeration value="ACTU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnitPrice11">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Tp" type="TypeOfPrice10Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Type and information about a price.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="XtndedTp" type="Extended350Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ExtendedType</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Type and information about a price.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="Val" type="PriceValue1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Value</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of the price, eg, as a currency and value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PricMtd" type="PriceMethod1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PriceMethod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of pricing calculation method.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ValorenIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="WertpapierIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
