enContent/WebContent/xsd/semt.042.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Mar 16 22:21:52, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2015.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:semt.042.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:semt.042.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Dt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesBalTrnsprncyRptStsAdvc" type="SecuritiesBalanceTransparencyReportStatusAdviceV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalFinancialInstrumentIdentificationType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external financial instrument identification type scheme name code in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification30">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification30</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification36</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification using a proprietary scheme.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="HoldingAccountLevel1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HoldingAccountLevel1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the level at which the safekeeping holding account has been defined.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAFE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Holding account is defined as the safekeeping account (Level 0).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LVL1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Level1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Holding account is defined as the sub-level 1 account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LVL2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Level2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Holding account is defined as the sub-level 2 account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LVL3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Level3</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Holding account is defined as the sub-level 3 account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LVL4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Level4</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Holding account is defined as the sub-level 4 account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LVL5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Level5</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Holding account is defined as the sub-level 5 account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LVL6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Level6</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Holding account is defined as the sub-level 6 account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LVL7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Level7</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Holding account is defined as the sub-level 7 account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LVL8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Level8</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Holding account is defined as the sub-level 8 account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LVL9">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Level9</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Holding account is defined as the sub-level 9 account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HoldingRejectionReason41Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HoldingRejectionReason41Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason the report item is rejected.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="INPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidPrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price does not comply with the financial instrument's characteristics.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INID">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction contains an invalid message identification, identification is unknown.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AGIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid agent identification supplied.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INTE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Intermediary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Intermediary is not recognised or is invalid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CERT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectCertification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction is rejected since the provided certification is incorrect or incomplete.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BPAR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessPartnerNumberRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid business partner number.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BREF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankReferenceNumberRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid bank reference number.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DADR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressDetailsRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address details are incorrect or cannot be recognised.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DCUS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveringCustodian</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid delivering custodian.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IACT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectActivityType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Incorrect activity type specified, for example, pre-release conversion.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidForTaxAuthorities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">For tax reclaim, the reclaim is invalid for the tax authorities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message details specified in the instruction/request are inconsistent with those that were specified in the relating original message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPTI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid combination of corporate action option code and corporate action option number.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPTY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidOptionType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid option type.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INMO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidMovementInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details specified in the movement general information block are inconsistent with those that were specified in the relating original message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidModificationRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid or unrecognized modification request.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INUS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidUnderlyingSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Underlying security identification does not correspond with the corporate action reference supplied.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid financial instrument identification.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ENDP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingPeriodEndDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Period ending date or code is missing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STAR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingPeriodStartDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Period starting date or code is missing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SECO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Second option is mandatory.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOHO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoHolding</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No holding for the specified underlying security.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NINS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoInstrumentMarket</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Referred instrument does not exist in combination with the mentioned market.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotApplicable</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction type is not applicable for mandatory events.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NAUT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotAuthorised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Permission to be processed is not granted.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AGID">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotDefinedAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party is not defined as an agent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DISP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotEligibleDisperseSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Disperse security is not eligible in the (ICSD) service provider owner.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CORR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotIdentifiedCorrespondentBank</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unable to identify correspondent bank.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INPS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceOfSafekeeping</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised, invalid or missing place of safekeeping.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PLCE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceOfTrade</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid place of trade.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRIC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PriceExceeds</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price in the execution exceeds the order price.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IVAG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivingAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Receiving agent is not recognised or is invalid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="QUNP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuantityUnitType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity unit type is not provided.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DQUA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuantityRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid instructed quantity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EQTY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuantityExceeds</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity in the execution exceeds the ordered quantity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DEPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivingDeliveringDepository</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid depository.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RCUS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivingCustodian</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid receiving agent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SAFE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccountRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid message sender's safekeeping account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DMON">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementAmountRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid settlement amount.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NCRR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementAmountCurrencyRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid settlement amount currency.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TQNP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradedSecuritiesQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Traded securities quantity not provided.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SETR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementTransactionRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid settlement transaction type.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UKWN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnknownSymbol</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instrument's symbol has not been recognized.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DDEA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealPrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid deal price.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TERM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClosingDateTimeRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid closing date/time.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ULNK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Linked reference is unknown.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NARR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NarrativeReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">See narrative field for reason.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NRGN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotFoundRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction could not be found.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction aims at using  an invalid balance.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ADEA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicerDeadlineMissed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction/instruction received after the account servicer's specified deadline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CASH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid cash account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COMC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CommercializationContractRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid commercialisation contract.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CONL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ConcentrationLimitExceeded</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Concentration limit was exceeded.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INHO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InsufficientBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Insufficient balance.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ICOL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InsufficientCollateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Insufficient collateral proposed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidInvestorParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid investor party. May be used by an executing party to reject an instruction for an investor (or portfolio) for which it is not authorised to act.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidLotNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid or unrecognized lot number.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidLink</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid or unrecognized link.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VALR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidRule</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account servicer validation rule rejection.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INUK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvestorNameAddressUnknown</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Investor name and address is not recognised.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LATT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Late</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction/Request arrives too late.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MINO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MinimumSettlementQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity instructed is lower than the minimum existing settlement quantity for the financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BOIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingBeneficiaryOwnerDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rejected due to missing beneficiary owner details.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MCER">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingCertification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Certification has not been filled in.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IPOA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingOrInvalidPOA</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Missing or invalid power of attorney.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MUNO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MultipleSettlementQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity instructed is not a multiple of an existing settlement quantity lot for the financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INNA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NarrativeInformationRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid service level agreement pre-agreed narrative information.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NINV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoInventory</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Requested financial instrument is not available.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ELIG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NonEligibleSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security is not eligible.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PERI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PeriodEndDateBeforeStartDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Period ending date is before period starting date.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REFE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction has a reference identical to another previously received instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SAID">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SameIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Several messages with the same identification.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OWNT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TypeOfOwnershipRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of ownership indicated is not correct.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NTAV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotAvailable</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason is not available or unknown.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINOct2015Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN). A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IdentificationSource3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between source of identification of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source, as assigned via a pre-determined code list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LEIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max15NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 15 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max210Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 210 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max5NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 5 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a message by a unique identifier and the date and time when the message was created by the sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of creation of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NoReasonCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies that there is no reason available.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No reason to report or no reason available to report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NumberOfItemsPerStatus1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NumberOfItemsPerStatus1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides detailed information on the number of reported items with their respective acceptance status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sts" type="ReportItemStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common status of the report items for which the number of report items is specified in NumberOfItems.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NbOfItms" type="Max15NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NumberOfItems</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of items for the status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OtherIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Other accepted financial instrument's identification than ISIN.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Suffix</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the suffix of the security identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="IdentificationSource3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Pagination</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number used to sequence pages when it is not possible for data to be conveyed in a single message and the data has to be split across several pages (messages).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastPgInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the last page.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification100">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification100</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification71Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LEI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legal entity identification as an alternate identification for a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification71Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification71Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between different formats for the identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtryId" type="GenericIdentification36">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NmAndAdr" type="NameAndAddress5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name and address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportItem1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportItem1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account details of the report item.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AcctId" type="SecuritiesAccount19">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcctLvl" type="HoldingAccountLevel1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountLevel</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Level of the safekeeping account or sub-account of the report item.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmId" type="SecurityIdentification19">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instrument identification of the report item.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ItmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ItemDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of the report item.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportItemRejectionReason1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportItemRejectionReason1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the report item rejection reason in a coded or proprietary  form.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="HoldingRejectionReason41Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status reason expressed as a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification30">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status reason expressed as a proprietary code</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ReportItemStatus1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportItemStatus1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status information of the report item.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Xcptn" type="ReportItemRejectionReason1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Exception</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason for the exception status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReasonInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional  information about the reason for the status that cannot be provided in a structured field.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RptItm" type="ReportItem1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportItem</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details of the report item.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportItemStatus1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportItemStatus1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides acceptance status of the holding item.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Accptd" type="NoReasonCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Accepted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Statement is accepted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AccptdWthXcptn" type="ReportItemStatus1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptedWithException</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Statement is accepted  with an exception/s.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rjctd" type="ReportItemStatus1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Statement is rejected.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ReportItemStatus1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportItemStatus1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of an entry in a report.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACPD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Accepted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entry has been accepted by the receiver of the report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REJT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entry has been rejected by the receiver of the report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount19">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount19</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Description of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesBalanceTransparencyReportStatusAdviceV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesBalanceTransparencyReportStatusAdviceV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">SCOPE&#13;
&#13;
An account owner, such as a custodian, central securities depository, international securities depository or transfer agent, sends the SecuritiesBalanceTransparencyReportStatusAdvice message in response to a SecuritiesBalanceTransparencyReport, to accept or reject the statement of holdings as sent in a SecuritiesBalanceTransparencyReport.&#13;
&#13;
USAGE&#13;
The SecuritiesBalanceTransparencyReportStatusAdvice is used to accept (Accepted), partially accept (Accepted With Exception) or reject (Rejected) a previously received SecuritiesBalanceTransparencyReport.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of the status advice message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SndrId" type="PartyIdentification100">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SenderIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party that is the sender of the status advice message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvrId" type="PartyIdentification100">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceiverIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party that is the receiver of the status advice message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RltdStmt" type="StatementReference1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedStatement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference of the statement for which the status advice has been issued.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Sts" type="ReportItemStatus1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of the referenced statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="2" minOccurs="0" name="NbOfItmsPerSts" type="NumberOfItemsPerStatus1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NumberOfItemsPerStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of items for each identical transaction status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification19">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification19</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by proprietary or domestic identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Textual description of a security instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatementReference1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatementReference1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the reference of the statment  by a unique identifier and the date (and time).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StmtId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference common to all pages of the statement for which the status advice is sent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StmtDtTm" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time the statement was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Pgntn" type="Pagination">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pagination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number of the related message (within the statement) and continuation indicator to indicate that the statement is to continue or that the related message is the last page of the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
