enContent/WebContent/xsd/semt.018.001.04_SGX.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: SGX Post Trade Services
Collection: SGX_Securities PT Message Specs_Settlements_Vol4 V5.2 (CSD)
Usage Guideline: 5.1_SGX_PTS_SecuritiesTransactionPendingReportV04_semt.018.001.04
Base Message: semt.018.001.04
Date of publication: 21 March 2018
URL: https://www2.swift.com/mystandards/#/mp/mx/_OvUrECzsEeij5KPJPDvXxA/_OvVSMCzsEeij5KPJPDvXxA
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2018-03-21T10:35:12+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:semt.018.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:semt.018.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndDirection8__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AmountAndDirection8__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Amount of money debited or credited on the books of an account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money in the cash entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CdtDbtInd" type="CreditDebitCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether an entry is a credit or a debit.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CreditDebitCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is an increase.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DBIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is a decrease.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="DtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndDateTimeChoice__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, eg, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeliveryReceiptType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies how the transaction is to be settled.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SeparateSettlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement of the financial instrument and cash is separate.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="APMT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AgainstPaymentSettlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement of the financial instrument and cash takes place in a delivery versus payment (DVP) environment, ie, through an International Central Securities Depository (ICSD) or Central Securities Depository (CSD).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesTxPdgRpt" type="SecuritiesTransactionPendingReportV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventFrequency4Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EventFrequency4Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the regularity of an event.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADHO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Adhoc</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event takes place as necessary.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNCA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CNCA</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FailingReason2Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FailingReason2Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason the transaction/instruction is failing settlement. Settlement on the instructed settlement date is no longer possible.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OBJT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnderObjection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments are, for example, stolen, in dispute, under objection.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLAC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyInsufficientSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Insufficient deliverable financial instruments in counterparty's account or counterparty does not hold financial instruments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PREA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">YourInstructionOnHold</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Your instruction is a preadvice, that is, for matching only.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CMON">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyInsufficientMoney</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Insufficient money in counterparty's account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LINK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingLinkedInstruction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Your instruction is pending settlement because the instruction linked to it is pending.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LACK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LackOfSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Insufficient financial instruments in your account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MONY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InsufficientMoney</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Insufficient money in your account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other. See Narrative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BOTH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BothInstructionsOnHold</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Counterparty's instruction and your instruction are on hold/frozen/ in a preadvice mode.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRCY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyInstructionOnHold</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Counterparty's instruction is a preadvice, that is, for matching only.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FailingReason3Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FailingReason3Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the failing reason.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="FailingReason2Code__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction has a failing settlement status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FailingReason3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FailingReason3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The status of an instruction, advice or request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="FailingReason3Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction has a failing status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FailingStatus3Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FailingStatus3Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of failing status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="FailingReason3__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the FailingStatus.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="DecimalNumber">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, for example, a number of shares.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, that is, the principal, of a debt instrument.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Frequency4Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Frequency4Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for a frequency, for example, the frequency of delivery of a statement.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="EventFrequency4Code__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Frequency expressed as an ISO 20022 code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification19__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification19__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification20__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="SGXExact4AlphaNumericTextSettlementStatusReason8ProprietaryCodeValues">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification20__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HoldIndicator4__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HoldIndicator4__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the transaction is on hold/blocked/frozen.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ind" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the transaction is on hold/blocked/frozen.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN). A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InstructionProcessingStatus10Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InstructionProcessingStatus10Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the instruction processing status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="PdgPrcg" type="PendingProcessingStatus3Choice__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PendingProcessing</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Processing of the instruction/request is pending.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CxlReqd" type="ProprietaryReason1__2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CancellationRequested</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Cancellation request from your counterparty for this transaction is pending waiting for your cancellation request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PdgCxl" type="PendingStatus13Choice__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PendingCancellation</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">A cancellation request from yourself for this instruction is pending waiting for further processing (only as an response to an SecuritiesTransactionStatusQuery). The pending status on the processing of a cancellation request must be provided using a SecuritiesTransactionCancellationRequestStatusAdvice.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketIdentification4__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MarketIdentification4__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Context, or geographic environment, in which trading parties may meet in order to negotiate and execute trades among themselves.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="MarketType3Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nature of a market in which transactions take place.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MarketType2Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MarketType2Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of market in which transactions take place, for example, primary.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTCO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OverTheCounter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The place is over the counter.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXCH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StockExchange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The place is a stock exchange.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketType3Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MarketType3Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the market type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="MarketType2Code__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Market type expressed as an ISO 20022 code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MatchingStatus7Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MatchingStatus7Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the matching status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Mtchd" type="ProprietaryReason1__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Matched</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status is matched.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Umtchd" type="UnmatchedStatus5Choice__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unmatched</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status is unmatched.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CDPL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CDPL</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max5NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 5 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NoReasonCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies that there is no reason available.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No reason to report or no reason available to report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Pagination">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Pagination</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number used to sequence pages when it is not possible for data to be conveyed in a single message and the data has to be split across several pages (messages).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastPgInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the last page.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification36Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification36Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification19__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification44Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification44Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification45Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification45Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification19__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification46__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification46__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of an entity involved in an activity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification44Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount44__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentificationAndAccount44__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Party and account details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification45Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingProcessingStatus3Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingProcessingStatus3Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason13Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingReason13Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the pending reason.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="PendingReason2Code__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction has a pending status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification20__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction has a pending status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingReason2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the pending reason.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="PendingReason6Code__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the cancellation request is pending.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingReason2Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingReason2Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason the transaction/instruction is pending settlement. Settlement on the instructed settlement date is still possible.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PART">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeSettlesInPartials</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade will settle in partials.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FUTU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AwaitingSettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Awaiting settlement date. No settlement problems to be reported.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingReason2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingReason2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the PendingStatus.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="PendingReason2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why a cancellation request sent for the related instruction is pending.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason5__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingReason5__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The status of an instruction, advice or request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="PendingReason13Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction has a pending status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingReason6Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingReason6Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why a cancellation request sent for the related instruction is pending.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CONF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AwaitingConfirmation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Awaiting confirmation from the counterparty.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingStatus13Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingStatus13Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="PendingReason2__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the PendingStatus.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingStatus9Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingStatus9Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="PendingReason5__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the PendingStatus.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProprietaryReason1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the reason related to a status.</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason1__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProprietaryReason1__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the reason related to a status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="GenericIdentification20__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the reason related to a status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity6Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Quantity6Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the quantity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity of financial instrument in units, original face amount or current face amount.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReceiveDelivery1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReceiveDelivery1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the settlement transaction is a delivery or receipt.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DELI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Delivery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments will be debited from the safekeeping account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RECE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Receive</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments will be credited to the safekeeping account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SGXExact4AlphaNumericTextSettlementStatusReason8ProprietaryCodeValues">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SGXExact4AlphaNumericTextSettlementStatusReason8ProprietaryCodeValues</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLSE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CLSE</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Safekeeping Account is closed</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SUSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SUSP</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Safekeeping Account is suspended</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLRN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CLRN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Safekeeping Account is a Pool account</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CPFO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CPFO</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Safekeeping Account is a CPF omnibus accounts but  the SI is not for CPF trades</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">INVL</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Safekeeping Account is invalid</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount13__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount13__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification for the account between the account owner and the account servicer..</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPendingReportV04">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesTransactionPendingReportV04</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope
An account servicer sends a SecuritiesTransactionPendingReport to an account owner to provide, as at a specified time, the details of pending increases and decreases of holdings, for all or selected securities in a specified safekeeping account, for all or selected reasons why the transaction is pending. 
The account servicer/owner relationship may be:
- a central securities depository or another settlement market infrastructure acting on behalf of their participants
- an agent (sub-custodian) acting on behalf of their global custodian customer, or 
- a custodian acting on behalf of an investment management institution or a broker/dealer.

Usage
The statement may also include future settlement or forward transactions which have become binding on the account owner.
The message may also be used to:
- re-send a message previously sent,
- provide a third party with a copy of a message for information,
- re-send to a third party a copy of a message for information
using the relevant elements in the Business Application Header.

ISO 15022 - 20022 Coexistence
This ISO 20022 message is reversed engineered from ISO 15022. Both standards will coexist for a certain number of years. Until this coexistence period ends, the usage of certain data types is restricted to ensure interoperability between ISO 15022 and 20022 users. Compliance to these rules is mandatory in a coexistence environment. The coexistence restrictions are described in a Textual Rule linked to the Message Items they concern. These coexistence textual rules are clearly identified as follows: CoexistenceXxxxRule.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Pgntn" type="Pagination">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pagination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number of the message (within a statement) and continuation indicator to indicate that the statement is to continue or that the message is the last page of the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StmtGnlDtls" type="Statement14__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementGeneralDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides general information on the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcctOwnr" type="PartyIdentification36Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount13__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Sts" type="StatusAndReason16__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification14__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ISIN" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN). A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDate2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementDate2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the settlement date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice__2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date in ISO format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDetails47__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementDetails47__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Parameters which explicitly state the conditions that must be fulfilled before a particular transaction of a financial instrument can be settled. These parameters are defined by the instructing party in compliance with settlement rules in the market the transaction will settle in.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="HldInd" type="HoldIndicator4__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HoldIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the transaction is on hold/blocked/frozen.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties13__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementParties13__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Chain of parties involved in the settlement of a transaction, including receipts and deliveries, book transfers, treasury deals, or other activities, resulting in the movement of a security or amount of money from one account to another.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="PartyIdentification46__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Depository</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">First party in the settlement chain. In a plain vanilla settlement, it is the Central Securities Depository where the counterparty requests to receive the financial instrument or from where the counterparty delivers the financial instruments.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty1" type="PartyIdentificationAndAccount44__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Party1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that, in a settlement chain interacts with the depository.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementStatus7Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementStatus7Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the settlement status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Pdg" type="PendingStatus9Choice__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Pending</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Instruction is pending. Settlement at the instructed settlement date is still possible.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Flng" type="FailingStatus3Choice__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Failing</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Instruction is failing. Settlement at the instructed settlement date is no longer possible.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Statement14__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Statement14__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Characteristics of the statement.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="QryRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the SecuritiesStatementQuery message sent to request this statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StmtId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference common to all pages of a statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StmtDtTm" type="DateAndDateTimeChoice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time of the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Frqcy" type="Frequency4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Frequency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Frequency of the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UpdTp" type="UpdateType2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UpdateType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the statement is complete or contains changes only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StmtStr" type="StatementStructure1Code__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementStructure</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the statement is sorted by status or transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ActvtyInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ActivityIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether there is activity or information update reported in the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatementStructure1Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatementStructure1Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of balances on which the statement is prepared.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="STAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Statuses</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Statement is sorted by status.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StatementUpdateType1Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatementUpdateType1Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of a statement update, for example, it is a complete statement.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Complete</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Statement is complete.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Status9Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Status9Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="MtchgSts" type="MatchingStatus7Choice__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">MatchingStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides the matching status of the instruction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SttlmSts" type="SettlementStatus7Choice__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SettlementStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides the status of settlement of a transaction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="InstrPrcgSts" type="InstructionProcessingStatus10Choice__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">InstructionProcessingStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides the status of an instruction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatusAndReason16__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatusAndReason16__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status and reason of an instructed order.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StsAndRsn" type="Status9Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusAndReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status and reason for the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Tx" type="Transaction28__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Transaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details of the transactions reported.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeDate1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeDate1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the trade date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice__2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date expressed as a ISO date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Transaction28__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Transaction28__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the details of the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AcctOwnrTxId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwnerTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as known by the account owner (or the instructing party managing the account).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicerTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as known by the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxDtls" type="TransactionDetails56__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the details of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionActivity1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionActivity1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the transaction activity identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="TransactionActivity1Code_fixed">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Transaction type expressed as an ISO 20022 code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionActivity1Code_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionActivity1Code_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SETT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SETT</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactionDetails56__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionDetails56__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the details of the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TxActvty" type="TransactionActivity1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionActivity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of activity to which this instruction relates.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctiesMvmntTp" type="ReceiveDelivery1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesMovementType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies if the movement on a securities account results from a deliver or a receive instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Pmt" type="DeliveryReceiptType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Payment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies how the transaction is to be settled, for example, against payment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmParams" type="SettlementDetails47__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementParameters</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Parameters applied to the settlement of a security transfer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PlcOfTrad" type="MarketIdentification4__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceOfTrade</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Market in which a trade transaction has been executed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FinInstrmId" type="SecurityIdentification14__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments representing a sum of rights of the investor vis-a-vis the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PstngQty" type="Quantity6Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostingQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of financial instrument (to be) posted to the safekeeping account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstngAmt" type="AmountAndDirection8__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostingAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money that is to be/was posted to the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="TradeDate1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date/time on which the trade was executed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmDt" type="SettlementDate2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the securities are to be delivered or received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgSttlmPties" type="SettlementParties13__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveringSettlementParties</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the chain of delivering settlement parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSttlmPties" type="SettlementParties13__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivingSettlementParties</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the chain of receiving settlement parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UnmatchedReason5Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UnmatchedReason5Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason the transaction, transfer or settlement instruction is unmatched.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CMIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoMatch</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">A matching instruction from your counterparty could not be found.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnmatchedReason6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UnmatchedReason6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The status of an instruction, advice or request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="UnmatchedReason9Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction has an unmatched status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnmatchedReason9Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UnmatchedReason9Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the settlement transaction unmatched reason.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="UnmatchedReason5Code__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction has an unmatched status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnmatchedStatus5Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UnmatchedStatus5Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="UnmatchedReason6__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the UnmatchedStatus.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateType2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UpdateType2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the update information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="StatementUpdateType1Code__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates whether the report is complete or contains changes only.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
