enContent/WebContent/xsd/sese.040.001.01_SGX.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: SGX Post Trade Services
Collection: SGX_Securities PT Message Specs_Settlements_Vol4 V5.2 (CSD)
Usage Guideline: 5.1_SGX_PTS_SecuritiesSettlementTransactionCounterpartyResponseV01_sese.040.001.01
Base Message: sese.040.001.01
Date of publication: 21 March 2018
URL: https://www2.swift.com/mystandards/#/mp/mx/_OvUrECzsEeij5KPJPDvXxA/_OvVSKSzsEeij5KPJPDvXxA
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2018-03-21T10:35:08+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.040.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.040.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ConsentOrRejectionReason2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ConsentOrRejectionReason2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the rejection reason.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CounterpartyResponseStatusReason1Code__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the counterparty response has a rejection status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConsentOrRejectionReason2Choice__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ConsentOrRejectionReason2Choice__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the rejection reason.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CounterpartyResponseStatusReason1Code__2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the counterparty response has a rejection status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification20__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the counterparty response has a rejection status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConsentReason2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ConsentReason2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the underlying reason for the status of an object.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="ConsentOrRejectionReason2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason provided for the status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConsentStatus2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ConsentStatus2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of consent status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="ConsentReason2__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason provided for the status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CounterpartyResponseStatusReason1Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CounterpartyResponseStatusReason1Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of counterparty's action the response is related to.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CPTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyTransaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the response is related to an allegement from the counterparty.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CounterpartyResponseStatusReason1Code__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CounterpartyResponseStatusReason1Code__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of counterparty's action the response is related to.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CPTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyTransaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the response is related to an allegement from the counterparty.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CPCX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyCancellation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the response is related to the cancellation request of the counterparty.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, eg, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeliveryReceiptType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies how the transaction is to be settled.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SeparateSettlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement of the financial instrument and cash is separate.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="APMT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AgainstPaymentSettlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement of the financial instrument and cash takes place in a delivery versus payment (DVP) environment, ie, through an International Central Securities Depository (ICSD) or Central Securities Depository (CSD).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesSttlmTxCtrPtyRspn" type="SecuritiesSettlementTransactionCounterpartyResponseV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="DecimalNumber">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, for example, a number of shares.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, that is, the principal, of a debt instrument.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification19__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification19__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification20__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="SGXExact4AlphaNumericTextStatusReason3ProprietaryCodeValues">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN). A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max210Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 210 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CDPL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CDPL</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification45Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification45Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification19__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount44__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentificationAndAccount44__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Party and account details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification45Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity6Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Quantity6Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the quantity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity of financial instrument in units, original face amount or current face amount.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReceiveDelivery1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReceiveDelivery1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the settlement transaction is a delivery or receipt.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DELI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Delivery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments will be debited from the safekeeping account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RECE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Receive</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments will be credited to the safekeeping account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectionReason12__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionReason12__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the underlying reason for the status of an object.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="ConsentOrRejectionReason2Choice__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction/request has a rejected or repair status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReasonInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional reason information that cannot be provided in a structured field.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionStatus7Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionStatus7Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of rejection status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="RejectionReason12__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the rejection or repair status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResponseStatus3Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ResponseStatus3Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of response status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cnsntd" type="ConsentStatus2Choice__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Consented</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason provided for the status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Rjctd" type="RejectionStatus7Choice__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">The status of an instruction, advice or request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SGXExact4AlphaNumericTextStatusReason3ProprietaryCodeValues">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SGXExact4AlphaNumericTextStatusReason3ProprietaryCodeValues</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DENI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DENI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Denial since no such allocation placed </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">INVA</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Incorrect Allegement details</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BRRJ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BRRJ</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rejection of an broker linked account transfer allegement</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount13__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount13__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification for the account between the account owner and the account servicer.”.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesSettlementTransactionCounterpartyResponseV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesSettlementTransactionCounterpartyResponseV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope
An account owner sends a SecuritiesSettlementTransactionCounterpartyResponse to advise the account servicer that:
- the allegement received is either rejected (that is counterparty's transaction is unknown) or accepted (i.e. either the allegement was passed to the client or the transaction is know with or without mismatches)
- the modification or cancellation request sent by the counterparty for a matched transaction is affirmed or not. The account servicer will therefore proceed or not with the counterparty's request to modify or cancel the transaction.
The account servicer may be a central securities depository or another settlement market infrastructure acting on behalf of their participants
The account owner may be:
- a central securities depository participant which has an account with a central securities depository or a market infrastructure
- an agent (sub-custodian) acting on behalf of their global custodian customer, or
- a custodian acting on behalf of an investment management institution or a broker/dealer.

Usage
The message may also be used to:
- re-send a message sent by the account owner to the account servicer,
- provide a third party with a copy of a message being sent by the account owner for information,
- re-send to a third party a copy of a message being sent by the account owner for information
using the relevant elements in the Business Application Header.

ISO 15022 - 20022 Coexistence
This ISO 20022 message is reversed engineered from ISO 15022. Both standards will coexist for a certain number of years. Until this coexistence period ends, the usage of certain data types is restricted to ensure interoperability between ISO 15022 and 20022 users. Compliance to these rules is mandatory in a coexistence environment. The coexistence restrictions are described in a Textual Rule linked to the Message Items they concern. These coexistence textual rules are clearly identified as follows: “CoexistenceXxxxRule”.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TxId" type="TransactionIdentification2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides unambiguous transaction identification information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RspnSts" type="ResponseStatus3Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponseStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the response status related to an allegement or a counterparty's instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxDtls" type="TransactionDetails40__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the details of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification14__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ISIN" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN). A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDate2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementDate2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the settlement date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date in ISO format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties13__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementParties13__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Chain of parties involved in the settlement of a transaction, including receipts and deliveries, book transfers, treasury deals, or other activities, resulting in the movement of a security or amount of money from one account to another.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Pty1" type="PartyIdentificationAndAccount44__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Party1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that, in a settlement chain interacts with the depository.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeDate1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeDate1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the trade date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date expressed as a ISO date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionDetails40__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionDetails40__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the details of the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification14__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Way(s) of identifying the security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctiesMvmntTp" type="ReceiveDelivery1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesMovementType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies if the movement on a securities account results from a deliver or a receive instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Pmt" type="DeliveryReceiptType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Payment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies how the transaction is to be settled, eg, against payment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmQty" type="Quantity6Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of securities to be settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount13__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmDt" type="SettlementDate2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the securities are to be delivered or received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="TradeDate1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date/time on which the trade was executed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgSttlmPties" type="SettlementParties13__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveringSettlementParties</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the chain of delivering settlement parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSttlmPties" type="SettlementParties13__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivingSettlementParties</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the chain of receiving settlement parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentification2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionIdentification2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides transaction type and identification information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnrTxId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwnerTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as known by the account owner (or the instructing party managing the account).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcctSvcrTxId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicerTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as known by the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
