enContent/WebContent/xsd/sese.031.001.04_SGX.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: SGX Post Trade Services
Collection: SGX_Securities PT Message Specs_Settlements_Vol4 V5.2 (CSD)
Usage Guideline: 5.1_SGX_PTS_SecuritiesSettlementConditionModificationStatusAdviceV04_sese.031.001.04
Base Message: sese.031.001.04
Date of publication: 21 March 2018
URL: https://www2.swift.com/mystandards/#/mp/mx/_OvUrECzsEeij5KPJPDvXxA/_OvVSIizsEeij5KPJPDvXxA
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2018-03-21T10:35:04+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.031.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.031.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeniedReason2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeniedReason2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the denied reason.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DeniedReason4Code__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the request was denied.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeniedReason2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeniedReason2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The status of an instruction, advice or request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="DeniedReason2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the request has a denied status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DeniedReason4Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeniedReason4Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the denied reason.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicerDeadlineMissed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Received after the account servicer's deadline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DCAN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeniedSinceAlreadyCancelled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation request was denied since the instruction has already been cancelled.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeniedSinceAlreadySettled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation request was denied because the instruction was already settled.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeniedStatus6Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeniedStatus6Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="DeniedReason2__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the DeniedStatus.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesSttlmCondModStsAdvc" type="SecuritiesSettlementConditionModificationStatusAdviceV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification19__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification19__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HoldIndicator4__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HoldIndicator4__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the transaction is on hold/blocked/frozen.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ind" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the transaction is on hold/blocked/frozen.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Identification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Identification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identifier of a document, message or transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier of a document, message or transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max210Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max210Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 210 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CDPL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CDPL</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification36Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification36Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification19__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessingStatus18Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProcessingStatus18Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the processing status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rjctd" type="RejectionOrRepairStatus14Choice__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Modification Request has been rejected for further processing.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Cmpltd" type="ProprietaryReason1__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Completed</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Modification request was completed.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Dnd" type="DeniedStatus6Choice__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Denied</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Modification request will not be executed.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProprietaryReason1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the reason related to a status.</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="References9__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">References9__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides a set if identifications to reference to a securities settlement transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnrTxId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwnerTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as known by the account owner (or the instructing party managing the account).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicerTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as known by the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionAndRepairReason13Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionAndRepairReason13Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the rejection or repair reason.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RejectionReason27Code__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction/request has a repair or rejection status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairReason13__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionOrRepairReason13__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason for the rejection or repair status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="RejectionAndRepairReason13Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction/request has a rejected or repair status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReasonInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional reason information that cannot be provided in a structured field.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairStatus14Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionOrRepairStatus14Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="RejectionOrRepairReason13__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for the status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectionReason27Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionReason27Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction/cancellation request has a rejected status.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAFE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccountRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid message sender's safekeeping account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NRGN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotFoundRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction could not be found.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other. See Narrative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidModificationRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid or unrecognized modification request.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestDetails11__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestDetails11__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details of the settlement condition modification request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ref" type="References9__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">References of the transaction for which the securities settlement condition modification is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="HldInd" type="HoldIndicator4__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HoldIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the transaction is on hold/blocked/frozen.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount13__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount13__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification for the account between the account owner and the account servicer.”.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesSettlementConditionModificationStatusAdviceV04">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesSettlementConditionModificationStatusAdviceV04</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope
An account servicer sends a SecuritiesSettlementConditionsModificationStatusAdvice to an account owner to advise the status of a modification request previously instructed by the account owner.
The account servicer/owner relationship may be:
- a central securities depository or another settlement market infrastructure acting on behalf of their participants
- an agent (sub-custodian) acting on behalf of their global custodian customer, or
- a custodian acting on behalf of an investment management institution or a broker/dealer.

Usage
A SecuritiesSettlementConditionsModificationRequest may contain requests on multiple transactions. However, one SecuritiesSettlementConditionsModificationStatusAdvice must be sent per transaction modified unless the SecuritiesSettlementConditionsModificationRequest is rejected as a whole.
The message may also be used to:
- re-send a message previously sent,
- provide a third party with a copy of a message for information,
- re-send to a third party a copy of a message for information
using the relevant elements in the Business Application Header.

ISO 15022 - 20022 Coexistence
This ISO 20022 message is reversed engineered from ISO 15022. Both standards will coexist for a certain number of years. Until this coexistence period ends, the usage of certain data types is restricted to ensure interoperability between ISO 15022 and 20022 users. Compliance to these rules is mandatory in a coexistence environment. The coexistence restrictions are described in a Textual Rule linked to the Message Items they concern. These coexistence textual rules are clearly identified as follows: “CoexistenceXxxxRule”.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ReqRef" type="Identification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the SecuritiesSettlementConditionsModificationRequest.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcctOwnr" type="PartyIdentification36Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount13__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqDtls" type="RequestDetails11__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details of the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrcgSts" type="ProcessingStatus18Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the processing status of the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
