enContent/WebContent/xsd/setr.055.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2017 Jan 13 14:45:55, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2016.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:setr.055.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:setr.055.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AdditionalReference8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdditionalReference8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">References a related message or provides another reference, such as a pool reference, linking a set of messages. The party which issued the related reference may be the Sender of the referenced message or a party other than the Sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message identification of a message. This reference was assigned by the party issuing the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification113">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issuer of the reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalReference9">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdditionalReference9</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">References a related message or provides another reference, such as a pool reference, linking a set of messages. The party which issued the related reference may be the Sender of the referenced message or a party other than the Sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference identifying a set of messages.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification113">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issuer of the reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationReason31Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancellationReason31Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the cancellation reason.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ConfirmationCancellationReason1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation cancellation reason expressed as a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification47">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation cancellation reason expressed as a proprietary code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ConfirmationCancellationReason1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ConfirmationCancellationReason1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why a confirmation is cancelled.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CSHN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashNotReceived</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because the cash has not been received.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REPL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ConfirmationReplacement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because it will be replaced.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BENA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectBackEndLoadAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because the back end load amount is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSHW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectCashAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because the cash amount is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DISA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectDiscountAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because the discount amount is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DISC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectDiscountAmountCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because the discount amount has an incorrect currency.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXCH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectExchangeRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because the exchange rate is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FEEE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectFeeOrCommission</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because a fee or commission amount is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DQUA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectFinancialInstrumentQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because the financial instrument quantity is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FENA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectFrontEndLoadAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because the front end load amount is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GROA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectGrossAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because the gross amount is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GROC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectGrossAmountCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because the gross amount has an incorrect currency.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NETA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectNetAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because the net amount is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NETC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectNetAmountCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because the net amount has an incorrect currency.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPER">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectOperation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because of an incorrect operation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MINI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectQuantityUnitsOrCash</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because of an incorrect minimum traded quantity or cash amount.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DMON">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectSettlementAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because the settlement amount is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NCRR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectSettlementAmountCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because the settlement amount has an incorrect currency.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DDAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectSettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because the settlement date is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SETS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectSettlementMethod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because the settlement method is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DDEA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectTradeDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation is cancelled because the trade date is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REFE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation contains an invalid business reference.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CopyInformation4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CopyInformation4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information provided when the message is a copy of a previous message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CpyInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CopyIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the message is a copy.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlRcvr" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalReceiver</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Original receiver of the message, if this message is a copy.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SwtchOrdrConfCxlInstr" type="SwitchOrderConfirmationCancellationInstructionV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification47</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="InvestmentFundOrder11">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InvestmentFundOrder11</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">References of an order confirmation and an order confirmation cancellation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="OrdrRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrderReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for the order, as assigned by the instructing party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClientReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous investor's identification of the order. This reference can typically be used in a hub scenario to give the reference of the order as assigned by the underlying client.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DealRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for the order execution, as assigned by the confirming party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for the order confirmation cancellation, as assigned by the confirming party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlRsn" type="CancellationReason31Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason for the cancellation of the confirmation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LEIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a message by a unique identifier and the date and time when the message was created by the sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of creation of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification113">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification113</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Pty" type="PartyIdentification90Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Party</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LEI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legal entity identification as an alternate identification for the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification90Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification90Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of formats for the identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party expressed as a BIC.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtryId" type="GenericIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to the party using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NmAndAdr" type="NameAndAddress5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name and address of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country for example, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SwitchOrderConfirmationCancellationInstructionV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SwitchOrderConfirmationCancellationInstructionV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The SwitchOrderConfirmationCancellationInstruction message is sent by an executing party, for example, a transfer agent, to the instructing party, for example, an investment manager or its authorised representative, to cancel a previously sent SwitchOrderConfirmation.&#13;
Usage&#13;
To request the cancellation of one or more individual order executions, the order reference and deal reference of each individual order execution in the original SwitchOrderConfirmation are specified in the order reference and deal reference elements respectively. The message identification of the SwitchOrderConfirmation message in which the individual order execution was conveyed may also be quoted in PreviousReference but this is not recommended. The AmendmentIndicator is used to specify whether the switch order confirmation cancellation is to be followed by an amendment An amendment of a switch order confirmation is carried out by sending a SwitchOrderConfirmation message in which the AmendmentIndicator contains the value ‘true’.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference that uniquely identifies the message from a business application standpoint. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolRef" type="AdditionalReference9">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PoolReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collective reference identifying a set of messages.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvsRef" type="AdditionalReference8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message that was previously sent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRef" type="AdditionalReference8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message that was previously received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AmdmntInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmendmentIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether a confirmation amendment message will follow the confirmation cancellation instruction or not.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MasterReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference assigned to a set of orders or trades in order to link them together.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="OrdrRefs" type="InvestmentFundOrder11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrderReferences</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the individual order confirmation to be cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDtls" type="CopyInformation4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CopyDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information provided when the message is a copy of a previous message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
