enContent/WebContent/xsd/setr.064.001.01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Generated by SWIFTStandards Workstation (build:R6.1.0.2) on 2008 Aug 07 10:49:13
Candidate UNIFI (ISO 20022) Message.-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:tech:xsd:setr.064.001.01" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:setr.064.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalReference4">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message identification of a message. This reference was assigned by the party issuing the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issuer of the reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DomesticIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Country of the proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryIdSrc" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Entity that issues the proprietary identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlternativeFundsOrderInstructionStatusReportV01">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference that uniquely identifies a message from a technical application standpoint. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRef" type="AdditionalReference4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message that was previously received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrdrDtlsRpt" type="IndividualOrderStatusAndReason3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrderDetailsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status report details of an order.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDtls" type="CopyInformation2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CopyDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information provided when the message is a copy of a previous message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Extension</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BICIdentification1">
        <xs:sequence>
            <xs:element name="BIC" type="BICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bank Identifier Code. Code allocated to financial institutions by the Registration Authority, under an international identification scheme, as described in the latest version of the standard ISO 9362 Banking (Banking telecommunication messages, Bank Identifier Codes).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancelledStatusReason1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="CancelledStatusReason2Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for the suspended status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification13">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for the suspended status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANH"/>
            <xs:enumeration value="CANP"/>
            <xs:enumeration value="CXLR"/>
            <xs:enumeration value="CANO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ConditionallyAcceptedStatusReason1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="ConditionallyAcceptedStatusReason3Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for the suspended status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification13">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for the suspended status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ConditionallyAcceptedStatusReason3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="AWSM"/>
            <xs:enumeration value="DUPL"/>
            <xs:enumeration value="CRED"/>
            <xs:enumeration value="BPID"/>
            <xs:enumeration value="ERIS"/>
            <xs:enumeration value="AMLD"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="AFUN"/>
            <xs:enumeration value="BMIN"/>
            <xs:enumeration value="BMTO"/>
            <xs:enumeration value="INSU"/>
            <xs:enumeration value="PRCT"/>
            <xs:enumeration value="BMRA"/>
            <xs:enumeration value="BMRV"/>
            <xs:enumeration value="LOCK"/>
            <xs:enumeration value="ILLI"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="STOP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CopyInformation2">
        <xs:sequence>
            <xs:element name="CpyInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CopyIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the message is a copy.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlRcvr" type="BICIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalReceiver</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Original receiver of the message, if this message is a copy.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AltrntvFndsOrdrInstrStsRpt" type="AlternativeFundsOrderInstructionStatusReportV01">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlternativeFundsOrderInstructionStatusReportV01</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">SCOPE
An executing party, eg, a transfer agent or administrator, sends the AlternativeFundsOrderInstructionStatusReport to the instructing party, eg, an investment manager, custodian or its authorised representative to report the status of an order from the time the executing party receives the order until the time the order is executed.
There may be one or more parties between the executing party and the instructing party.

USAGE
The AlternativeFundsOrderInstructionStatusReport message is used to report on the status of a AlternativeFundsSubscriptionOrder or AlternativeFundsRedemptionOrder.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExpectedExecutionDetails3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="XpctdTradDtTm" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExpectedTradeDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Expected date and time at which the price is applied, ie, the expected execution date for the order. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="XpctdCshSttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExpectedCashSettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Expected date on which the cash will be available.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XpctdExctdAmt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExpectedExecutedAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Expected execution amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtInInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentInIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates, for the status of a subscription, whether payment has been received by the executing party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a payment transaction, as assigned by the originator. The payment transaction reference is used for reconciliation or to link tasks relating to the payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrepmtDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PrepaymentDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of the prepayment, if applicable.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TopUpAmt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TopUpAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional amount of money (top-up amount) required to meet the minimum subscription amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="HldBckDtls" type="HoldBackInformation1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HoldBackDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information about hold back of redemption proceeds.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SdPcktQty" type="SidePocketQuantityAndAmount1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SidePocketQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of the side pocket.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name qualifying the information provided in the Text field, and place where this information should be inserted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Txt" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Text</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Text of the extension.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument18">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification9">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the account. It provides an additional means of identification, and is designated by the account servicer in agreement with the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SrsIsseIdDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SeriesIssueIdentificationDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date that identifies the issue of a fund series. It is typically applicable to a redemption order, subscription order confirmation or redemption order confirmation, but may be specified in the subscription order, if known.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SrsNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SeriesName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the name of a fund series. It is typically applicable to a redemption order, subscription order confirmation or redemption order confirmation, but may be specified in the subscription, if known.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NewIsseInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewIssueIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the financial instrument and/or series included in the message is a new issue.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SplmtryId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about a financial instrument to help identify the instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1">
        <xs:sequence>
            <xs:element name="Unit" type="DecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity11Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="UnitsNb" type="FinancialInstrumentQuantity1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">UnitsNumber</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Total of quantity of units subscribed or redeemed in the lot or side pocket.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OrdrdAmt" type="ActiveOrHistoricCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OrderedAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Amount of money invested or redeemed into the lot or side pocket.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="HldgsRate" type="PercentageRate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">HoldingsRate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Percentage of the financial instrument quantity invested or redeemed in the lot or side pocket.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundOrderData3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdTradDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestedTradeDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the investor requests the order to be executed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtAcctDtls" type="InvestmentAccount30">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvestmentAccountDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account information of the order instruction for which the status is given.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmDtls" type="FinancialInstrument18">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instrument information of the order instruction for which the status is given.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmQty" type="FinancialInstrumentQuantity11Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of financial instrument of the order instruction for which the status is given.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, eg, "UK National Insurance Number".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification13">
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, eg, "UK National Insurance Number".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HoldBackInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="HldBckAmt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HoldBackAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of the redemption amount subject to hold back.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="HldBckRlsDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HoldBackReleaseDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the hold back amount is to be released.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IndividualOrderStatusAndReason3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MasterReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference assigned to a set of orders or trades in order to link them together.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrdrRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrderReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an order, as assigned by the instructing party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClientReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous investor's identification of an order. This reference can typically be used in a hub scenario to give the reference of the order as assigned by the underlying client.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DealRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an order execution, as assigned by the executing party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an order cancellation, as assigned by the instructing party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StsDtls" type="OrderStatus1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Choice of status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrData" type="FundOrderData3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrderData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data from the original order.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NewDtls" type="ExpectedExecutionDetails3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that has been added to the original order.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StsInitr" type="PartyIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusInitiator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that initiates the status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount30">
        <xs:sequence>
            <xs:element name="Acct" type="SecuritiesAccount5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Business relationship between two entities; one entity is the account owner, the other entity is the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dsgnt" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Designation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Supplementary registration information applying to a specific block of units for dealing and reporting purposes. The supplementary registration information may be used when all the units are registered, for example, to a funds supermarket, but holdings for each investor have to reconciled individually.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Ownr" type="PartyIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Owner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Svcr" type="PartyIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Servicer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that manages the account on behalf of the account owner, ie, manages the registration and booking of entries on the account, calculates balances on the account and provides information about the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcct" type="SubAccount3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sub-accounts that are grouped in a master or omnibus account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of creation of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the account. It provides an additional means of identification, and is designated by the account servicer in agreement with the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrderStatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Sts" type="OrderStatus5Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status of the order.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Canc" type="CancelledStatusReason1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Cancelled</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status of the individual order is cancelled. This status is used for an order that has been accepted or that has been entered in an order book but that cannot be executed.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="5" minOccurs="1" name="CondlyAccptd" type="ConditionallyAcceptedStatusReason1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ConditionallyAccepted</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status of the order is conditionally accepted.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="10" minOccurs="1" name="Rjctd" type="RejectedStatusReason1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status of the order is rejected. This status is used for an order that has not been accepted or entered in an order book.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Sspd" type="SuspendedStatusReasonChoice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Suspended</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status of the order is suspended.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtlySttld" type="PartiallySettledStatus2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PartiallySettled</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status of the order is partially settled.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OrderStatus5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RECE"/>
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="COSE"/>
            <xs:enumeration value="STNP"/>
            <xs:enumeration value="CPNP"/>
            <xs:enumeration value="SETT"/>
            <xs:enumeration value="CSNE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartiallySettledStatus2">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="PartiallySettledStatusReason1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for the suspended status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification13">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for the suspended status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartiallySettledStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UPST"/>
            <xs:enumeration value="CPST"/>
            <xs:enumeration value="UCPS"/>
            <xs:enumeration value="HOLA"/>
            <xs:enumeration value="HOLL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an organisation that is allocated by an institution, eg, Dun &amp; Bradstreet Identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress5">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectedStatusReason10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="BLTR"/>
            <xs:enumeration value="CUTO"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="IDNA"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="IOTP"/>
            <xs:enumeration value="IPAC"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="NRGM"/>
            <xs:enumeration value="NSLA"/>
            <xs:enumeration value="ORRF"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="SHIG"/>
            <xs:enumeration value="SLOW"/>
            <xs:enumeration value="UDCY"/>
            <xs:enumeration value="ULNK"/>
            <xs:enumeration value="URSC"/>
            <xs:enumeration value="ORDR"/>
            <xs:enumeration value="BMIN"/>
            <xs:enumeration value="BMTO"/>
            <xs:enumeration value="INSU"/>
            <xs:enumeration value="PRCT"/>
            <xs:enumeration value="BMRA"/>
            <xs:enumeration value="BMRV"/>
            <xs:enumeration value="LOCK"/>
            <xs:enumeration value="ILLI"/>
            <xs:enumeration value="DINV"/>
            <xs:enumeration value="CLOS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectedStatusReason1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="RejectedStatusReason10Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for the suspended status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification13">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for the suspended status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount5">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the account. It provides an additional means of identification, and is designated by the account servicer in agreement with the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification10Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OthrId" type="AlternateSecurityIdentification3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of a security assigned by an institution or organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification9">
        <xs:sequence>
            <xs:element name="SctyId" type="SecurityIdentification10Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Textual description of a security instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SidePocketQuantityAndAmount1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitsNb" type="FinancialInstrumentQuantity1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnitsNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total of quantity of units subscribed or redeemed in the lot or side pocket.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrdAmt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrderedAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money invested or redeemed into the lot or side pocket.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="HldgsRate" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HoldingsRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Percentage of the financial instrument quantity invested or redeemed in the lot or side pocket.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubAccount3">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the account. It provides an additional means of identification, and is designated by the account servicer in agreement with the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Chrtc" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Characteristic</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies additional properties of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SuspendedStatusReason3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIC"/>
            <xs:enumeration value="FLOW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SuspendedStatusReasonChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="SuspendedStatusReason3Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for the suspended status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification13">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for the suspended status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
