enContent/WebContent/xsd/setr.058.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2017 Jan 13 14:45:55, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2016.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:setr.058.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:setr.058.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AdditionalReference8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdditionalReference8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">References a related message or provides another reference, such as a pool reference, linking a set of messages. The party which issued the related reference may be the Sender of the referenced message or a party other than the Sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message identification of a message. This reference was assigned by the party issuing the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification113">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issuer of the reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification7">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlternateSecurityIdentification7</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Proprietary or domestic identification scheme that uniquely identifies a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdSrc" type="IdentificationSource1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IdentificationSource</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Source of the identification, that is, domestic (national) or proprietary.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BelgianIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BelgianIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier for Belgian securities.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="Bloomberg2Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Bloomberg2Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">An identifier of a security assigned by the Bloomberg organisation.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="(BBG)[BCDFGHJKLMNPQRSTVWXYZ\d]{8}\d"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CUSIPIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CUSIPIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Committee on Uniform Securities and Identification Procedures (CUSIP). The standards body that created and maintains the securities classification system in the US. Non-US securities have a similar number called the CINS number.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ConsolidatedTapeAssociationIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Consolidated Tape Association.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateFormat42Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateFormat42Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of formats for a date.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="YrMnth" type="ISOYearMonth">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">YearMonth</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Year and month.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="YrMnthDay" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">YearMonthDay</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Year, month and day.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DistributionPolicy1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DistributionPolicy1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if income is to be paid out (distributed) or retained (accumulated).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Distribution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Income is distributed to the investors in the fund.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACCU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Accumulation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Income is added to the capital of the fund.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ReqForOrdrConfStsRpt" type="RequestForOrderConfirmationStatusReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DutchIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DutchIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier for Dutch securities.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="EuroclearClearstreamIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EuroclearClearstreamIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier of securities issued in Luxembourg. The common code is a 9-digit code that replaces the CEDEL (Clearstream) and Euroclear codes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Extension1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name qualifying the information provided in the Text field, and place where this information should be inserted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Txt" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Text</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Text of the extension.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument57">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrument57</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Security that is a sub-set of an investment fund, and is governed by the same investment fund policy, for example,, dividend option or valuation currency.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification25Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the security by an ISIN.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the financial instrument in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial Instrument Short Name (FISN) expressed in conformance with the ISO 18774 standard.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SplmtryId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the financial instrument to help identify the instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssTp" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClassType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Features of units offered by the fund. For example, a unit may have a specific load structure, for example, front end or back end, an income policy, for example, pay out or accumulate, or a trailer policy, for example, with or without. Fund classes are typically denoted by a single character, for example, 'Class A', 'Class 2'.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesForm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Form, that is, ownership, of the security, for example, registered or bearer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrbtnPlcy" type="DistributionPolicy1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DistributionPolicy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Income policy relating to a class type, that is, if income is paid out or retained in the fund.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctGrp" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProductGroup</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Company specific description of a group of funds.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SrsId" type="Series1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SeriesIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Choice of formats for the identification of a series.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FormOfSecurity1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Form of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Bearer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The financial instrument does not specify any registration of ownership, and  is payable to whomever possesses the certificate.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REGD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Registered</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Shareholder name of the financial instrument appears in the corporation/funds books.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINOct2015Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN). A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISOYearMonth</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Month within a particular calendar year represented by YYYY-MM (ISO 8601).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IdentificationSource1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of proprietary or domestic identification scheme that uniquely identifies a security.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Dmst" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Domestic</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country of the proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that issues the proprietary identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount58">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InvestmentAccount58</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account between an investor(s) and a fund manager or a fund. The account can contain holdings in any investment fund or investment fund class managed (or distributed) by the fund manager, within the same fund family.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AcctId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the account. It provides an additional means of identification, and is designated by the account servicer in agreement with the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDsgnt" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountDesignation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Supplementary registration information applying to a specific block of units for dealing and reporting purposes. The supplementary registration information may be used when all the units are registered, for example, to a funds supermarket, but holdings for each investor have to reconciled individually.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OwnrId" type="PartyIdentification113">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OwnerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification113">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that manages the account on behalf of the account owner, that is manages the registration and booking of entries on the account, calculates balances on the account and provides information about the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrOrgtrElgblty" type="OrderOriginatorEligibility1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrderOriginatorEligibility</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Counterparties eligibility as defined by article 24 of the EU MiFID Directive applicable to transactions executed by investment firms for eligible counterparties.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcctDtls" type="SubAccount6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubAccountDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sub-account of the master or omnibus account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentFundOrder8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InvestmentFundOrder8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reference of an order and of an order cancellation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MasterReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference assigned to a set of orders or trades in order to link them together.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrdrRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrderReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for the order, as assigned by the instructing party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClientReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous investor's identification of the order. This reference can typically be used in a hub scenario to give the reference of the order as assigned by the underlying client.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for the order cancellation, as assigned by the instructing party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DealRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for the order execution, as assigned by the confirming party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtAcctDtls" type="InvestmentAccount58">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvestmentAccountDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account information of the individual order instruction or individual order cancellation request for which the status is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmDtls" type="FinancialInstrument57">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instrument information of the individual order or individual order cancellation request for which the status is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LEIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageAndBusinessReference10">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageAndBusinessReference10</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information to identify funds order(s).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="References62Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message that was previously sent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRef" type="AdditionalReference8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message that was previously received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OrdrRef" type="InvestmentFundOrder8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrderReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifiers of one or more individual order instructions or individual order cancellation requests.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a message by a unique identifier and the date and time when the message was created by the sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of creation of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OrderOriginatorEligibility1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OrderOriginatorEligibility1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of the counterparties eligibility as defined by article 24 of the EU MiFID Directive applicable to transactions executed by investment firms for eligible counterparties.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELIG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Eligible</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Eligible counterparty - MiFID classification of counterparty. Eligible customers are the most sophisticated level of investor, able to opt out of some the protections afforded by conduct of business rules defined under MiFID.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RETL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Retail</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Retail client - MiFID classification of counterparty. Retail customers are the least sophisticated level of investor.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PROF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Professional</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Professional client - MiFID classification of counterparty. Professional customers are, for example, investment firms, credit institutions, insurance companies.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification113">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification113</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Pty" type="PartyIdentification90Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Party</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LEI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legal entity identification as an alternate identification for the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification90Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification90Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of formats for the identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party expressed as a BIC.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtryId" type="GenericIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to the party using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NmAndAdr" type="NameAndAddress5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name and address of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country for example, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QUICKIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QUICKIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Japanese QUICK identification scheme for financial instruments.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="RICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reuters Identification Code (RIC). A numbering system used within the Reuters system to identify instruments worldwide. The RIC contains an X-character market specific code (can be the CUSIP or EPIC codes) followed by a full stop, then the two-digit ISO country code, eg, IBM in UK is IBM.UK.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="References62Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">References62Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of references used to reference a previous transaction.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element maxOccurs="2" minOccurs="1" name="PrvsRef" type="AdditionalReference8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message that was previously sent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="2" minOccurs="1" name="OthrRef" type="AdditionalReference8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a linked proprietary message or reference of a system that was previously received.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RequestForOrderConfirmationStatusReportV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestForOrderConfirmationStatusReportV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The RequestForOrderConfirmationStatusReport message is ent by an executing party, for example, a transfer agent, to the instructing party, for example, an investment manager or its authorised representative, to request the status of one or more order confirmations.&#13;
Usage&#13;
The RequestForOrderConfirmationStatusReport message is used to request the status of either:&#13;
- one or several individual order confirmations, or,&#13;
- one or several order confirmation messages.&#13;
The response to a RequestForOrderConfirmationStatusReport message is the OrderConfirmationStatusReport message.&#13;
When the RequestForOrderConfirmationStatusReport message is used to request the status of several individual order confirmations or one or more order confirmation messages, the executing party may receive several OrderConfirmationStatusReport messages from the instructing party.&#13;
When the RequestForOrderConfirmationStatusReport is used to request the status of one or more individual order confirmations, each individual order confirmation is identified with its order reference. The message identification of the message in which the individual order confirmation was conveyed may also be quoted in PreviousReference.&#13;
When the RequestForOrderConfirmationStatusReport is used to request the status of an order confirmation message, then the message identification of the order confirmation message is identified in PreviousReference.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference that uniquely identifies the message from a business application standpoint. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ReqDtls" type="MessageAndBusinessReference10">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to identify the order confirmation for which the status is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Extension</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SEDOLIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SEDOLIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Stock Exchange Daily Official List (SEDOL) number. A code used by the London Stock Exchange to identify foreign stocks, especially those that aren't actively traded in the US and don't have a CUSIP number.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification25Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification25Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of formats for the identification of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN). A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SEDOL" type="SEDOLIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SEDOL</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Stock Exchange Daily Official List (SEDOL) number.  A code used by the London Stock Exchange to identify foreign stocks, especially those that aren't actively traded in the US and don't have a CUSIP number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CUSIP" type="CUSIPIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CUSIP</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Committee on Uniform Securities and Identification Procedures (CUSIP). The standards body that created and maintains the securities classification system in the US. The CUSIP is composed of a 9-character number that uniquely identifies a particular security. Non-US securities have a similar number called the CINS number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RIC" type="RICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reuters Identification Code (RIC). A numbering system used within the Reuters system to identify instruments worldwide. The RIC contains an X-character market specific code (can be the CUSIP or EPIC codes) followed by a full stop, then the two-digit ISO country code, for example, IBM in UK is IBM.UK.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TckrSymb" type="TickerIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TickerSymbol</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Letters that identify a stock traded on a stock exchange. The Ticker Symbol is a short and convenient way of identifying a stock, for example, RTR.L for Reuters quoted in London.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Blmbrg" type="Bloomberg2Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Bloomberg</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Bloomberg organisation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CTA</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Consolidated Tape Association.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="QUICK" type="QUICKIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QUICK</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Japanese QUICK identification scheme for financial instruments.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Wrtppr" type="WertpapierIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Wertpapier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Wertpapier Kenn-nummer.  A number issued in Germany by the Wertpapier Mitteilungen. The Wertpapier Kenn-nummer, sometimes called WPK, contains 6-digits, but no check digit. There are different ranges of numbers representing different classes of securities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Dtch" type="DutchIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Dutch</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier for Dutch securities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vlrn" type="ValorenIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Valoren</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier for Swiss securities assigned by Telekurs Financial, the Swiss numbering agency.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SCVM" type="SicovamIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Sicovam</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier for French securities assigned by the Societe Interprofessionnelle Pour La Compensation des Valeurs Mobilieres in France. The Sicovam is composed of 5-digits.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Belgn" type="BelgianIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Belgian</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier for Belgian securities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Cmon" type="EuroclearClearstreamIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Common</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier of securities issued in Luxembourg. The common code is a 9-digit code that replaces the CEDEL (Clearstream) and Euroclear codes.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OthrPrtryId" type="AlternateSecurityIdentification7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherProprietaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the security assigned by an institution or organisation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Series1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Series1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a series.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SrsDt" type="DateFormat42Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SeriesDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issue date of the fund series. It is typically applicable to a redemption order, subscription order confirmation or redemption order confirmation, but may be specified in the subscription order, if known.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SrsNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SeriesName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the fund series. It is typically applicable to a redemption order, subscription order confirmation or redemption order confirmation, but may be specified in the subscription, if known.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SicovamIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SicovamIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier for French securities assigned by the Societe Interprofessionnelle Pour La Compensation des Valeurs Mobilieres in France. The Sicovam is composed of 5-digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SubAccount6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SubAccount6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Business relationship between two entities; one entity is the account owner, the other entity is the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the account. It provides an additional means of identification, and is designated by the account servicer in agreement with the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Chrtc" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Characteristic</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional properties of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDsgnt" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountDesignation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Supplementary registration information applying to a specific block of units for dealing and reporting purposes. The supplementary registration information may be used when all the units are registered, for example, to a funds supermarket, but holdings for each investor have to reconciled individually.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TickerIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TickerIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Letters that identify a stock traded on a stock exchange. The Ticker Symbol is a short and convenient way of identifying a stock, eg, RTR.L for Reuters quoted in London.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ValorenIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ValorenIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier for Swiss securities assigned by Telekurs Financial, the Swiss numbering agency.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="WertpapierIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">WertpapierIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Wertpapier Kenn-nummer. A number issued in Germany by the Wertpapier Mitteilungen. The Wertpapier Kenn-nummer, sometimes called WPK, contains 6-digits, but no check digit. There are different ranges of numbers representing different classes of securities.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
</xs:schema>
