enContent/WebContent/xsd/xrma.005.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2005 Dec 01 17:09:45-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:swift.rma$xrma.005.001.01" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:swift.rma$xrma.005.001.01">
<xs:element name="Document" type="Document"/>
<xs:complexType name="AnswerText">
<xs:sequence>
<xs:element name="Txt" type="Max2000Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AuthorisationQuery">
<xs:sequence>
<xs:element name="IssdDtTm" type="ISODateTime" minOccurs="0" maxOccurs="1"/>
<xs:element name="SvcNm" type="QueryServiceNameText"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="xrma.005.001.01" type="xrma.005.001.01"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="Max2000Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="2000"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="QueryServiceNameText">
<xs:restriction base="xs:string">
<xs:pattern value="[a-z0-9\.!]{1,30}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="StructuredInformation">
<xs:sequence>
<xs:element name="Tag" type="Max35Text"/>
<xs:element name="Val" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TestAndTrainingDestination">
<xs:sequence>
<xs:element name="Issr" type="TestTrainingBIC8Identifier"/>
<xs:element name="Crspdt" type="TestTrainingBIC8Identifier"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TestTrainingBIC8Identifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][0]"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="xrma.005.001.01">
<xs:sequence>
<xs:element name="TTDstn" type="TestAndTrainingDestination" minOccurs="0" maxOccurs="1"/>
<xs:element name="Authstn" type="AuthorisationQuery"/>
<xs:element name="AnswrInfo" type="StructuredInformation"/>
<xs:element name="AnswrTxt" type="AnswerText"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
