enContent/WebContent/xsd/xrma.001.002.04.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R7.1.0.4) on 2010 Jun 30 21:11:03--><xs:schema xmlns="urn:swift:xsd:swift.rma$xrma.001.002.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:swift.rma$xrma.001.002.04">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AuthorisationPilotService">
        <xs:sequence>
            <xs:element name="IssdDtTm" type="ISODateTime"/>
            <xs:element name="SvcNm" type="SwiftNetFinPilotText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CategoryPermission">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="Excl" type="Max30Text"/>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="Incl" type="Max30Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ControlledDate">
        <xs:restriction base="xs:date">
            <xs:minInclusive value="2006-01-01"/>
            <xs:maxInclusive value="2037-12-31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DatePeriodDetails3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FrDt" type="ControlledDate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ToDt" type="ControlledDate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="xrma.001.002.04" type="xrma.001.002.04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinServicePermissions">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Cat1" type="CategoryPermission"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cat2" type="CategoryPermission"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cat3" type="CategoryPermission"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cat4" type="CategoryPermission"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cat5" type="CategoryPermission"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cat6" type="CategoryPermission"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cat7" type="CategoryPermission"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cat8" type="CategoryPermission"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max30Text">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwiftNetFinPilotText">
        <xs:restriction base="xs:string">
            <xs:pattern value="swift\.fin!p"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TestAndTrainingDestination">
        <xs:sequence>
            <xs:element name="Issr" type="TestTrainingBIC8Identifier"/>
            <xs:element name="Crspdt" type="TestTrainingBIC8Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TestTrainingBIC8Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][0]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Validity1">
        <xs:sequence>
            <xs:element name="VldtyPrd" type="DatePeriodDetails3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="xrma.001.002.04">
        <xs:sequence>
            <xs:element name="TTDstn" type="TestAndTrainingDestination"/>
            <xs:element name="Authstn" type="AuthorisationPilotService"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vldty" type="Validity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FINSvcPermssn" type="FinServicePermissions"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
