enContent/WebContent/xsd/xrma.001.002.03.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Generated by SWIFTStandards Workstation (build:R6.1.0.2) on 2009 Feb 20 16:40:53-->
<xs:schema xmlns="urn:swift:xsd:swift.rma$xrma.001.002.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:swift.rma$xrma.001.002.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AuthorisationPilotService">
        <xs:sequence>
            <xs:element name="IssdDtTm" type="ISODateTime"/>
            <xs:element name="SvcNm" type="SwiftNetFinPilotText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Category1MessageType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="101"/>
            <xs:enumeration value="102"/>
            <xs:enumeration value="103"/>
            <xs:enumeration value="104"/>
            <xs:enumeration value="105"/>
            <xs:enumeration value="107"/>
            <xs:enumeration value="110"/>
            <xs:enumeration value="111"/>
            <xs:enumeration value="112"/>
            <xs:enumeration value="190"/>
            <xs:enumeration value="191"/>
            <xs:enumeration value="192"/>
            <xs:enumeration value="195"/>
            <xs:enumeration value="196"/>
            <xs:enumeration value="198"/>
            <xs:enumeration value="199"/>
            <xs:enumeration value="All"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Category1Permission">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="15" minOccurs="1" name="Excl" type="Category1MessageType1Code"/>
                <xs:element maxOccurs="16" minOccurs="1" name="Incl" type="Category1MessageType1Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Category2MessageType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="200"/>
            <xs:enumeration value="201"/>
            <xs:enumeration value="202"/>
            <xs:enumeration value="203"/>
            <xs:enumeration value="204"/>
            <xs:enumeration value="205"/>
            <xs:enumeration value="207"/>
            <xs:enumeration value="210"/>
            <xs:enumeration value="256"/>
            <xs:enumeration value="290"/>
            <xs:enumeration value="291"/>
            <xs:enumeration value="292"/>
            <xs:enumeration value="295"/>
            <xs:enumeration value="296"/>
            <xs:enumeration value="298"/>
            <xs:enumeration value="299"/>
            <xs:enumeration value="All"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Category2Permission">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="15" minOccurs="1" name="Excl" type="Category2MessageType1Code"/>
                <xs:element maxOccurs="16" minOccurs="1" name="Incl" type="Category2MessageType1Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Category3MessageType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="304"/>
            <xs:enumeration value="307"/>
            <xs:enumeration value="308"/>
            <xs:enumeration value="321"/>
            <xs:enumeration value="380"/>
            <xs:enumeration value="381"/>
            <xs:enumeration value="All"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Category3Permission">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="5" minOccurs="1" name="Excl" type="Category3MessageType1Code"/>
                <xs:element maxOccurs="6" minOccurs="1" name="Incl" type="Category3MessageType1Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Category4MessageType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="400"/>
            <xs:enumeration value="405"/>
            <xs:enumeration value="410"/>
            <xs:enumeration value="412"/>
            <xs:enumeration value="416"/>
            <xs:enumeration value="420"/>
            <xs:enumeration value="422"/>
            <xs:enumeration value="430"/>
            <xs:enumeration value="450"/>
            <xs:enumeration value="455"/>
            <xs:enumeration value="456"/>
            <xs:enumeration value="490"/>
            <xs:enumeration value="491"/>
            <xs:enumeration value="492"/>
            <xs:enumeration value="495"/>
            <xs:enumeration value="496"/>
            <xs:enumeration value="498"/>
            <xs:enumeration value="499"/>
            <xs:enumeration value="All"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Category4Permission">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="17" minOccurs="1" name="Excl" type="Category4MessageType1Code"/>
                <xs:element maxOccurs="18" minOccurs="1" name="Incl" type="Category4MessageType1Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Category5MessageType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="500"/>
            <xs:enumeration value="501"/>
            <xs:enumeration value="502"/>
            <xs:enumeration value="503"/>
            <xs:enumeration value="504"/>
            <xs:enumeration value="505"/>
            <xs:enumeration value="506"/>
            <xs:enumeration value="507"/>
            <xs:enumeration value="508"/>
            <xs:enumeration value="509"/>
            <xs:enumeration value="510"/>
            <xs:enumeration value="513"/>
            <xs:enumeration value="514"/>
            <xs:enumeration value="515"/>
            <xs:enumeration value="516"/>
            <xs:enumeration value="517"/>
            <xs:enumeration value="518"/>
            <xs:enumeration value="519"/>
            <xs:enumeration value="524"/>
            <xs:enumeration value="526"/>
            <xs:enumeration value="527"/>
            <xs:enumeration value="528"/>
            <xs:enumeration value="529"/>
            <xs:enumeration value="530"/>
            <xs:enumeration value="535"/>
            <xs:enumeration value="536"/>
            <xs:enumeration value="537"/>
            <xs:enumeration value="538"/>
            <xs:enumeration value="540"/>
            <xs:enumeration value="541"/>
            <xs:enumeration value="542"/>
            <xs:enumeration value="543"/>
            <xs:enumeration value="544"/>
            <xs:enumeration value="545"/>
            <xs:enumeration value="546"/>
            <xs:enumeration value="547"/>
            <xs:enumeration value="548"/>
            <xs:enumeration value="549"/>
            <xs:enumeration value="558"/>
            <xs:enumeration value="559"/>
            <xs:enumeration value="564"/>
            <xs:enumeration value="565"/>
            <xs:enumeration value="566"/>
            <xs:enumeration value="567"/>
            <xs:enumeration value="568"/>
            <xs:enumeration value="569"/>
            <xs:enumeration value="574"/>
            <xs:enumeration value="575"/>
            <xs:enumeration value="576"/>
            <xs:enumeration value="577"/>
            <xs:enumeration value="578"/>
            <xs:enumeration value="579"/>
            <xs:enumeration value="581"/>
            <xs:enumeration value="582"/>
            <xs:enumeration value="584"/>
            <xs:enumeration value="586"/>
            <xs:enumeration value="587"/>
            <xs:enumeration value="588"/>
            <xs:enumeration value="589"/>
            <xs:enumeration value="590"/>
            <xs:enumeration value="591"/>
            <xs:enumeration value="592"/>
            <xs:enumeration value="595"/>
            <xs:enumeration value="596"/>
            <xs:enumeration value="598"/>
            <xs:enumeration value="599"/>
            <xs:enumeration value="All"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Category5Permission">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="65" minOccurs="1" name="Excl" type="Category5MessageType1Code"/>
                <xs:element maxOccurs="66" minOccurs="1" name="Incl" type="Category5MessageType1Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Category6MessageType1code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="604"/>
            <xs:enumeration value="643"/>
            <xs:enumeration value="644"/>
            <xs:enumeration value="645"/>
            <xs:enumeration value="646"/>
            <xs:enumeration value="649"/>
            <xs:enumeration value="690"/>
            <xs:enumeration value="691"/>
            <xs:enumeration value="692"/>
            <xs:enumeration value="695"/>
            <xs:enumeration value="696"/>
            <xs:enumeration value="698"/>
            <xs:enumeration value="699"/>
            <xs:enumeration value="All"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Category6Permission">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="12" minOccurs="1" name="Excl" type="Category6MessageType1code"/>
                <xs:element maxOccurs="13" minOccurs="1" name="Incl" type="Category6MessageType1code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Category7MessageType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="700"/>
            <xs:enumeration value="701"/>
            <xs:enumeration value="705"/>
            <xs:enumeration value="707"/>
            <xs:enumeration value="710"/>
            <xs:enumeration value="711"/>
            <xs:enumeration value="720"/>
            <xs:enumeration value="721"/>
            <xs:enumeration value="730"/>
            <xs:enumeration value="732"/>
            <xs:enumeration value="734"/>
            <xs:enumeration value="740"/>
            <xs:enumeration value="742"/>
            <xs:enumeration value="747"/>
            <xs:enumeration value="750"/>
            <xs:enumeration value="752"/>
            <xs:enumeration value="754"/>
            <xs:enumeration value="756"/>
            <xs:enumeration value="760"/>
            <xs:enumeration value="767"/>
            <xs:enumeration value="768"/>
            <xs:enumeration value="769"/>
            <xs:enumeration value="790"/>
            <xs:enumeration value="791"/>
            <xs:enumeration value="792"/>
            <xs:enumeration value="795"/>
            <xs:enumeration value="796"/>
            <xs:enumeration value="798"/>
            <xs:enumeration value="799"/>
            <xs:enumeration value="All"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Category7Permission">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="28" minOccurs="1" name="Excl" type="Category7MessageType1Code"/>
                <xs:element maxOccurs="29" minOccurs="1" name="Incl" type="Category7MessageType1Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Category8MessageType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="800"/>
            <xs:enumeration value="801"/>
            <xs:enumeration value="802"/>
            <xs:enumeration value="810"/>
            <xs:enumeration value="812"/>
            <xs:enumeration value="813"/>
            <xs:enumeration value="820"/>
            <xs:enumeration value="821"/>
            <xs:enumeration value="822"/>
            <xs:enumeration value="823"/>
            <xs:enumeration value="824"/>
            <xs:enumeration value="890"/>
            <xs:enumeration value="891"/>
            <xs:enumeration value="892"/>
            <xs:enumeration value="895"/>
            <xs:enumeration value="896"/>
            <xs:enumeration value="898"/>
            <xs:enumeration value="899"/>
            <xs:enumeration value="All"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Category8Permission">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="17" minOccurs="1" name="Excl" type="Category8MessageType1Code"/>
                <xs:element maxOccurs="18" minOccurs="1" name="Incl" type="Category8MessageType1Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ControlledDate">
        <xs:restriction base="xs:date">
            <xs:minInclusive value="2006-01-01"/>
            <xs:maxInclusive value="2037-12-31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DatePeriodDetails3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FrDt" type="ControlledDate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ToDt" type="ControlledDate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="xrma.001.002.03" type="xrma.001.002.03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinServicePermissions">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Cat1" type="Category1Permission"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cat2" type="Category2Permission"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cat3" type="Category3Permission"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cat4" type="Category4Permission"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cat5" type="Category5Permission"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cat6" type="Category6Permission"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cat7" type="Category7Permission"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cat8" type="Category8Permission"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="SwiftNetFinPilotText">
        <xs:restriction base="xs:string">
            <xs:pattern value="swift\.fin!p"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TestAndTrainingDestination">
        <xs:sequence>
            <xs:element name="Issr" type="TestTrainingBIC8Identifier"/>
            <xs:element name="Crspdt" type="TestTrainingBIC8Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TestTrainingBIC8Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][0]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Validity1">
        <xs:sequence>
            <xs:element name="VldtyPrd" type="DatePeriodDetails3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="xrma.001.002.03">
        <xs:sequence>
            <xs:element name="TTDstn" type="TestAndTrainingDestination"/>
            <xs:element name="Authstn" type="AuthorisationPilotService"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vldty" type="Validity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FINSvcPermssn" type="FinServicePermissions"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
