enContent/WebContent/xsd/xrma.003.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2005 Dec 01 17:09:45-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:swift.rma$xrma.003.001.01" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:swift.rma$xrma.003.001.01">
<xs:element name="Document" type="Document"/>
<xs:complexType name="AuthorisationReturnedBoot">
<xs:sequence>
<xs:element name="IssdDtTm" type="ISODateTime" minOccurs="0" maxOccurs="1"/>
<xs:element name="SvcNm" type="SwiftNetProductionText"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="xrma.003.001.01" type="xrma.003.001.01"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:complexType name="Justification">
<xs:sequence>
<xs:element name="RjctCd" type="RmaRejectCode"/>
<xs:element name="Rsn" type="Max105Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Max105Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="105"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="RmaRejectCode">
<xs:restriction base="xs:string">
<xs:enumeration value="xrma.003.1"/>
<xs:enumeration value="xrma.003.2"/>
<xs:enumeration value="xrma.003.3"/>
<xs:enumeration value="xrma.003.4"/>
<xs:enumeration value="xrma.003.5"/>
<xs:enumeration value="xrma.003.6"/>
<xs:enumeration value="xrma.003.7"/>
<xs:enumeration value="xrma.003.99"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SwiftNetProductionText">
<xs:restriction base="xs:string">
<xs:pattern value="[a-z0-9\.]{1,30}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="xrma.003.001.01">
<xs:sequence>
<xs:element name="Authstn" type="AuthorisationReturnedBoot"/>
<xs:element name="Justfn" type="Justification"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
