enContent/WebContent/xsd/xrma.004.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R7.1.0.4) on 2010 Jun 30 21:11:03--><xs:schema xmlns="urn:swift:xsd:swift.rma$xrma.004.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:swift.rma$xrma.004.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AuthorisationQuery">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IssdDtTm" type="ISODateTime"/>
            <xs:element name="SvcNm" type="QueryServiceNameText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="xrma.004.001.02" type="xrma.004.001.02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max10000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QueryServiceNameText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z0-9\.!]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="QueryText">
        <xs:sequence>
            <xs:element name="Text" type="Max10000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StructuredInformation">
        <xs:sequence>
            <xs:element name="Tag" type="Max35Text"/>
            <xs:element name="Val" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TestAndTrainingDestination">
        <xs:sequence>
            <xs:element name="Issr" type="TestTrainingBIC8Identifier"/>
            <xs:element name="Crspdt" type="TestTrainingBIC8Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TestTrainingBIC8Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][0]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="xrma.004.001.02">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TTDstn" type="TestAndTrainingDestination"/>
            <xs:element name="Authstn" type="AuthorisationQuery"/>
            <xs:element name="QryInfo" type="StructuredInformation"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QryTxt" type="QueryText"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
