enContent/WebContent/xsd/xrma.002.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2005 Dec 01 17:09:45-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:swift.rma$xrma.002.001.01" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:swift.rma$xrma.002.001.01">
<xs:element name="Document" type="Document"/>
<xs:complexType name="AuthorisationReturned">
<xs:sequence>
<xs:element name="IssdDtTm" type="ISODateTime"/>
<xs:element name="SvcNm" type="SwiftNetProductionText"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="xrma.002.001.01" type="xrma.002.001.01"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="SwiftNetProductionText">
<xs:restriction base="xs:string">
<xs:pattern value="[a-z0-9\.]{1,30}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="xrma.002.001.01">
<xs:sequence>
<xs:element name="Authstn" type="AuthorisationReturned"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
