enContent/WebContent/xsd/xrma.002.002.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2005 Dec 01 17:09:45-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:swift.rma$xrma.002.002.01" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:swift.rma$xrma.002.002.01">
<xs:element name="Document" type="Document"/>
<xs:complexType name="AuthorisationPilotReturned">
<xs:sequence>
<xs:element name="IssdDtTm" type="ISODateTime"/>
<xs:element name="SvcNm" type="SwiftNetPilotText"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="xrma.002.002.01" type="xrma.002.002.01"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="SwiftNetPilotText">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="30"/>
<xs:pattern value="[a-z0-9\.]*![a-z0-9\.]*"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="TestAndTrainingDestination">
<xs:sequence>
<xs:element name="Issr" type="TestTrainingBIC8Identifier"/>
<xs:element name="Crspdt" type="TestTrainingBIC8Identifier"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TestTrainingBIC8Identifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][0]"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="xrma.002.002.01">
<xs:sequence>
<xs:element name="TTDstn" type="TestAndTrainingDestination" minOccurs="0" maxOccurs="1"/>
<xs:element name="Authstn" type="AuthorisationPilotReturned"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
