enContent/WebContent/xsd/xrma.003.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R7.1.0.4) on 2010 Jun 30 21:11:03--><xs:schema xmlns="urn:swift:xsd:swift.rma$xrma.003.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:swift.rma$xrma.003.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AuthorisationReturnedBoot">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IssdDtTm" type="ISODateTime"/>
            <xs:element name="SvcNm" type="SwiftNetProductionText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="xrma.003.001.02" type="xrma.003.001.02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="Justification">
        <xs:sequence>
            <xs:element name="RjctCd" type="RmaRejectCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="Max10000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max10000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RmaRejectCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="xrma.003.1"/>
            <xs:enumeration value="xrma.003.2"/>
            <xs:enumeration value="xrma.003.3"/>
            <xs:enumeration value="xrma.003.4"/>
            <xs:enumeration value="xrma.003.5"/>
            <xs:enumeration value="xrma.003.6"/>
            <xs:enumeration value="xrma.003.7"/>
            <xs:enumeration value="xrma.003.99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwiftNetProductionText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z0-9\.]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="xrma.003.001.02">
        <xs:sequence>
            <xs:element name="Authstn" type="AuthorisationReturnedBoot"/>
            <xs:element name="Justfn" type="Justification"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
