enContent/WebContent/xsd/xrma.006.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R7.0.3.1) on 2010 Mar 29 11:54:00--><xs:schema xmlns="urn:swift:xsd:xrma.006.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:xrma.006.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AuthorisationLive">
        <xs:sequence>
            <xs:element name="IssdDtTm" type="ISODateTime"/>
            <xs:element name="SvcNm" type="SwiftNetProductionText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ControlledDate">
        <xs:restriction base="xs:date">
            <xs:minInclusive value="2006-01-01"/>
            <xs:maxInclusive value="2037-12-31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DatePeriodDetails3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FrDt" type="ControlledDate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ToDt" type="ControlledDate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="xrma.006.001.01" type="xrma.006.001.01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max30Text">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Permissions">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Excl" type="Max30Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Incl" type="Max30Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SwiftNetProductionText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z0-9\.]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Validity1">
        <xs:sequence>
            <xs:element name="VldtyPrd" type="DatePeriodDetails3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="xrma.006.001.01">
        <xs:sequence>
            <xs:element name="Authstn" type="AuthorisationLive"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vldty" type="Validity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Permssn" type="Permissions"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
