enContent/WebContent/xsd/xsys.005.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R6.0.1.1) on 2007 Jun 15 11:47:27--><xs:schema xmlns:Doc="urn:swift:xsd:xsys.005.001.01" xmlns:Sw="urn:swift:snl:ns.Sw" xmlns:SwGbl="urn:swift:snl:ns.SwGbl" xmlns:SwInt="urn:swift:snl:ns.SwInt" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:xsys.005.001.01">
    <xs:import namespace="urn:swift:snl:ns.SwGbl" schemaLocation="SwGbl.xsd"/>
    <xs:import namespace="urn:swift:snl:ns.SwInt" schemaLocation="SwInt.xsd"/>
    <xs:import namespace="urn:swift:snl:ns.Sw" schemaLocation="Sw.xsd"/>
    <xs:element name="Document" type="Doc:Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="xsys.005.001.01" type="Doc:UndeliveredMessagesReport">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UndeliveredMessagesReportV01</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportInfo">
        <xs:sequence>
            <xs:element name="PgNb" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LstPgInd" type="Doc:SwBooleanIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageInd</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ExctnRptRslt" type="Doc:ResultCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecReportResult</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ExctnRptFailrDtls" type="SwGbl:Status">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionReportFailureDetails</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ExctnTm" type="Doc:SwDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecTime</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestReference">
        <xs:sequence>
            <xs:element ref="Sw:SnFRef">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SnFRef</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ResultCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Success"/>
            <xs:enumeration value="Failure"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwBooleanIndicator">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TRUE"/>
            <xs:enumeration value="FALSE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwDateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="SwDecimal">
        <xs:restriction base="xs:decimal"/>
    </xs:simpleType>
    <xs:complexType name="UndeliveredMessage">
        <xs:sequence>
            <xs:element ref="Sw:SnFRef">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SnFRef</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="Sw:SnFInputTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SnFInputTime</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" ref="Sw:InputChannel">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InputChannel</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" ref="Sw:SnFInputSeq">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SnFInputSeq</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element ref="Sw:FileRequestHeader">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FileRequestHeader</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="SwInt:RequestHeader">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RequestHeader</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element minOccurs="0" ref="SwGbl:Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" ref="Sw:SwiftTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SwiftTime</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" ref="Sw:OrigSnFRef">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrigSnFRef</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" ref="Sw:RecipientDN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecipientDN</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UndeliveredMessageList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="UdlvrdMsg" type="Doc:UndeliveredMessage">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UndeliveredMessage</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UndeliveredMessagesReport">
        <xs:sequence>
            <xs:element name="ReqRef" type="Doc:RequestReference">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestReference</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptInf" type="Doc:ReportInfo">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportInfo</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="UdlvrdMsgList" type="Doc:UndeliveredMessageList">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UndeliveredMessageList</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
