enContent/WebContent/xsd/xsys.006.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R6.0.1.1) on 2007 Jun 15 11:47:27--><xs:schema xmlns:Doc="urn:swift:xsd:xsys.006.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:xsys.006.001.01">
    <xs:element name="Document" type="Doc:Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="xsys.006.001.01" type="Doc:GetInputChannelsListRequest">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GetInputChannelsListRequestV01</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetInputChannelsListRequest">
        <xs:sequence>
            <xs:element name="RptCrit" type="Doc:InputChannels">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportCriteria</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InputChannels">
        <xs:sequence>
            <xs:element name="InptChanlPttrn" type="Doc:Max30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InputChannelPattern</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max30Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
