enContent/WebContent/xsd/xsys.009.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R6.1.0.2) on 2008 Nov 17 10:38:30--><xs:schema xmlns:Doc="urn:swift:xsd:xsys.009.001.01" xmlns:Sw="urn:swift:snl:ns.Sw" xmlns:SwGbl="urn:swift:snl:ns.SwGbl" xmlns:SwInt="urn:swift:snl:ns.SwInt" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:xsys.009.001.01">
 <xs:import namespace="urn:swift:snl:ns.SwGbl" schemaLocation="SwGbl.xsd"/>
 <xs:import namespace="urn:swift:snl:ns.SwInt" schemaLocation="SwInt.xsd"/>
 <xs:import namespace="urn:swift:snl:ns.Sw" schemaLocation="Sw.xsd"/>
 <xs:element name="Document" type="Doc:Document"/>
 <xs:simpleType name="AcquisitionStateCode">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Open"/>
   <xs:enumeration value="Closed"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="ActivationStateCode">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Activated"/>
   <xs:enumeration value="ActivatedForInputOnly"/>
   <xs:enumeration value="ActivatedForOutputOnly"/>
   <xs:enumeration value="Disabled"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:complexType name="Document">
  <xs:sequence>
   <xs:element name="xsys.009.001.01" type="Doc:QueueStatusReport">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueueStatusReportV01</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ExecutionReportFailureDetails">
  <xs:sequence>
   <xs:element ref="SwGbl:StatusAttributes">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusAttributes</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="Message">
  <xs:sequence>
   <xs:element ref="Sw:SnFRef">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SnFRef</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element ref="Sw:SnFRefType">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SnFRefType</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element ref="Sw:SnFInputTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SnFInputTime</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:choice>
    <xs:element minOccurs="0" ref="Sw:FileRequestHeader">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FileRequestHeader</xs:documentation>
                    </xs:annotation>
                </xs:element>
    <xs:element minOccurs="0" ref="SwInt:RequestHeader">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RequestHeader</xs:documentation>
                    </xs:annotation>
                </xs:element>
   </xs:choice>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MessageList">
  <xs:sequence>
   <xs:element maxOccurs="unbounded" name="Msg" type="Doc:Message">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Message</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:simpleType name="PCDATA">
  <xs:restriction base="xs:string"/>
 </xs:simpleType>
 <xs:complexType name="QueueStatus">
  <xs:sequence>
   <xs:element name="QNm" type="Doc:PCDATA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueueName</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" name="ActvtnStat" type="Doc:ActivationStateCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ActivationState</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" name="AcqstnStat" type="Doc:AcquisitionStateCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcquisitionState</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" name="AcqrDN" type="Doc:PCDATA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcquireDN</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" name="CntrSysUrgt" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterSystemUrgent</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" name="CntrSysNrml" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterSystemNormal</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" name="CntrIAUrgt" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterInterActUrgent</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" name="CntrIANrml" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterInterActNormal</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" name="CntrFAUrgt" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterFileActUrgent</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" name="CntrFANrml" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterFileActNormal</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" name="MsgList" type="Doc:MessageList">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageList</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="QueueStatusList">
  <xs:sequence>
   <xs:element maxOccurs="unbounded" name="QSts" type="Doc:QueueStatus">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueueStatus</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="QueueStatusReport">
  <xs:sequence>
   <xs:element name="ReqRef" type="Doc:RequestReference">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestReference</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element name="RptInf" type="Doc:ReportInformation">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportInformation</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" name="QStsList" type="Doc:QueueStatusList">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueueStatusList</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ReportInformation">
  <xs:sequence>
   <xs:element name="PgNb" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element name="LstPgInd" type="Doc:SwBooleanIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndication</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element name="ExctnRptRslt" type="Doc:ResultCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionReportResult</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" name="ExctnRptFailrDtls" type="Doc:ExecutionReportFailureDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionReportFailureDetails</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element name="ExctnTm" type="Doc:SwDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionTime</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="RequestReference">
  <xs:sequence>
   <xs:element ref="Sw:SnFRef">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SnFRef</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:simpleType name="ResultCode">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Success"/>
   <xs:enumeration value="Failure"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="SwBooleanIndicator">
  <xs:restriction base="xs:string">
   <xs:enumeration value="TRUE"/>
   <xs:enumeration value="FALSE"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="SwDateTime">
  <xs:restriction base="xs:dateTime"/>
 </xs:simpleType>
 <xs:simpleType name="SwDecimal">
  <xs:restriction base="xs:decimal"/>
 </xs:simpleType>
</xs:schema>
