enContent/WebContent/xsd/xsys.004.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R6.0.1.1) on 2007 Jun 15 11:47:27--><xs:schema xmlns:Doc="urn:swift:xsd:xsys.004.001.01" xmlns:SwInt="urn:swift:snl:ns.SwInt" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:xsys.004.001.01">
    <xs:import namespace="urn:swift:snl:ns.SwInt" schemaLocation="SwInt.xsd"/>
    <xs:element name="Document" type="Doc:Document"/>
    <xs:complexType name="AbstractReportDescription">
        <xs:sequence>
            <xs:element name="RptOptn" type="Doc:Max5Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportOption</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="RqstrPttrn" type="Doc:Max100Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Requestor</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="InptChanl" type="Doc:Max30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InputChannel</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="MsgSvc" type="Doc:MsgServiceCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MsgService</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="CtryLctn" type="Doc:Max4Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountryLocation</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="xsys.004.001.01" type="Doc:GetUndeliveredMessagesRequest">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GetUndeliveredMessagesRequestV01</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetUndeliveredMessagesRequest">
        <xs:sequence>
            <xs:element name="RptCrit" type="Doc:ReportDescription">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportDescription</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max100Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max30Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MsgServiceCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="InterAct"/>
            <xs:enumeration value="FileAct"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReportDescription">
        <xs:complexContent>
            <xs:extension base="Doc:AbstractReportDescription">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="SwInt:Service">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Service</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="SwInt:Priority">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Priority</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
