enContent/WebContent/xsd/xsys.005.002.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFT sc on 2019-02-25T10:15:30-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:Doc="urn:swift:xsd:xsys.005.002.02" xmlns:SwGbl="urn:swift:snl:ns.SwGbl" xmlns:SwInt="urn:swift:snl:ns.SwInt" xmlns:Sw="urn:swift:snl:ns.Sw" targetNamespace="urn:swift:xsd:xsys.005.002.02" elementFormDefault="qualified">
	<xs:import namespace="urn:swift:snl:ns.SwGbl" schemaLocation="SwGbl.xsd"/>
	<xs:import namespace="urn:swift:snl:ns.SwInt" schemaLocation="SwInt.xsd"/>
	<xs:import namespace="urn:swift:snl:ns.Sw" schemaLocation="Sw.xsd"/>
	<xs:element name="Document" type="Doc:Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="xsys.005.002.02" type="Doc:UndeliveredMessagesReport">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">UnsolicitedUndeliveredTrafficReportV02</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReportInfo">
		<xs:sequence>
			<xs:element name="PgNb" type="Doc:SwDecimal">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LstPgInd" type="Doc:SwBooleanIndicator">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">LastPageIndicator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExctnRptRslt" type="Doc:ResultCode">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ExecutionReportResult</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExctnRptFailrDtls" type="SwGbl:Status" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ExecutionReportFailureDetails</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExctnTm" type="Doc:SwDateTime">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ExecutionTime</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReportCriteria">
		<xs:sequence>
			<xs:element name="RptOptn" type="xs:string">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ReportOption</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ResultCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Success"/>
			<xs:enumeration value="Failure"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SwBooleanIndicator">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRUE"/>
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SwDateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="SwDecimal">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:complexType name="UndeliveredMessage">
		<xs:sequence>
			<xs:element ref="Sw:SnFRef">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SnFRef</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Sw:SnFInputTime">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SnFInputTime</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element ref="Sw:FileRequestHeader">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">FileRequestHeader</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="SwInt:RequestHeader">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">RequestHeader</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element ref="SwGbl:Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Sw:OrigSnFRef" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">OrigSnFRef</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Sw:RecipientDN" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">RecipientDN</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UndeliveredMessageList">
		<xs:sequence>
			<xs:element name="UdlvrdMsg" type="Doc:UndeliveredMessage" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">UndeliveredMessage</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UndeliveredMessagesReport">
		<xs:sequence>
			<xs:element name="RptCrit" type="Doc:ReportCriteria">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ReportCriteria</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RptInf" type="Doc:ReportInfo">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ReportInfo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence>
				<xs:element name="DbIdr" type="Doc:SwDecimal" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">DatabaseIdentifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:element name="UdlvrdMsgList" type="Doc:UndeliveredMessageList" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">UndeliveredMessageList</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
