enContent/WebContent/xsd/xsys.028.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFT sc (build:R7.0.0.0) on 2010-04-16T10:15:30--><xs:schema xmlns:Doc="urn:swift:xsd:xsys.028.001.01" xmlns:SwInt="urn:swift:snl:ns.SwInt" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:xsys.028.001.01">
    <xs:import namespace="urn:swift:snl:ns.SwInt" schemaLocation="SwInt.xsd"/>
    <xs:element name="Document" type="Doc:Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="xsys.028.001.01" type="Doc:QueueSharingModeRequest">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UpdateQueueSharingModeRequestV01</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QueueSharingModeRequest">
        <xs:sequence>
            <xs:element ref="SwInt:Queue">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Queue</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ShrMd" type="Doc:SharingMode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharingMode</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SharingMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Exclusive"/>
            <xs:enumeration value="Shared"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
