enContent/WebContent/xsd/xsys.012.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFT sc on 2013-06-28T10:15:30-->
<xs:schema xmlns:Doc="urn:swift:xsd:xsys.012.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:SwInt="urn:swift:snl:ns.SwInt" xmlns:Sw="urn:swift:snl:ns.Sw" targetNamespace="urn:swift:xsd:xsys.012.001.02" elementFormDefault="qualified">
	<xs:import namespace="urn:swift:snl:ns.SwInt" schemaLocation="SwInt.xsd"/>
	<xs:import namespace="urn:swift:snl:ns.Sw" schemaLocation="Sw.xsd"/>
	<xs:element name="Document" type="Doc:Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="xsys.012.001.02" type="Doc:FailedDeliveryNotificationMessage">
			  <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FailedDeliveryNotificationV02</xs:documentation>
        </xs:annotation>
      </xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FailedDeliveryNotificationMessage">
		<xs:sequence>
			<xs:element name="DlvryNtfctn" type="Doc:DeliveryNotification"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeliveryNotification">
		<xs:sequence>
    <xs:element ref="Sw:SnFRef">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StoreAndForwardReference</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" ref="Sw:OrigSnFRef">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalStoreAndForwardReference</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" ref="Sw:ThirdPartyDN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ThirdPartyDN</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" ref="Sw:RecipientDN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecipientDN</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element ref="Sw:SnFRefType">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StoreAndForwardReferenceType</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" ref="Sw:InputChannel">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InputChannel</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" ref="Sw:SnFInputSeq">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StoreAndForwardInputSequence</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element ref="Sw:AcceptStatus">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptanceStatus</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" ref="Sw:DeliveryTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTime</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element ref="Sw:AckSwiftTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcknowledgedSwiftTime</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" ref="Sw:AckDescription">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcknowledgementDescription</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" ref="Sw:AckInfo">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcknowldegementInformation</xs:documentation>
                </xs:annotation>
            </xs:element>
			<xs:choice>
				<xs:element ref="Sw:FileRequestHeader"/>
				<xs:element ref="SwInt:RequestHeader"/>
			</xs:choice>
			<xs:element name="Xtnsn" type="Doc:Extension" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Extension</xs:documentation>
                </xs:annotation>			
      </xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Extension">
		<xs:sequence>
			<xs:element name="PlcAndNm" type="Doc:Max350Text" minOccurs="0">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                </xs:annotation>		
       </xs:element>	
			<xs:element name="XtnsnEnvlp" type="Doc:ExtensionEnvelope">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExtensionEnvelope</xs:documentation>
                </xs:annotation>				
      </xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtensionEnvelope">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max350Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="350"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
