enContent/WebContent/xsd/xsys.026.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFT sc (build:R7.0.0.0) on 2010-04-16T10:15:30--><xs:schema xmlns:Doc="urn:swift:xsd:xsys.026.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:xsys.026.001.01">
    <xs:element name="Document" type="Doc:Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="xsys.026.001.01" type="Doc:GetOutputChannelsListRequest">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutputChannelListReportRequestV01</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetOutputChannelsListRequest">
        <xs:sequence>
            <xs:element name="RptCrit" type="Doc:OutputChannels">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportCriteria</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OutputChannels">
        <xs:sequence>
            <xs:element name="OutptChanlPattrn" type="Doc:Max30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutputChannelPattern</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max30Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
