enContent/WebContent/xsd/xsys.014.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFT sc (build:R7.0.0.0) on 2010-04-16T10:15:30--><xs:schema xmlns:Doc="urn:swift:xsd:xsys.014.001.01" xmlns:Sw="urn:swift:snl:ns.Sw" xmlns:SwGbl="urn:swift:snl:ns.SwGbl" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:xsys.014.001.01">
    <xs:import namespace="urn:swift:snl:ns.Sw" schemaLocation="Sw.xsd"/>
    <xs:import namespace="urn:swift:snl:ns.SwGbl" schemaLocation="SwGbl.xsd"/>
    <xs:element name="Document" type="Doc:Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="xsys.014.001.01" type="Doc:BulkRetrievalReport">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BulkRetrievalReportV01</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RetrievedBulkFile">
        <xs:sequence>
            <xs:element ref="Sw:LogicalName">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LogicalName</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="Sw:Size">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Size</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="Sw:Digest">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Digest</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FirstSnFTm" type="Doc:SwDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FirstSnFTime</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastSnFTm" type="Doc:SwDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastSnFTime</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TtlNbOfMsgs" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalNumberOfMessages</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RetrievedBulkFileList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="RtrvdBulkFile" type="Doc:RetrievedBulkFile">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RetrievedBulkFile</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BulkRetrievalReport">
        <xs:sequence>
            <xs:element name="ReqRef" type="Doc:RequestReference">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestReference</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptInf" type="Doc:ReportInfo">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportInformation</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="RtrvdBulkFileList" type="Doc:RetrievedBulkFileList">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RetrievedBulkFileList</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportInfo">
        <xs:sequence>
            <xs:element name="PgNb" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LstPgInd" type="Doc:SwBooleanIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndication</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ExctnRptRslt" type="Doc:ResultCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionReportResult</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ExctnRptFailrDtls" type="SwGbl:Status">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionReportFailureDetails</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ExctnTm" type="Doc:SwDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionTime</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestReference">
        <xs:sequence>
            <xs:element ref="Sw:SnFRef">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StoreAndForwardReference</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ResultCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Success"/>
            <xs:enumeration value="Failure"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwBooleanIndicator">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TRUE"/>
            <xs:enumeration value="FALSE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwDateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="SwDecimal">
        <xs:restriction base="xs:decimal"/>
    </xs:simpleType>
</xs:schema>
