enContent/WebContent/xsd/xsys.003.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R6.0.1.1) on 2007 Jun 15 11:47:27--><xs:schema xmlns:Doc="urn:swift:xsd:xsys.003.001.01" xmlns:Sw="urn:swift:snl:ns.Sw" xmlns:SwInt="urn:swift:snl:ns.SwInt" xmlns:SwSec="urn:swift:snl:ns.SwSec" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:xsys.003.001.01">
    <xs:import namespace="urn:swift:snl:ns.SwInt" schemaLocation="SwInt.xsd"/>
    <xs:import namespace="urn:swift:snl:ns.Sw" schemaLocation="Sw.xsd"/>
    <xs:import namespace="urn:swift:snl:ns.SwSec" schemaLocation="SwSec.xsd"/>
    <xs:element name="Document" type="Doc:Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="xsys.003.001.01" type="Doc:RefusalNotification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RefusalNotificationV01</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Notification">
        <xs:sequence>
            <xs:element ref="Sw:SnFRef">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SnFRef</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element ref="SwInt:RequestHeader">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RequestHeader</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="Sw:FileRequestHeader">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FileRequestHeader</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RefusalNotification">
        <xs:sequence>
            <xs:element name="AuthstnRfslNtfctn" type="Doc:RefusalReasonNotification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RefusalReasonNotification</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RefusalReasonNotification">
        <xs:complexContent>
            <xs:extension base="Doc:Notification">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="Sw:ThirdPartyRefusalReason">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">ThirdPartyRefusalReason</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="SwSec:SignatureValue">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">SignatureValue</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
