enContent/WebContent/xsd/xsys.010.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFT sc (build:R7.0.0.0) on 2010-04-16T10:15:30--><xs:schema xmlns:Doc="urn:swift:xsd:xsys.010.001.02" xmlns:Sw="urn:swift:snl:ns.Sw" xmlns:SwGbl="urn:swift:snl:ns.SwGbl" xmlns:SwInt="urn:swift:snl:ns.SwInt" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:xsys.010.001.02">
 <xs:import namespace="urn:swift:snl:ns.SwGbl" schemaLocation="SwGbl.xsd"/>
 <xs:import namespace="urn:swift:snl:ns.SwInt" schemaLocation="SwInt.xsd"/>
 <xs:import namespace="urn:swift:snl:ns.Sw" schemaLocation="Sw.xsd"/>
 <xs:element name="Document" type="Doc:Document"/>
 <xs:complexType name="Document">
  <xs:sequence>
   <xs:element name="xsys.010.001.02" type="Doc:NonDeliveryWarning">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Non-deliveryWarningV02</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="NonDeliveryWarning">
  <xs:sequence>
   <xs:element name="OvrdueWrng" type="Doc:OverdueWarning">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OverdueWarning</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="OverdueWarning">
  <xs:sequence>
   <xs:element ref="Sw:SnFRef">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StoreAndForwardReference</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element ref="Sw:SnFRefType">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StoreAndForwardReferenceType</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" ref="Sw:InputChannel">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InputChannel</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" ref="Sw:SnFInputSeq">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StoreAndForwardInputSequence</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element ref="Sw:SnFInputTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StoreAndForwardInputTime</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element ref="Sw:OverdueTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OverdueTime</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:choice>
    <xs:element ref="Sw:FileRequestHeader">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FileRequestHeader</xs:documentation>
                    </xs:annotation>
                </xs:element>
    <xs:element ref="SwInt:RequestHeader">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RequestHeader</xs:documentation>
                    </xs:annotation>
                </xs:element>
   </xs:choice>
   <xs:element minOccurs="0" ref="Sw:RecipientDN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecipientDN</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" ref="SwGbl:Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" ref="Sw:SwiftTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SwiftTime</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
</xs:schema>
