enContent/WebContent/xsd/xsys.008.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFT sc (build:R7.0.0.0) on 2010-04-16T10:15:30--><xs:schema xmlns:Doc="urn:swift:xsd:xsys.008.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:xsys.008.001.02">
    <xs:element name="Document" type="Doc:Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="xsys.008.001.02" type="Doc:QueueStatusReportRequest">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueueStatusReportRequestV02</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PCDATA">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="QueueStatusReportRequest">
        <xs:sequence>
            <xs:element name="RptCrit" type="Doc:ReportCriteriav2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportCriteria</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportCriteriav2">
        <xs:sequence>
            <xs:element name="QNmPttrn" type="Doc:PCDATA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueueNamePattern</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="RptOptn" type="Doc:ReportOptionCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportOption</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="QFrst" type="Doc:SwBooleanIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueueFirst</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptVrsn" type="Doc:PCDATA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportVersion</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportOptionCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Full"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwBooleanIndicator">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TRUE"/>
            <xs:enumeration value="FALSE"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
