enContent/WebContent/xsd/xsys.001.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R6.0.1.1) on 2007 Jun 15 11:47:27--><xs:schema xmlns:Doc="urn:swift:xsd:xsys.001.001.01" xmlns:Sw="urn:swift:snl:ns.Sw" xmlns:SwInt="urn:swift:snl:ns.SwInt" xmlns:SwSec="urn:swift:snl:ns.SwSec" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:xsys.001.001.01">
    <xs:import namespace="urn:swift:snl:ns.SwInt" schemaLocation="SwInt.xsd"/>
    <xs:import namespace="urn:swift:snl:ns.Sw" schemaLocation="Sw.xsd"/>
    <xs:import namespace="urn:swift:snl:ns.SwSec" schemaLocation="SwSec.xsd"/>
    <xs:element name="Document" type="Doc:Document"/>
    <xs:complexType name="AbstractAuthorisation">
        <xs:sequence>
            <xs:element name="AuthstnSts" type="Doc:AuthorisationStatusCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AuthorisationStatus</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Authorisation">
        <xs:complexContent>
            <xs:extension base="Doc:AbstractAuthorisation">
                <xs:sequence>
                    <xs:element ref="Sw:SnFRef">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">SnFRef</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="Sw:CopySnFRef">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">CopySnFRef</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="SwInt:Service">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">Service</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="Sw:ThirdPartyToReceiverInformation">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">ThirdPartyToReceiverInformation</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="Sw:ThirdPartyToSenderInformation">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">ThirdPartyToSenderInformation</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="Sw:ThirdPartyRefusalReason">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">ThirdPartyRefusalReason</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="SwSec:SignatureValue">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">SignatureValue</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="AuthorisationStatusCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Authorised"/>
            <xs:enumeration value="Refused"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="xsys.001.001.01" type="Doc:SystemAuthorisation">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemAuthorisationV01</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemAuthorisation">
        <xs:sequence>
            <xs:element name="Authstn" type="Doc:Authorisation">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Authorisation</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
