enContent/WebContent/xsd/xsys.015.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFT sc on 2019-12-28T10:15:30-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:Doc="urn:swift:xsd:xsys.015.001.02" xmlns:SwInt="urn:swift:snl:ns.SwInt" xmlns:Sw="urn:swift:snl:ns.Sw" targetNamespace="urn:swift:xsd:xsys.015.001.02" elementFormDefault="qualified">
	<xs:import namespace="urn:swift:snl:ns.SwInt" schemaLocation="SwInt.xsd"/>
	<xs:import namespace="urn:swift:snl:ns.Sw" schemaLocation="Sw.xsd"/>
	<xs:element name="Document" type="Doc:Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="xsys.015.001.02" type="Doc:RetrievalRequest">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">RetrievalRequestV02</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetrievalRequest">
		<xs:sequence>
			<xs:element name="RptCrit" type="Doc:ReportCriteria">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ReportCriteria</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReportCriteria">
		<xs:sequence>
			<xs:element name="RprtGnrtnOptn" type="Doc:Max10Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ReportGenerationOption</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RtrvlScp" type="Doc:Max10Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">RetrievalScope</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SwInt:Queue">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Queue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrTm" type="Doc:SwDateTime">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">FromTime</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="SnglMsgCrit" type="Doc:SingleMessageCriteria">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">SingleMessageCriteria</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="MltplMsgCrit" type="Doc:MultipleMessageCriteria">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">MultipleMessageCriteria</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SingleMessageCriteria">
		<xs:sequence>
			<xs:choice>
				<xs:element name="InptCrit" type="Doc:InputOutputCriteria">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">InputCriteria</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OutptCrit" type="Doc:InputOutputCriteria">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">OutputCriteria</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InputOutputCriteria">
		<xs:sequence>
			<xs:element ref="Sw:SnFRef">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">StoreAndForwardReference</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MultipleMessageCriteria">
		<xs:sequence>
			<xs:element name="MaxNm" type="Doc:SwDecimal">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MaximumNumber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="InptSeqCrit" type="Doc:InputSequenceCriteria">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">InputSequenceCriteria</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="InptTmCrit" type="Doc:InputTimeCriteria">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">InputTimeCriteria</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OutptSeqCrit" type="Doc:OutputSequenceCriteria">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">OutputSequenceCriteria</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OutptTmCrit" type="Doc:OutputTimeCriteria">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">OutputTimeCriteria</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="AddtnlFltrCrit" type="Doc:AdditionalFilterCriteria" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AdditionalFilterCriteria</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InputSequenceCriteria">
		<xs:sequence>
			<xs:element ref="Sw:InputChannel">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">InputChannel</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrSeq" type="Doc:SwDecimal">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">FromSequence</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToSeq" type="Doc:SwDecimal">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ToSequence</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InputTimeCriteria">
		<xs:sequence>
			<xs:element ref="Sw:InputChannel" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">InputChannel</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToTm" type="Doc:SwDateTime">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ToTime</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OutputSequenceCriteria">
		<xs:sequence>
			<xs:element ref="Sw:OutputChannel">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">OutputChannel</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrSeq" type="Doc:SwDecimal">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">FromSequence</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToSeq" type="Doc:SwDecimal">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ToSequence</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OutputTimeCriteria">
		<xs:sequence>
			<xs:element ref="Sw:OutputChannel" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">OutputChannel</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToTm" type="Doc:SwDateTime">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ToTime</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalFilterCriteria">
		<xs:sequence>
			<xs:element name="Srvc" type="Doc:Max30Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Service</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RqstTpPttrn" type="Doc:Max30Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">RequestTypePattern</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RqstrPttrn" type="Doc:Max100Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">RequestorPattern</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RspdrPttrn" type="Doc:Max100Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ResponderPattern</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RqstRefPttrn" type="Doc:Max30Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">RequestRefPattern</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SNLId" type="Doc:Max8Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SWIFTNetLinkIdentifier</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max100Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max30Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max8Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SwDateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="SwDecimal">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
</xs:schema>
