enContent/WebContent/xsd/xsys.016.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFT sc on 2013-06-28T10:15:30-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:Doc="urn:swift:xsd:xsys.016.001.01" xmlns:SwGbl="urn:swift:snl:ns.SwGbl" xmlns:SwInt="urn:swift:snl:ns.SwInt" xmlns:Sw="urn:swift:snl:ns.Sw" targetNamespace="urn:swift:xsd:xsys.016.001.01" elementFormDefault="qualified">
	<xs:import namespace="urn:swift:snl:ns.SwGbl" schemaLocation="SwGbl.xsd"/>
	<xs:import namespace="urn:swift:snl:ns.SwInt" schemaLocation="SwInt.xsd"/>
	<xs:import namespace="urn:swift:snl:ns.Sw" schemaLocation="Sw.xsd"/>
	<xs:element name="Document" type="Doc:Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="xsys.016.001.01" type="Doc:RetrievalReport">
						    <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RetrievalReportV01</xs:documentation>
                </xs:annotation>
      </xs:element>   	    
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReportInfo">
		<xs:sequence>
			<xs:element name="PgNb" type="Doc:SwDecimal">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                </xs:annotation>
      </xs:element>        
			<xs:element name="LstPgInd" type="Doc:SwBooleanIndicator">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndication</xs:documentation>
                </xs:annotation>
      </xs:element> 
			<xs:element name="ExctnRptRslt" type="Doc:ResultCode">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionReportResult</xs:documentation>
                </xs:annotation>
      </xs:element> 
			<xs:element name="ExctnRptFailrDtls" type="SwGbl:Status" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionReportFailureDetails</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element name="ExctnTm" type="Doc:SwDateTime">
							  <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionTime</xs:documentation>
                </xs:annotation>
      </xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestReference">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="Sw:SnFRef">
							  <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StoreAndForwardReference</xs:documentation>
                </xs:annotation>
        </xs:element>			
				<xs:element name="UsrRef" type="Doc:Max30Text">
							  <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UserReference</xs:documentation>
                </xs:annotation>
        </xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ResultCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Success"/>
			<xs:enumeration value="Failure"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SwBooleanIndicator">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRUE"/>
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SwDateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="SwDecimal">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:complexType name="UndeliveredMessage">
		<xs:sequence>
			<xs:element ref="Sw:SnFRef">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StoreAndForwardReference</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:SnFInputTime">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SnFInputTime</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:InputChannel" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InputChannel</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:SnFInputSeq" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InputSequenceNumber</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:choice>
				<xs:element ref="Sw:FileRequestHeader">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FileRequestHeader</xs:documentation>
                </xs:annotation>
        </xs:element>
				<xs:element ref="SwInt:RequestHeader">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestHeader</xs:documentation>
                </xs:annotation>
        </xs:element>
			</xs:choice>
			<xs:element ref="SwGbl:Code" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:SwiftTime" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTime</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:OrigSnFRef" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalStoreAndForwardReference</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:RecipientDN" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecipientDN</xs:documentation>
                </xs:annotation>
      </xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetrievedMessageList">
		<xs:choice>
			<xs:element name="RtrvdInptMsgLst" type="Doc:RetrievedInputMessageList" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RetrievedInputMessageList</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element name="RtrvdOutptMsgLst" type="Doc:RetrievedOutputMessageList" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RetrievedOutputMessageList</xs:documentation>
                </xs:annotation>
      </xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RetrievedInputMessageList">
		<xs:sequence>
			<xs:element name="RtrvdInptMsg" type="Doc:RetrievedInputMessage" maxOccurs="unbounded">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RetrievedInputMessage</xs:documentation>
                </xs:annotation>
      </xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetrievedOutputMessageList">
		<xs:sequence>
			<xs:element name="RtrvdOutptMsg" type="Doc:RetrievedOutputMessage" maxOccurs="unbounded">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RetrievedOutputMessage</xs:documentation>
                </xs:annotation>
      </xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetrievedInputMessage">
		<xs:sequence>
			<xs:element ref="Sw:SnFRef">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StoreAndForwardReference</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:InputChannel" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InputChannel</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:SnFInputSeq" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InputSequenceNumber</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:SnFInputTime" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SnFInputTime</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:OverdueTime" minOccurs="0">
							  <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OverdueTime</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="SwGbl:Code" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:choice minOccurs="0">
				<xs:element ref="Sw:FileRequestHeader" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FileRequestHeader</xs:documentation>
                </xs:annotation>
        </xs:element>
				<xs:element ref="Sw:RequestHeader" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestHeader</xs:documentation>
                </xs:annotation>
        </xs:element>
			</xs:choice>
			<xs:element name="DlvrSmmry" type="Doc:DeliverySummary" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliverySummary</xs:documentation>
                </xs:annotation>
      </xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeliverySummary">
		<xs:sequence>
			<xs:element ref="Sw:ThirdPartyDN" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ThirdPartyDN</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element name="PDMLst" type="Doc:PossibleDuplicateMessageList" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PossibleDuplicateMessageList</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:AcceptStatus" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptanceStatus</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:DeliveryTime" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTime</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:AckSwiftTime" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcknowledgementSwiftTime</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:AckDescription" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcknowledgementDescription</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:AckInfo" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcknowledgementInformation</xs:documentation>
                </xs:annotation>
      </xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PossibleDuplicateMessageList">
		<xs:sequence>
			<xs:element name="PDM" type="Doc:PossibleDuplicateMessage" maxOccurs="unbounded">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryInfo</xs:documentation>
                </xs:annotation>
      </xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PossibleDuplicateMessage">
		<xs:sequence>
			<xs:element ref="Sw:SwiftTime">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTime</xs:documentation>
                </xs:annotation>
      </xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetrievedOutputMessage">
		<xs:sequence>
			<xs:element ref="Sw:SnFRef">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StoreAndForwardReference</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:OrigSnFRef" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalStoreAndForwardReference</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:SnFOutputSeq" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SnFOutputSeq</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:SnFOutputInfo" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SnFOutputInfo</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="SwGbl:Code" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="SwGbl:Text" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Text</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:choice minOccurs="0">
				<xs:element ref="Sw:FileRequestHeader" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FileRequestHeader</xs:documentation>
                </xs:annotation>
        </xs:element>
				<xs:element ref="Sw:RequestHeader" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestHeader</xs:documentation>
                </xs:annotation>
        </xs:element>
			</xs:choice>
			<xs:element ref="Sw:ThirdPartyDN" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ThirdPartyDN</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:RecipientDN" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecipientDN</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:AcceptStatus" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTime</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:AckSwiftTime" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptanceStatus</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:AckDescription" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcknowledgementDescription</xs:documentation>
                </xs:annotation>
      </xs:element>
			<xs:element ref="Sw:AckInfo" minOccurs="0">
								<xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcknowledgementInformation</xs:documentation>
                </xs:annotation>
      </xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max30Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RetrievalReport">
		<xs:sequence>
			<xs:element name="ReqRef" type="Doc:RequestReference"/>
			<xs:element name="RptInf" type="Doc:ReportInfo"/>
			<xs:element name="RtrvdMsgLst" type="Doc:RetrievedMessageList" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
