enContent/WebContent/xsd/xsys.013.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFT sc (build:R7.0.0.0) on 2010-04-16T10:15:30--><xs:schema xmlns:Doc="urn:swift:xsd:xsys.013.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:xsys.013.001.01">
    <xs:element name="Document" type="Doc:Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="xsys.013.001.01" type="Doc:BulkRetrievalRequest">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BulkRetrievalRequestV01</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BulkRetrievalRequest">
        <xs:sequence>
            <xs:element name="RptCrit" type="Doc:ReportCriteria">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportCriteria</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportCriteria">
        <xs:sequence>
            <xs:element minOccurs="0" name="BulkRtrvlCrit" type="Doc:BulkRetrievalCriteria">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BulkRetrievalCriteria</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="BulkRetrievalCriteria">
        <xs:sequence>
            <xs:element name="TmRg" type="Doc:TimeRange">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TimeRange</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimeRange">
        <xs:sequence>
            <xs:element name="FrTm" type="Doc:SwDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromTime</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToTm" type="Doc:SwDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToTime</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SwDateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
</xs:schema>
