enContent/WebContent/xsd/xsys.027.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFT sc (build:R7.0.0.0) on 2010-04-16T10:15:30--><xs:schema xmlns:Doc="urn:swift:xsd:xsys.027.001.01" xmlns:Sw="urn:swift:snl:ns.Sw" xmlns:SwGbl="urn:swift:snl:ns.SwGbl" xmlns:SwInt="urn:swift:snl:ns.SwInt" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:xsys.027.001.01">
 <xs:import namespace="urn:swift:snl:ns.SwGbl" schemaLocation="SwGbl.xsd"/>
 <xs:import namespace="urn:swift:snl:ns.SwInt" schemaLocation="SwInt.xsd"/>
 <xs:import namespace="urn:swift:snl:ns.Sw" schemaLocation="Sw.xsd"/>
 <xs:element name="Document" type="Doc:Document"/>
 <xs:complexType name="Document">
  <xs:sequence>
   <xs:element name="xsys.027.001.01" type="Doc:OutputChannelReport">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutputChannelListReportV01</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ExecutionReportFailureDetails">
  <xs:sequence>
   <xs:element ref="SwGbl:StatusAttributes">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusAttributes</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:simpleType name="PCDATA">
  <xs:restriction base="xs:string"/>
 </xs:simpleType>
 <xs:complexType name="OutputChannelDetails">
  <xs:sequence>
   <xs:element name="Stat" type="Doc:PCDATA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">State</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element name="LastStatChngTm" type="Doc:SwDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastStateChangeTime</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element name="LastStatChngDN" type="Doc:PCDATA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastStateChangeDN</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element ref="Sw:OutputChannel">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutputChannel</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" ref="SwInt:Queue">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Queue</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" name="ShrMd" type="Doc:PCDATA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharingMode</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" ref="Sw:SnFSessionId">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StoreAndForwardSessionId</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" name="AckPndng" type="Doc:SwBooleanIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcknowledgementsPending</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element maxOccurs="unbounded" minOccurs="0" ref="Sw:Subset">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Subset</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" ref="Sw:WindowSize">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WindowSize</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" ref="Sw:LastSnFOutputSeq">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastSnFOutputSequence</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="OutputChannelList">
  <xs:sequence>
   <xs:element maxOccurs="unbounded" name="OutptChanlDtls" type="Doc:OutputChannelDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutputChannelDetails</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="OutputChannelReport">
  <xs:sequence>
   <xs:element name="ReqRef" type="Doc:RequestReference">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestReference</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element name="RptInf" type="Doc:ReportInformation">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportInformation</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" name="OutptChanlList" type="Doc:OutputChannelList">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutputChannelList</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ReportInformation">
  <xs:sequence>
   <xs:element name="PgNb" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element name="LstPgInd" type="Doc:SwBooleanIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndication</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element name="ExctnRptRslt" type="Doc:ResultCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionReportResult</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" name="ExctnRptFailrDtls" type="Doc:ExecutionReportFailureDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionReportFailureDetails</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element name="ExctnTm" type="Doc:SwDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionTime</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="RequestReference">
  <xs:sequence>
   <xs:element ref="Sw:SnFRef">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StoreAndForwardReference</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:simpleType name="ResultCode">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Success"/>
   <xs:enumeration value="Failure"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="SwBooleanIndicator">
  <xs:restriction base="xs:string">
   <xs:enumeration value="TRUE"/>
   <xs:enumeration value="FALSE"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="SwDateTime">
  <xs:restriction base="xs:dateTime"/>
 </xs:simpleType>
 <xs:simpleType name="SwDecimal">
  <xs:restriction base="xs:decimal"/>
 </xs:simpleType>
</xs:schema>
