enContent/WebContent/xsd/xsys.019.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFT sc (build:R7.0.0.0) on 2010-04-16T10:15:30--><xs:schema xmlns:Doc="urn:swift:xsd:xsys.019.001.01" xmlns:Sw="urn:swift:snl:ns.Sw" xmlns:SwGbl="urn:swift:snl:ns.SwGbl" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:xsys.019.001.01">
 <xs:import namespace="urn:swift:snl:ns.SwGbl" schemaLocation="SwGbl.xsd"/>
 <xs:import namespace="urn:swift:snl:ns.Sw" schemaLocation="Sw.xsd"/>
 <xs:element name="Document" type="Doc:Document"/>
 <xs:complexType name="Document">
  <xs:sequence>
   <xs:element name="xsys.019.001.01" type="Doc:SessionHistoryReport">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SessionHistoryReportV01</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ExecutionReportFailureDetails">
  <xs:sequence>
   <xs:element ref="SwGbl:StatusAttributes">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusAttributes</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:simpleType name="PCDATA">
  <xs:restriction base="xs:string"/>
 </xs:simpleType>
 <xs:complexType name="InputOutputChannelList">
  <xs:sequence>
    <xs:element minOccurs="0" name="InptChnlList" type="Doc:InputChannelList">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InputChannelList</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element minOccurs="0" name="OutptChnlList" type="Doc:OutputChannelList">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutputChannelList</xs:documentation>
                </xs:annotation>
            </xs:element>   
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="InputChannelList">
  <xs:sequence>
    <xs:element maxOccurs="unbounded" name="InptChnlDtls" type="Doc:InputChannelDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InputChannelDetails</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="OutputChannelList">
  <xs:sequence>
    <xs:element maxOccurs="unbounded" name="OutptChnlDtls" type="Doc:OutputChannelDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutputChannelDetails</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="InputChannelDetails">
  <xs:sequence>
    <xs:element name="InptChnl" type="Doc:PCDATA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InputChannel</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element minOccurs="0" name="InptChnlSsnList" type="Doc:InputChannelSessionList">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InputChannelSessionList</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element name="TtlNbOfSntMsgs" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalNumberOfSentMessages</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="OutputChannelDetails">
  <xs:sequence>
    <xs:element name="OutptChnl" type="Doc:PCDATA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutputChannel</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element minOccurs="0" name="OutptChnlSsnList" type="Doc:OutputChannelSessionList">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutputChannelSessionList</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element name="TtlNbOfRcvdMsgs" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalNumberOfReceivedMessages</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>  
 <xs:complexType name="InputChannelSessionList">
  <xs:sequence>
    <xs:element maxOccurs="unbounded" name="InptChnlSsnDtls" type="Doc:InputChannelSessionDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InputChannelSessionDetails</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="OutputChannelSessionList">
  <xs:sequence>
    <xs:element maxOccurs="unbounded" name="OutptChnlSsnDtls" type="Doc:OutputChannelSessionDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutputChannelSessionDetails</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="InputChannelSessionDetails">
  <xs:sequence>
    <xs:element name="AuthstnDN" type="Doc:PCDATA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AuthorisationDN</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element name="WndwSz" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WindowSize</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element name="SsnOpnTm" type="Doc:SwDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SessionOpenTime</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element name="SsnClsTm" type="Doc:SwDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SessionCloseTime</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element name="NbOfSntMsgs" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NumberOfSentMessages</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element minOccurs="0" name="FrstSnFInptSeq" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FirstSnFInputSequence</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element minOccurs="0" name="LstSnFInptSeq" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastSnFInputSequence</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="OutputChannelSessionDetails">
  <xs:sequence>
    <xs:element name="AuthstnDN" type="Doc:PCDATA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AuthorisationDN</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element name="QNm" type="Doc:PCDATA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueueName</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element ref="Sw:SnFSessionId">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StoreAndForwardSessionId</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element name="WndwSz" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WindowSize</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element maxOccurs="unbounded" minOccurs="0" name="Subst" type="Doc:PCDATA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Subset</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element name="SsnOpnTm" type="Doc:SwDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SessionOpenTime</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element name="SsnClsTm" type="Doc:SwDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SessionCloseTime</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element name="NbOfRcvdMsgs" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NumberOfReceivedMessages</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element minOccurs="0" name="FrstSnFOutptSeq" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FirstSnFOutputSequence</xs:documentation>
                </xs:annotation>
            </xs:element>
    <xs:element minOccurs="0" name="LstSnFOutptSeq" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastSnFOutputSequence</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>  
 <xs:complexType name="SessionHistoryReport">
  <xs:sequence>
   <xs:element name="ReqRef" type="Doc:RequestReference">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestReference</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element name="RptInf" type="Doc:ReportInformation">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportInformation</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" name="InptOutptChnlList" type="Doc:InputOutputChannelList">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InputOutputChannelList</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ReportInformation">
  <xs:sequence>
   <xs:element name="PgNb" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element name="LstPgInd" type="Doc:SwBooleanIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndication</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element name="ExctnRptRslt" type="Doc:ResultCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionReportResult</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element minOccurs="0" name="ExctnRptFailrDtls" type="Doc:ExecutionReportFailureDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionReportFailureDetails</xs:documentation>
                </xs:annotation>
            </xs:element>
   <xs:element name="ExctnTm" type="Doc:SwDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionTime</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="RequestReference">
  <xs:sequence>
   <xs:element ref="Sw:SnFRef">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StoreAndForwardReference</xs:documentation>
                </xs:annotation>
            </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:simpleType name="ResultCode">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Success"/>
   <xs:enumeration value="Failure"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="SwBooleanIndicator">
  <xs:restriction base="xs:string">
   <xs:enumeration value="TRUE"/>
   <xs:enumeration value="FALSE"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="SwDateTime">
  <xs:restriction base="xs:dateTime"/>
 </xs:simpleType>
 <xs:simpleType name="SwDecimal">
  <xs:restriction base="xs:decimal"/>
 </xs:simpleType>
</xs:schema>
