enContent/WebContent/xsd/xsys.018.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFT sc (build:R7.0.0.0) on 2010-04-16T10:15:30--><xs:schema xmlns:Doc="urn:swift:xsd:xsys.018.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:xsys.018.001.01">
    <xs:element name="Document" type="Doc:Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="xsys.018.001.01" type="Doc:SessionHistoryRequest">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SessionHistoryReportRequestV01</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SessionHistoryRequest">
        <xs:sequence>
            <xs:element name="RptCrit" type="Doc:SessionHistoryCriteria">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportCriteria</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SessionHistoryCriteria">
        <xs:sequence>
            <xs:element name="ChnlNmPttrn" type="Doc:PCDATA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ChannelNamePattern</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="RptOptn" type="Doc:ReportOption">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportOption</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TmRg" type="Doc:TimeRange">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TimeRange</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimeRange">
        <xs:sequence>
            <xs:element name="FrTm" type="Doc:SwDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromTime</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToTm" type="Doc:SwDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToTime</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportOption">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Input"/>
            <xs:enumeration value="Output"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwDateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="PCDATA">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
</xs:schema>
