enContent/WebContent/xsd/xsys.007.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R6.0.1.1) on 2007 Jun 15 11:47:27--><xs:schema xmlns:Doc="urn:swift:xsd:xsys.007.001.01" xmlns:Sw="urn:swift:snl:ns.Sw" xmlns:SwGbl="urn:swift:snl:ns.SwGbl" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:xsys.007.001.01">
    <xs:import namespace="urn:swift:snl:ns.Sw" schemaLocation="Sw.xsd"/>
    <xs:import namespace="urn:swift:snl:ns.SwGbl" schemaLocation="SwGbl.xsd"/>
    <xs:element name="Document" type="Doc:Document"/>
    <xs:complexType name="AbstractInputchannelDetails">
        <xs:sequence>
            <xs:element name="Stat" type="Doc:InputChannelStateCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">State</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastStatChngTm" type="Doc:SwDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastStateChangeTime</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastStatChngDN" type="Doc:Max100Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastStateChangeDN</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="xsys.007.001.01" type="Doc:InputChannelReport">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InputChannelReportV01</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InputChannelDetails">
        <xs:complexContent>
            <xs:extension base="Doc:AbstractInputchannelDetails">
                <xs:sequence>
                    <xs:element ref="Sw:InputChannel">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">InputChannel</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="Sw:WindowSize">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">WindowSize</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="Sw:NextSnFInputSeq">
                        <xs:annotation>
                            <xs:documentation source="Name" xml:lang="EN">NextSnFInputSeq</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="InputChannelList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="InptChanlDtls" type="Doc:InputChannelDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InputChannelDetails</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InputChannelReport">
        <xs:sequence>
            <xs:element name="ReqRef" type="Doc:RequestReference">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestReference</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptInf" type="Doc:ReportInfo">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportInfo</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="InptChanlList" type="Doc:InputChannelList">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InputChannelList</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InputChannelStateCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Open"/>
            <xs:enumeration value="Closed"/>
            <xs:enumeration value="Deleted"/>
            <xs:enumeration value="Locked"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReportInfo">
        <xs:sequence>
            <xs:element name="PgNb" type="Doc:SwDecimal">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LstPgInd" type="Doc:SwBooleanIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageInd</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ExctnRptRslt" type="Doc:ResultCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecReportResult</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ExctnRptFailrDtls" type="SwGbl:Status">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionReportFailureDetails</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ExctnTm" type="Doc:SwDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecTime</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestReference">
        <xs:sequence>
            <xs:element ref="Sw:SnFRef">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SnFRef</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ResultCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Success"/>
            <xs:enumeration value="Failure"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwBooleanIndicator">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TRUE"/>
            <xs:enumeration value="FALSE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwDateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="SwDecimal">
        <xs:restriction base="xs:decimal"/>
    </xs:simpleType>
</xs:schema>
